<!-- Copyright (C) Claus Bendig -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Kiwi-IDE</title>
  </head>
  <body style="overflow: auto;">
    <div>
    <%_ for(var i=0; i < packages.length; i++) { -%>
      <div class="panel panel-default" style="margin: 10px; margin-top: 10px;">
        <div class="panel-heading" style="color: white;"><%- packages[i].packageJson.name %></div>
        <table class="table" style="border: 0px; border-bottom: 2px solid #5e6870;">
          <tbody>
            <%if (packages[i].packageJson.author != undefined) { %>
              <%if (packages[i].packageJson.author.name != undefined) { %>
                <tr>
                  <td width="100px">Author</td>
                  <td><%- packages[i].packageJson.author.name %></td>
                </tr>    
              <% } %>
              <%if (packages[i].packageJson.author.email != undefined) { %>
                <tr>
                  <td width="100px">E-Mail</td>
                  <td><%- packages[i].packageJson.author.email %></td>
                </tr>
              <% } %>
            <% } %>
            <tr>
              <td width="100px">License</td>
              <td><%- packages[i].license.name %></td>
            </tr>
            <tr>
              <td width="100px">Version</td>
              <td><%- packages[i].packageJson.version %></td>
            </tr>
            <tr>
            <td width="100px">Homepage</td>
              <td><%- packages[i].packageJson.homepage %></td>
            </tr>
          </tbody>
        </table>
        <div class="panel-body" style="border-top: 0px;">
          <p style="border: 0px;">
            <pre style="border: 0px; margin: 0px; padding: 0px; background-color: inherit; color: inherit;">
              <%- packages[i].license.text -%>
            </pre>
          </p>
        </div>
      </div>
    <%_ } -%>
    </div>
  </body>
</html>