select {
  option {
    background-color: @gray-pad;
    border-color: @gray-head;
  }
}

.bootstrap-select {
  width: 100%;
  color: @gray-ui;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;


  &.form-control {

  }

  .dropdown-toggle.btn-default, .dropdown-toggle.btn-default:hover {
    border: 1px solid @gray-dark;
    background-color: @gray-dark;
    box-shadow: none;
    outline: none !important;
  }

  &.open>.dropdown-toggle.btn-default,
  &.open>.dropdown-toggle.btn-default:hover,
  .dropdown-toggle.btn-default.active,
  .dropdown-toggle.btn-default:active,
  .dropdown-toggle.btn-default:focus {
    background-color: @gray-dark;
    box-shadow: 0 0px 3px @gray-ui;
    outline: none !important;
  }

  .dropdown-toggle.btn-xs, .dropdown-toggle.btn-xs:hover {
    border: 1px solid @gray-dark;
    background-color: @gray-dark;
    box-shadow: none;
    outline: none !important;
  }

  &.open>.dropdown-toggle.btn-xs,
  &.open>.dropdown-toggle.btn-xs:hover,
  .dropdown-toggle.btn-xs.active,
  .dropdown-toggle.btn-xs:active,
  .dropdown-toggle.btn-xs:focus {
    background-color: @gray-dark;
    box-shadow: 0 0px 3px @gray-ui;
    outline: none !important;
  }

  .dropdown-toggle.btn-danger, .dropdown-toggle.btn-danger:hover {
    border: 1px solid @red;
  }

  &.open>.dropdown-toggle.btn-danger,
  &.open>.dropdown-toggle.btn-danger:hover,
  .dropdown-toggle.btn-danger.active,
  .dropdown-toggle.btn-danger:active,
  .dropdown-toggle.btn-danger:focus {
    border: 1px solid @red;
    box-shadow: 0 0px 3px @red;
  }

  .dropdown-menu li a {
    outline: none !important;
  }

  &.input-group-btn {
    float: left;
  }
}