.alert {
  background-color: @gray-back;
  color: @gray-text;
  border: 2px solid @gray-ui;
  // box-shadow: 0px 0px 3px @gray-ui;

  .close {
    outline: none;
    text-shadow: none;
    opacity: .8;
    color: @gray-text;

    &:hover {
      opacity: 1;
      color: inherit;
    }
  }

  .alert-ico {
    margin-right: 15px;
  }

  .modal & {
    margin-bottom: 0;
  }
}

.alert-danger {
  border-color: @red;
  // color: @red;
}
.alert-success {
  border-color: @green;
  // color: @green;
}
.alert-info {
  border-color: @gray-ui;
  // color: @blue-light;
}
.alert-warning {
  border-color: @yellow;
  // color: @yellow;
}