.btn {
  background-color: @gray-dark;
  border-color: @gray-dark;
  color: #fff;
  outline: none;

  &:hover, &:focus, &:active, &:active:focus, &:active:hover,
  &.active, &.active:hover, &.active:active, &.active:focus,
  &.focus, &.active.focus,
  .open>&.dropdown-toggle.btn-default,
  .open>&.dropdown-toggle.btn-default:focus,
  .open>&.dropdown-toggle.btn-default:active,
  .open>&.dropdown-toggle.btn-default:hover {
    background-color: darken(@gray-dark, 5%);
    border-color: @gray-dark;
    outline: none;
    color: #fff;
  }

  &.disabled, &[disabled],
  &.disabled:active, &[disabled]:active,
  &.disabled.active, &[disabled].active,
  &.disabled:hover, &[disabled]:hover,
  &.disabled:focus, &[disabled]:focus {
    background-color: @gray-dark;
    border-color: @gray-dark;
    opacity: .5;
  }
}

.btn-default {
  color: @gray-ui;

  &:hover, &:focus, &:active, &:active:focus, &:active:hover,
  &.active, &.active:hover, &.active:active, &.active:focus,
  &.focus, &.active.focus,
  .open>&.dropdown-toggle.btn-default,
  .open>&.dropdown-toggle.btn-default:focus,
  .open>&.dropdown-toggle.btn-default:active,
  .open>&.dropdown-toggle.btn-default:hover {
    color: @gray-ui;
  }
}

.btn-xs {
  color: @gray-ui;

  &:hover, &:focus, &:active, &:active:focus, &:active:hover,
  &.active, &.active:hover, &.active:active, &.active:focus,
  &.focus, &.active.focus,
  .open>&.dropdown-toggle.btn-default,
  .open>&.dropdown-toggle.btn-default:focus,
  .open>&.dropdown-toggle.btn-default:active,
  .open>&.dropdown-toggle.btn-default:hover {
    color: @gray-ui;
  }
}

.btn-primary {
  background-color: @blue;
  border-color: @blue;

  &:hover, &:focus, &:active, &:active:focus, &:active:hover,
  &.active, &.active:hover, &.active:active, &.active:focus,
  &.focus, &.active.focus,
  .open>&.dropdown-toggle.btn-primary,
  .open>&.dropdown-toggle.btn-primary:focus,
  .open>&.dropdown-toggle.btn-primary:active,
  .open>&.dropdown-toggle.btn-primary:hover {
    background-color: darken(@blue, 10%);
    border-color: darken(@blue, 10%);
    outline: none;
  }

  &.disabled, &[disabled],
  &.disabled:active, &[disabled]:active,
  &.disabled.active, &[disabled].active,
  &.disabled:hover, &[disabled]:hover,
  &.disabled:focus, &[disabled]:focus {
    background-color: @blue;
    border-color: @blue;
    opacity: .5;
  }
}

.btn-danger {
  background-color: @red;
  border-color: @red;

  &:hover, &:focus, &:active, &:active:focus, &:active:hover,
  &.active, &.active:hover, &.active:active, &.active:focus,
  &.focus, &.active.focus,
  .open>&.dropdown-toggle.btn-danger,
  .open>&.dropdown-toggle.btn-danger:focus,
  .open>&.dropdown-toggle.btn-danger:active,
  .open>&.dropdown-toggle.btn-danger:hover {
    background-color: darken(@red, 5%);
    border-color: darken(@red, 5%);
    outline: none;
  }

  &.disabled, &[disabled],
  &.disabled:active, &[disabled]:active,
  &.disabled.active, &[disabled].active,
  &.disabled:hover, &[disabled]:hover,
  &.disabled:focus, &[disabled]:focus {
    background-color: @red;
    border-color: @red;
    opacity: .5;
  }
}

.btn-warning {
  background-color: @yellow;
  border-color: @yellow;

  &:hover, &:focus, &:active, &:active:focus, &:active:hover,
  &.active, &.active:hover, &.active:active, &.active:focus,
  &.focus, &.active.focus,
  .open>&.dropdown-toggle.btn-warning,
  .open>&.dropdown-toggle.btn-warning:focus,
  .open>&.dropdown-toggle.btn-warning:active,
  .open>&.dropdown-toggle.btn-warning:hover {
    background-color: darken(@yellow, 10%);
    border-color: darken(@yellow, 10%);
    outline: none;
  }

  &.disabled, &[disabled],
  &.disabled:active, &[disabled]:active,
  &.disabled.active, &[disabled].active,
  &.disabled:hover, &[disabled]:hover,
  &.disabled:focus, &[disabled]:focus {
    background-color: @yellow;
    border-color: @yellow;
    opacity: .5;
  }
}

.btn-info {
  background-color: @blue-light;
  border-color: @blue-light;

  &:hover, &:focus, &:active, &:active:focus, &:active:hover,
  &.active, &.active:hover, &.active:active, &.active:focus,
  &.focus, &.active.focus,
  .open>&.dropdown-toggle.btn-info,
  .open>&.dropdown-toggle.btn-info:focus,
  .open>&.dropdown-toggle.btn-info:active,
  .open>&.dropdown-toggle.btn-info:hover {
    background-color: darken(@blue-light, 10%);
    border-color: darken(@blue-light, 10%);
    outline: none;
  }

  &.disabled, &[disabled],
  &.disabled:active, &[disabled]:active,
  &.disabled.active, &[disabled].active,
  &.disabled:hover, &[disabled]:hover,
  &.disabled:focus, &[disabled]:focus {
    background-color: @blue-light;
    border-color: @blue-light;
    opacity: .5;
  }
}

.btn-success {
  background-color: @green;
  border-color: @green;

  &:hover, &:focus, &:active, &:active:focus, &:active:hover,
  &.active, &.active:hover, &.active:active, &.active:focus,
  &.focus, &.active.focus,
  .open>&.dropdown-toggle.btn-success,
  .open>&.dropdown-toggle.btn-success:focus,
  .open>&.dropdown-toggle.btn-success:active,
  .open>&.dropdown-toggle.btn-success:hover {
    background-color: darken(@green, 10%);
    border-color: darken(@green, 10%);
    outline: none;
  }

  &.disabled, &[disabled],
  &.disabled:active, &[disabled]:active,
  &.disabled.active, &[disabled].active,
  &.disabled:hover, &[disabled]:hover,
  &.disabled:focus, &[disabled]:focus {
    background-color: @green;
    border-color: @green;
    opacity: .5;
  }
}
