.modal {

  .modal-content {
    background-color: @gray-back;
    color: @gray-text;
  }

  .modal-header {
    border-bottom: 2px solid @gray-ui;
    background-color: @gray-dark;
    color: @gray-ui;

    .close {
      outline: none;
      text-shadow: none;
      color: @gray-ui;
      opacity: .8;

      &:hover {
        opacity: 1;
      }
    }
  }

  .modal-footer {
    // border-top: 1px solid @gray-pad;
    border-top: 0px;
  }
}

.modal-backdrop {
  // background-color: @garnet-muddy;

  &.in {
    // opacity: 0.4;
    opacity: 0.2;
  }
}