.well {
  background-color: @gray-dark;
  border-color: @gray-dark;
  box-shadow: none;
  color: @gray-ui;

  &::-moz-placeholder           { color: @gray-ui; }
  &:-ms-input-placeholder       { color: @gray-ui; }
  &::-webkit-input-placeholder  { color: @gray-ui; }

  &:hover {
    border-color: @gray-dark;
    box-shadow: inset 0 0px 3px @gray-ui;
  }
}