<!-- Copyright (C) Claus Bendig -->
<template>
  <div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title" style="height: 22px; line-height: 22px;">{{ $t('Editor.Console.Title') }}</h3>
        <div class="panel-title pull-right">
          <button @click="close" class="btn btn-default btn-xs pull-right">
            <i class="fas fa-times"></i>
          </button>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="panel-body">
      </div>
    </div>
  </div>
</template>

<script>
export default {
  methods: {
    close() {
      this.$router.push(this.$core.UI.LastPath);
    }
  }
};
</script>

<style scoped>
.panel {
  position: absolute;
  left: 225px;
  right: 225px;
  top: 60px;
  bottom: -5px;
  overflow: auto;
  padding: 0px;
}

.panel-title {
  display: inline-block;
}

.panel-body {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 45px;
  bottom: 0px;
  overflow: auto;
  padding: 10px;
}
</style>