<!-- Copyright (C) Claus Bendig -->
<template>
  <div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title pull-left" style="height: 22px; line-height: 22px;">{{ $t('Editor.DataType.Title') }}</h3>
        <div class="panel-title pull-right">
          <selection v-model="DerivationType" :entries="Entries" datawidth="100px" datastyle="btn-xs" datacontainer="body" />
        </div>
        <transition name="fade" mode="out-in">
          <div v-if="(DerivationType == $t('Editor.DataType.Enumeration')) || (DerivationType == $t('Editor.DataType.Structure'))">
            <button @click="onDown"   class="btn btn-default btn-xs pull-right" style="margin-right: 20px;"><i class="fas fa-arrow-down"></i></button>
            <button @click="onUp"     class="btn btn-default btn-xs pull-right" style="margin-right: 10px;"><i class="fas fa-arrow-up"></i></button>
            <button @click="onRemove" class="btn btn-default btn-xs pull-right" style="margin-right: 10px;"><i class="fas fa-minus"></i></button>
            <button @click="onAdd"    class="btn btn-default btn-xs pull-right" style="margin-right: 10px;"><i class="fas fa-plus"></i></button>
          </div>
        </transition>
        <div class="clearfix"></div>
      </div>
      <transition name="expand" mode="out-in">
        <directly-data-type    v-if="DataType.DerivationType == 'Directly'"    :DataType="DataType" />
        <subrange-data-type    v-if="DataType.DerivationType == 'Subrange'"    :DataType="DataType" />
        <enumeration-data-type v-if="DataType.DerivationType == 'Enumeration'" :DataType="DataType" />
        <array-data-type       v-if="DataType.DerivationType == 'Array'"       :DataType="DataType" />
        <structure-data-type   v-if="DataType.DerivationType == 'Structure'"   :DataType="DataType" />
      </transition>
    </div>
  </div>
</template>

<script>
export default {
  computed: {
    DerivationType: {
      get() {
        switch(this.DataType.DerivationType) {
          case 'Directly':
            return this.$t('Editor.DataType.Directly');
            break;

          case 'Subrange':
            return this.$t('Editor.DataType.Subrange');
            break;

          case 'Enumeration':
            return this.$t('Editor.DataType.Enumeration');
            break;

          case 'Array':
            return this.$t('Editor.DataType.Array');
            break;

          case 'Structure':
            return this.$t('Editor.DataType.Structure');
            break;
        }
      },
      set(value) {
        switch(value) {
          case this.$t('Editor.DataType.Directly'):
            this.DataType = this.$core.Project.DataType.changeDerivation(this.DataType, 'Directly');
            break;

          case this.$t('Editor.DataType.Subrange'):
            this.DataType = this.$core.Project.DataType.changeDerivation(this.DataType, 'Subrange');
            break;

          case this.$t('Editor.DataType.Enumeration'):
            this.DataType = this.$core.Project.DataType.changeDerivation(this.DataType, 'Enumeration');
            break;

          case this.$t('Editor.DataType.Array'):
            this.DataType = this.$core.Project.DataType.changeDerivation(this.DataType, 'Array');
            break;

          case this.$t('Editor.DataType.Structure'):
            this.DataType = this.$core.Project.DataType.changeDerivation(this.DataType, 'Structure');
            break;
        }
      }
    },
    Entries() {
      return {
        Options: [
          this.$t('Editor.DataType.Directly'),
          this.$t('Editor.DataType.Subrange'),
          this.$t('Editor.DataType.Enumeration'),
          this.$t('Editor.DataType.Array'),
          this.$t('Editor.DataType.Structure')
        ]
      };
    }
  },
  data() {
    return {
      DataType: null
    };
  },
  methods: {
    onAdd() {
      this.$eventBus.$emit('DataType.Add');
    },
    onRemove() {
      this.$eventBus.$emit('DataType.Remove');
    },
    onUp() {
      this.$eventBus.$emit('DataType.Up');
    },
    onDown() {
      this.$eventBus.$emit('DataType.Down');
    }
  },
  beforeMount() {
    this.DataType = this.$core.Project.DataType.get(this.$route.params.unit);
  },
  beforeDestroy() {
    this.$core.Project.DataType.set(this.DataType);
  }
};
</script>

<style scoped>
.panel {
  margin: 10px;
  position: absolute;
  width: calc(100% - 450px);
  overflow: hidden;
}

.panel-title {
  display: inline-block;
}

.expand-enter-active, .expand-leave-active {
  transition: all 0.25s ease-in-out;
  max-height: 400px; 
}

.expand-enter, .expand-leave-to {
  margin-top: 0px;
  max-height: 0;
  padding: 0px;
}
</style>