<!-- Copyright (C) Claus Bendig -->
<template>
  <div class="fbd-content">

    <div class="variables-table-content">
      <div class="variables-table-cell">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title" style="height: 22px; line-height: 22px;">{{ $t('Editor.VariablesTable.Title') }}</h3>
            <div class="panel-title pull-right">
              <button @click="toggleExpand" class="btn btn-default btn-xs pull-right">
                <i v-if="Expanded" class="fas fa-caret-up"></i>
                <i v-else class="fas fa-caret-down"></i>
              </button>
            </div>
            <data-type v-if="POU.POUType == 'Function'" v-model="POU.Return" datawidth="105px" datastyle="btn-xs" class="panel-title pull-right" void style="margin-right: 20px;" />
            <div class="panel-title pull-right">
              <button class="btn btn-default btn-xs pull-right" style="margin-right: 20px;" @click="onVariableDown"><i class="fas fa-arrow-down"></i></button>
              <button class="btn btn-default btn-xs pull-right" style="margin-right: 10px;" @click="onVariableUp"><i class="fas fa-arrow-up"></i></button>
              <button class="btn btn-default btn-xs pull-right" style="margin-right: 10px;" @click="onVariableRemove"><i class="fas fa-minus"></i></button>
              <button class="btn btn-default btn-xs pull-right" style="margin-right: 10px;" @click="onVariableAdd"><i class="fas fa-plus"></i></button>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="panel-body" v-bind:class="{ 'panel-body-visible': Expanded }">
            <variables-table :variables="POU.Variables" :program="program" :functionblock="functionblock" :func="func" height="200" />
          </div>
        </div>
      </div>
    </div>
    
    <function-block-diagram :expandedVariablesTable="Expanded" :pou="POU" />

  </div>
</template>

<script>
export default {
  computed: {
    POU() {
      if (this.program) {
        return this.$core.Project.Program.get(this.$route.params.unit);
      }
      if (this.functionblock) {
        return this.$core.Project.FunctionBlock.get(this.$route.params.unit);
      }
      if (this.func) {
        return this.$core.Project.Function.get(this.$route.params.unit);
      }
    },
    program() {
      if (this.$route.params.type == "Program") {
        return true;
      } else {
        return false;
      }
    },
    functionblock() {
      if (this.$route.params.type == "FunctionBlock") {
        return true;
      } else {
        return false;
      }
    },
    func() {
      if (this.$route.params.type == "Function") {
        return true;
      } else {
        return false;
      }
    },
  },
  data() {
    return {
      Expanded: true,
    };
  },
  methods: {
    toggleExpand: function() {
      this.Expanded = !this.Expanded;
    },
    onVariableAdd: function() {
      this.$eventBus.$emit('Variable.Add');
    },
    onVariableRemove: function() {
      this.$eventBus.$emit('Variable.Remove');
    },
    onVariableUp: function() {
      this.$eventBus.$emit('Variable.Up');
    },
    onVariableDown: function() {
      this.$eventBus.$emit('Variable.Down');
    }
  }
};
</script>

<style scoped>
.fbd-content {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  display: table;
  padding-bottom: 10px;
}

.variables-table-content {
  display: table-row;
  height: fit-content;
}

.variables-table-cell {
  display: table-cell;
}

.panel {
  margin: 10px;
}

.panel-body {
  height: 0px;
  transition: all 0.5s ease-in-out;
  padding: 0px;
  margin-top: 10px;
  overflow: hidden;
}

.panel-body-visible {
  margin-top: 0px;
  height: 200px;
  padding-bottom: 5px;
}

.panel-title {
  display: inline-block;
}

</style>