<!-- Copyright (C) Claus Bendig -->
<template>
  <div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title pull-left" style="height: 22px; line-height: 22px;">{{ $t('Editor.GlobalVariables.Title') }}</h3>
        <div class="panel-title pull-right">
          <div class="panel-title pull-right">
            <button @click="onVariableDown" class="btn btn-default btn-xs pull-right"><i class="fas fa-arrow-down"></i></button>
            <button @click="onVariableUp" class="btn btn-default btn-xs pull-right" style="margin-right: 10px;"><i class="fas fa-arrow-up"></i></button>
            <button @click="onVariableRemove" class="btn btn-default btn-xs pull-right" style="margin-right: 10px;"><i class="fas fa-minus"></i></button>
            <button @click="onVariableAdd" class="btn btn-default btn-xs pull-right" style="margin-right: 10px;"><i class="fas fa-plus"></i></button>
          </div> 
        </div> 
        <div class="clearfix"></div>
      </div>
      <div class="panel-body">
        <variables-table :variables="GlobalVariables" height="560" global />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  computed: {
    GlobalVariables: function() {
      return this.$core.Project.Resource.Variable.getAll();
    }
  },
  methods: {
    onVariableAdd: function() {
      this.$eventBus.$emit('Variable.Add');
    },
    onVariableRemove: function() {
      this.$eventBus.$emit('Variable.Remove');
    },
    onVariableUp: function() {
      this.$eventBus.$emit('Variable.Up');
    },
    onVariableDown: function() {
      this.$eventBus.$emit('Variable.Down');
    }
  }
};
</script>

<style scoped>
.panel {
  margin: 10px;
}

.panel-title {
  display: inline-block;
}

.panel-body {
  padding: 0px;
}
</style>