<!-- Copyright (C) Claus Bendig -->
<template>
  <div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title pull-left" style="height: 22px; line-height: 22px;">{{ $t('Editor.Hardware.Hardware') }}</h3>
        <div class="panel-title pull-right">
          <!-- <button @click="onTaskDown" class="btn btn-default btn-xs pull-right"><i class="fas fa-arrow-down"></i></button>
          <button @click="onTaskUp" class="btn btn-default btn-xs pull-right" style="margin-right: 10px;"><i class="fas fa-arrow-up"></i></button>
          <button @click="onTaskRemove" class="btn btn-default btn-xs pull-right" style="margin-right: 10px;"><i class="fas fa-minus"></i></button>
          <button @click="onTaskAdd" class="btn btn-default btn-xs pull-right" style="margin-right: 10px;"><i class="fas fa-plus"></i></button> -->
        </div> 
        <div class="clearfix"></div>
      </div>
      <div class="panel-body">
        <div class="well well-sm">{{ $t('Editor.Hardware.DragCPUHere') }}</div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  data() {
    return {
    }
  },
  methods: {
  }

};
</script>

<style scoped>
.panel {
  margin: 10px;
}

.panel-body {
  width: 100%;
  text-align: center;
}

.well {
  width: 200px;
  height: 34px;
  text-align: center;
  margin-bottom: 0px;
  display: inline-block;
  padding: 7px !important;
}
</style>