<!-- Copyright (C) Claus Bendig -->
<template>
  <div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{ $t('Editor.Properties.Properties') }}</h3>
      </div>
      <div class="panel-body" style="padding-bottom: 5px;">
        <form class="form">
          <div class="">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-6" style="padding-right: 7.5px;">
                    <div class="form-group">
                      <div class="input-group" :class="{ 'has-error': errors.has('ProjectName') }">
                        <div class="input-group-addon"><i class="fa fa-cog"></i></div>
                        <input class="form-control" name="ProjectName" v-validate="'required'" :placeholder="$t('Editor.Properties.ProjectName')" type="text" v-model="ProjectName">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="input-group" :class="{ 'has-error': errors.has('CompanyName') }">
                        <div class="input-group-addon"><i class="fa fa-building"></i></div>
                        <input class="form-control" name="CompanyName" v-validate="'required'" :placeholder="$t('Editor.Properties.Company')" type="text" v-model="CompanyName">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="input-group" :class="{ 'has-error': errors.has('ProductName') }">
                        <div class="input-group-addon"><i class="fa fa-fw fa-cube"></i></div>
                        <input class="form-control" name="ProductName" v-validate="'required'" :placeholder="$t('Editor.Properties.ProductName')" type="text" v-model="ProductName">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6" style="padding-left: 7.5px;">
                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-user"></i></div>
                        <input class="form-control" :placeholder="$t('Editor.Properties.Author')" type="text" v-model="Author">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="input-group" :class="{ 'has-error': errors.has('CompanyURL') }">
                        <div class="input-group-addon"><i class="fa fa-link"></i></div>
                        <input class="form-control" name="CompanyURL" v-validate="'url'" :placeholder="$t('Editor.Properties.CompanyURL')" type="text" v-model="CompanyURL">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="input-group" :class="{ 'has-error': errors.has('ProductVersion') }">
                        <div class="input-group-addon"><i class="fa fa-code-branch"></i></div>
                        <input class="form-control" name="ProductVersion" v-validate="'required'" :placeholder="$t('Editor.Properties.ProductVersion')" type="text" v-model="ProductVersion">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <textarea class="form-control" rows="3" :placeholder="$t('Editor.Properties.Description')" style="width: 100%; height: 145px; resize: none;" v-model="Description"></textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
        <button :disabled="errors.has('ProjectName') || errors.has('CompanyName') || errors.has('ProductName') || errors.has('ProductVersion') || errors.has('CompanyURL')" class="btn btn-default" style="margin-bottom: 10px;" @click="apply"><i class="fas fa-check"></i>&nbsp;&nbsp;{{ $t('Editor.Properties.Apply') }}</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      ProjectName: '',
      Author: '',
      CompanyName: '',
      CompanyURL: '',
      ProductName: '',
      ProductVersion: '',
      Description: ''
    };
  },
  methods: {
    apply() {
      this.$core.Project.Meta.set({
        Name:           this.ProjectName,
        Author:         this.Author,
        CompanyName:    this.CompanyName,
        CompanyURL:     this.CompanyURL,
        ProductName:    this.ProductName,
        ProductVersion: this.ProductVersion,
        Description:    this.Description
      });
    }
  },
  beforeMount() {
    var meta = this.$core.Project.Meta.get();
    this.ProjectName    = meta.Name;
    this.CompanyName    = meta.CompanyName;
    this.ProductName    = meta.ProductName;
    this.ProductVersion = meta.ProductVersion;
    this.Author         = meta.Author;
    this.CompanyURL     = meta.CompanyURL;
    this.Description    = meta.Description;
  }
};
</script>

<style scoped>
.panel {
  margin: 10px;
}
</style>