<!-- Copyright (C) Claus Bendig -->
<template>
  <div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title pull-left" style="height: 22px; line-height: 22px;">{{ $t('Editor.Tasks.Title') }}</h3>
        <div class="panel-title pull-right">
          <button @click="onTaskDown" class="btn btn-default btn-xs pull-right"><i class="fas fa-arrow-down"></i></button>
          <button @click="onTaskUp" class="btn btn-default btn-xs pull-right" style="margin-right: 10px;"><i class="fas fa-arrow-up"></i></button>
          <button @click="onTaskRemove" class="btn btn-default btn-xs pull-right" style="margin-right: 10px;"><i class="fas fa-minus"></i></button>
          <button @click="onTaskAdd" class="btn btn-default btn-xs pull-right" style="margin-right: 10px;"><i class="fas fa-plus"></i></button>
        </div> 
        <div class="clearfix"></div>
      </div>
      <div class="panel-body">
        <task-table :tasks="Tasks" :programs="Programs" :variables="GlobalVariables" height="560" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  computed: {
    Tasks: function() {
      return this.$core.Project.Resource.Task.getAll();
    },
    Programs: function() {
      return this.$core.Project.Program.getAll();
    },
    GlobalVariables: function() {
      return this.$core.Project.Resource.Variable.getAll();
    }
  },
  methods: {
    onTaskAdd: function() {
      this.$eventBus.$emit('Task.Add');
    },
    onTaskRemove: function() {
      this.$eventBus.$emit('Task.Remove');
    },
    onTaskUp: function() {
      this.$eventBus.$emit('Task.Up');
    },
    onTaskDown: function() {
      this.$eventBus.$emit('Task.Down');
    }
  }
};
</script>

<style scoped>
.panel {
  margin: 10px;
}

.panel-title {
  display: inline-block;
}

.panel-body {
  padding: 0px;
}
</style>