<!-- Copyright (C) Claus Bendig -->
<template>
  <div class="app-content">
    <vue-progress-bar></vue-progress-bar>
    <file-menu />
    <div class="main">
      <transition name="fade" mode="out-in">
        <router-view />
      </transition>
    </div>
  </div>
</template>

<script>
export default {
};
</script>

<style scoped>
.app-content {
  height: 100%;
}

.main {
  padding-top: 50px;
  height: 100%;
}
</style>