<!-- Copyright (C) Claus Bendig -->
<template>
  <div class="file-menu-content">
    <nav class="navbar navbar-fixed-top navbar-header">
      <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-brand">
              <div class="logo text-nowrap unselectable">
                <div class="logo-img" />
                <span class="logo-text">Kiwi-IDE</span>
              </div>
            </div>
        </div>
        <transition name="fade">
          <ul v-if="!displayMenu" class="nav navbar-nav navbar-right">
            <div class="btn-group" style="position: absolute; top: 0px; right: 0px; margin-right: 15px;">
              <button @click="showAbout" type="button" class="btn btn-default navbar-btn">
                <i class="fas fa-info-circle"></i>
              </button>
            </div>
          </ul>
        </transition>
        <transition name="fade">
          <div v-if="displayMenu" class="collapse navbar-collapse">
            <form class="navbar-form navbar-right search" :class="{ 'search-visible': isSearchVisible }">
              <div class="form-group">
                <input style="width: 200px;" type="text" class="form-control" :placeholder="SearchPlaceholder" v-model="SearchQuery">
              </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
              <div class="btn-group" style="margin-right: 10px;">
                <button type="button" class="btn btn-default navbar-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-plus"></i>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="#" @click="addProgram"><span><i class="fas fa-th-large"></i></span>&nbsp;&nbsp;{{ $t('Editor.Filemenu.AddProgram') }}</a></li>
                  <li><a href="#" @click="addFunction"><span><i class="fas fa-th-list"></i></span>&nbsp;&nbsp;{{ $t('Editor.Filemenu.AddFunction') }}</a></li>
                  <li><a href="#" @click="addDataType"><span><i class="fas fa-table"></i></span>&nbsp;&nbsp;{{ $t('Editor.Filemenu.AddDataType') }}</a></li>
                </ul>
              </div>
              <div class="btn-group" style="margin-right: 10px;">
                <button type="button" class="btn btn-default navbar-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-toggle-on"></i>
                </button>
                <ul class="dropdown-menu">
                  <li>
                    <a v-if="isConsoleVisible" @click="toggleConsole()" href="#"><span style="padding-left: 2px; padding-right: 3px;"><i class="fas fa-hashtag"></i></span>&nbsp;&nbsp;{{ $t('Editor.Filemenu.HideConsole') }}</a>
                    <a v-else href="#" @click="toggleConsole()"><span style="padding-left: 2px; padding-right: 3px;"><i class="fas fa-hashtag"></i></span>&nbsp;&nbsp;{{ $t('Editor.Filemenu.ShowConsole') }}</a>
                  </li>
                  <li>
                    <a v-if="isSourceCodeVisible" @click="toggleSourceCode()" href="#"><span><i class="fas fa-code"></i></span>&nbsp;&nbsp;{{ $t('Editor.Filemenu.HideSourceCode') }}</a>
                    <a v-else href="#" @click="toggleSourceCode()"><span><i class="fas fa-code"></i></span>&nbsp;&nbsp;{{ $t('Editor.Filemenu.ShowSourceCode') }}</a>
                  </li>
                  <li>
                    <a v-if="FullScreen" @click="toggleFullScreen()" href="#"><span style="padding-left: 2px; padding-right: 3px;"><i class="fas fa-compress"></i></span>&nbsp;&nbsp;{{ $t('Editor.Filemenu.FullScreen') }}</a>
                    <a v-else href="#" @click="toggleFullScreen()"><span style="padding-left: 2px; padding-right: 3px;"><i class="fas fa-expand"></i></span>&nbsp;&nbsp;{{ $t('Editor.Filemenu.FullScreen') }}</a>
                  </li>
                </ul>
              </div>
              <div class="btn-group" style="margin-right: 0px;">
                <button type="button" class="btn btn-default navbar-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-th"></i>
                </button>
                <ul class="dropdown-menu">
                  <li><a v-if="!isConnected" href="#" @click="connect"><span><i class="fas fa-link" style="margin-right: 11px;"></i></span>{{ $t('Editor.Filemenu.ConnectToPLC') }}</a></li>
                  <li><a v-if="isConnected" href="#" @click="disconnect"><span><i class="fas fa-unlink" style="margin-right: 11px;"></i></span>{{ $t('Editor.Filemenu.DisconnectFromPLC') }}</a></li>
                  <li v-if="isConnected" role="separator" class="divider"></li>
                  <li><a v-if="isConnected && !isCompiling && !isTransfering" href="#" @click="compile"><span><i class="fas fa-hammer" style="margin-right: 10px;"></i></span>{{ $t('Editor.Filemenu.CompileProject') }}</a></li>
                  <li><a v-if="isConnected && isCompiled && !isTransfering" href="#" @click="transfer"><span><i class="fas fa-upload" style="margin-right: 12px;"></i></span>{{ $t('Editor.Filemenu.TransferProject') }}</a></li>                 
                  <li><a v-if="isConnected && !isRunning && canStartStop && hasProgram" href="#" @click="start"><span><i class="fas fa-play" style="margin-right: 13px;"></i></span>{{ $t('Editor.Filemenu.RunPLC') }}</a></li>
                  <li><a v-if="isConnected && isRunning && canStartStop  && hasProgram" href="#" @click="stop"><span><i class="fas fa-stop" style="margin-right: 13px;"></i></span>{{ $t('Editor.Filemenu.StopPLC') }}</a></li>
                  <li v-if="!isCompiling && !isTransfering" role="separator" class="divider"></li>
                  <li><a href="#" @click="saveProject"><span><i class="fas fa-save" style="margin-right: 13px;"></i></span>{{ $t('Editor.Filemenu.SaveProject') }}</a></li>
                  <li><a href="#" @click="closeProject"><span style="margin-left:1px; margin-right: 14px;"><i class="fas fa-times"></i></span>{{ $t('Editor.Filemenu.CloseProject') }}</a></li>
                </ul>
              </div>
            </ul>
          </div>
        </transition>
      </div>
    </nav>
    <div v-if="Dialog.ConnectToPLC.Show">
      <connect-to-plc-dialog @closed="onConnectToPLC" />
    </div>
    <div v-if="Dialog.CloseProject.Show">
      <close-project-dialog @closed="onCloseProject" />
    </div>
    <div v-if="Dialog.AddProgram.Show">
      <add-program-dialog @closed="onAddProgram" />
    </div>
    <div v-if="Dialog.AddFunction.Show">
      <add-function-dialog @closed="onAddFunction" />
    </div>
    <div v-if="Dialog.AddDataType.Show">
      <add-datatype-dialog @closed="onAddDataType" />
    </div>
  </div>
</template>

<script>
import { remote } from 'electron';
import _ from 'underscore';
import dataType from './../../../core/DataType';

export default {
  computed: {
    isConnected() {
      return this.$core.PLC.Connected;
    },
    hasProgram() {
      return this.$core.PLC.hasProgram;
    },
    isCompiling() {
      return this.$core.PLC.Compiling;
    },
    isCompiled() {
      return this.$core.PLC.Compiled;
    },
    isTransfering() {
      return this.$core.PLC.Transfering;
    },
    isRunning() {
      return this.$core.PLC.Running;
    },
    canStartStop() {
      return this.$core.PLC.canStartStop;
    },
    isConsoleVisible() {
      return this.$core.UI.Console.isVisible;
    },
    isSourceCodeVisible() {
      return this.$core.UI.SourceCode.isVisible;
    },
    isSearchVisible() {
      return this.$core.UI.Search.isVisible;
    },
    SearchPlaceholder() {
      if (this.$core.UI.Search.Type == 'Hardware')
        return this.$t('Editor.Filemenu.Searchbar.SearchHardware');
      if (this.$core.UI.Search.Type == 'Functions')
        return this.$t('Editor.Filemenu.Searchbar.SearchFunctions');
      return '';
    },
    SearchQuery: {
      get() {
        return this.$core.UI.Search.Query;
      },
      set(query) {
        this.$core.UI.Search.Query = query;
      }
    },
    LastPath: {
      get() {
        return this.$core.UI.LastPath;
      },
      set(lastPath) {
        this.$core.UI.LastPath = lastPath;
      }
    }
  },
  methods: {
    connect() {
      this.Dialog.ConnectToPLC.Show = true;
    },
    disconnect() {
      this.$core.PLC.disconnect();
    },
    compile() {
      this.$core.PLC.compile(this.$core.Project.Code.generateProject(), this.$store.CurrentProject);
      this.$Progress.start();
    },
    transfer() {
      this.$core.PLC.transfer();
      this.$Progress.start();
    },
    start() {
      this.$core.PLC.start();
    },
    stop() {
      this.$core.PLC.stop();
    },
    addProgram() {
      this.Dialog.AddProgram.Show = true;
    },
    addFunction() {
      this.Dialog.AddFunction.Show = true;
    },
    addDataType() {
      this.Dialog.AddDataType.Show = true;
    },
    saveProject() {
      var _this = this;
      this.$core.Projects.save(this.$store.state.CurrentProject).then(function() {
      }).catch(function() {
      });
    },
    closeProject() {
      if (this.Dialog.CloseProject.Prevent == false) {
        this.Dialog.CloseProject.Show = true;
        this.Dialog.CloseProject.CloseWindow = false;
      }
    },
    closeWindow(e) {
      if (this.Dialog.CloseProject.Prevent == false) {
        this.Dialog.CloseProject.Show = true;
        this.Dialog.CloseProject.CloseWindow = true;
      }
    },
    toggleConsole() {
      if (this.$core.UI.Console.isVisible) {
        this.$core.UI.Console.hide();
        this.$router.push(this.LastPath);
      } else {
        this.$core.UI.Console.show();
        this.$router.push('/Editor/Console');
      }
    },
    toggleSourceCode() {
      if (this.$core.UI.SourceCode.isVisible) {
        this.$core.UI.SourceCode.hide();
        this.$router.push(this.LastPath);
      } else {
        this.$core.UI.SourceCode.show();
        this.$router.push('/Editor/SourceCode');
      }
    },
    toggleFullScreen() {
      if (this.FullScreen) {
        this.FullScreen = false;
      } else {
        this.FullScreen = true;
      }
      remote.getCurrentWindow().setFullScreen(this.FullScreen);
    },
    showAbout() {
      this.$router.push('/About');
    },
    onAddProgram(e) {
      if (e.Add) {
        switch(e.Language) {
          case this.$t('Dialog.AddProgram.FBD'):
            this.$core.Project.Program.add(e.Name, 'FBD');
            this.$router.push('/Editor/FBD/' + e.Name + '/Program');
            break;
          case this.$t('Dialog.AddProgram.LD'):
            this.$core.Project.Program.add(e.Name, 'LD');
            this.$router.push('/Editor/LD/' + e.Name + '/Program');
            break;
          case this.$t('Dialog.AddProgram.SFC'):
            this.$core.Project.Program.add(e.Name, 'SFC');
            this.$router.push('/Editor/SFC/' + e.Name + '/Program');
            break;
          case this.$t('Dialog.AddProgram.IL'):
            this.$core.Project.Program.add(e.Name, 'IL');
            this.$router.push('/Editor/IL/' + e.Name + '/Program');
            break;
          case this.$t('Dialog.AddProgram.ST'):
            this.$core.Project.Program.add(e.Name, 'ST');
            this.$router.push('/Editor/ST/' + e.Name + '/Program');
            break;
          default:
            break;
        }
      }
      this.Dialog.AddProgram.Show = false;
    },
    onAddFunction(e) {
      if (e.Add) {
        if (e.FunctionType === this.$t('Dialog.AddFunction.Function')) {
          switch(e.Language) {
            case this.$t('Dialog.AddFunction.FBD'):
              this.$core.Project.Function.add(e.Name, 'FBD');
              this.$router.push('/Editor/FBD/' + e.Name + '/Function');
              break;
            case this.$t('Dialog.AddFunction.LD'):
              this.$core.Project.Function.add(e.Name, 'LD');
              this.$router.push('/Editor/LD/' + e.Name + '/Function');
              break;
            case this.$t('Dialog.AddFunction.IL'):
              this.$core.Project.Function.add(e.Name, 'IL');
              this.$router.push('/Editor/IL/' + e.Name + '/Function');
              break;
            case this.$t('Dialog.AddFunction.ST'):
              this.$core.Project.Function.add(e.Name, 'ST');
              this.$router.push('/Editor/ST/' + e.Name + '/Function');
              break;
            case this.$t('Dialog.AddFunction.SFC'):
              this.$core.Project.Function.add(e.Name, 'SFC');
              this.$router.push('/Editor/SFC/' + e.Name + '/Function');
              break;
            default:
              break;
          }
        }
        
        if (e.FunctionType === this.$t('Dialog.AddFunction.FunctionBlock')) {
          switch(e.Language) {
            case this.$t('Dialog.AddFunction.FBD'):
              this.$core.Project.FunctionBlock.add(e.Name, 'FBD');
              this.$router.push('/Editor/FBD/' + e.Name + '/FunctionBlock');
              break;
            case this.$t('Dialog.AddFunction.LD'):
              this.$core.Project.FunctionBlock.add(e.Name, 'LD');
              this.$router.push('/Editor/LD/' + e.Name + '/FunctionBlock');
              break;
            case this.$t('Dialog.AddFunction.IL'):
              this.$core.Project.FunctionBlock.add(e.Name, 'IL');
              this.$router.push('/Editor/IL/' + e.Name + '/FunctionBlock');
              break;
            case this.$t('Dialog.AddFunction.ST'):
              this.$core.Project.FunctionBlock.add(e.Name, 'ST');
              this.$router.push('/Editor/ST/' + e.Name + '/FunctionBlock');
              break;
            case this.$t('Dialog.AddFunction.SFC'):
              this.$core.Project.FunctionBlock.add(e.Name, 'SFC');
              this.$router.push('/Editor/SFC/' + e.Name + '/FunctionBlock');
              break;
            default:
              break;
          }
        }

      }
      this.Dialog.AddFunction.Show = false;
    },
    onAddDataType(e) {
      if (e.Add) {
        switch(e.Derivation) {
          case this.$t('Dialog.AddDataType.Directly'):
            this.$core.Project.DataType.add(e.Name, 'Directly');
            this.$router.push('/Editor/DataType/' + e.Name);
            break;
          case this.$t('Dialog.AddDataType.Subrange'):
            this.$core.Project.DataType.add(e.Name, 'Subrange');
            this.$router.push('/Editor/DataType/' + e.Name);
            break;
          case this.$t('Dialog.AddDataType.Enumeration'):
            this.$core.Project.DataType.add(e.Name, 'Enumeration');
            this.$router.push('/Editor/DataType/' + e.Name);
            break;
          case this.$t('Dialog.AddDataType.Array'):
            this.$core.Project.DataType.add(e.Name, 'Array');
            this.$router.push('/Editor/DataType/' + e.Name);
            break;
          case this.$t('Dialog.AddDataType.Structure'):
            this.$core.Project.DataType.add(e.Name, 'Structure');
            this.$router.push('/Editor/DataType/' + e.Name);
            break;
          default:
            break;
        }
      }
      this.Dialog.AddDataType.Show = false;
    },
    onCloseProject(e) {
      var _this = this
      this.Dialog.CloseProject.Show = false;
      if (e.Close) {
        if (e.Save) {
          this.$core.Projects.save(this.$store.state.CurrentProject).then(function() {
            if (this.Dialog.CloseProject.CloseWindow) {
              remote.getCurrentWindow().destroy();
            } else {
              this.$router.push('/');
            }
          }).catch(function() {
            _this.$router.push('/');
          });
        } else {
          if (this.Dialog.CloseProject.CloseWindow) {
            remote.getCurrentWindow().destroy();
          } else {
            this.$router.push('/');
          }
        }
      }   
    },
    onConnectToPLC(e) {
      if (e.Connect) {
        console.log(e.PLC);
        this.$core.PLC.connect(e.PLC, {
          onConnect:    this.onConnect,
          onDisconnect: this.onDisconnect,
          onStatus:     this.onStatus,
          onBlocked:    this.onBlocked,
        });
      }
      this.Dialog.ConnectToPLC.Show = false;
    },
    onConnect(connected) {
      if (connected) {
        this.$core.PLC.updateStatus({ Connected: true });
        $.notify({
          icon: 'fas fa-link',
          message: this.$t('Notification.PLC.Connected')
        }, {
          type: 'info',
          allow_dismiss: true,
          newest_on_top: true,
          placement: {
            from: 'top',
            align: 'center'
          },
          animate: {
            enter: 'animated fadeInDown',
            exit: 'animated fadeOutUp'
          },
        });
      } else {
        $.notify({
          icon: 'fas fa-unlink',
          message: this.$t('Notification.PLC.CouldntConnect')
        }, {
          type: 'info',
          allow_dismiss: true,
          newest_on_top: true,
          placement: {
            from: 'top',
            align: 'center'
          },
          animate: {
            enter: 'animated fadeInDown',
            exit: 'animated fadeOutUp'
          },
        });
        this.$core.PLC.updateStatus({ Connected: false });
      }
    },
    onDisconnect() {
      $.notify({
        icon: 'fas fa-unlink',
        message: this.$t('Notification.PLC.Disconnected')
      }, {
        type: 'info',
        allow_dismiss: true,
        newest_on_top: true,
        placement: {
          from: 'top',
          align: 'center'
        },
        animate: {
          enter: 'animated fadeInDown',
          exit: 'animated fadeOutUp'
        },
      });
      this.$core.PLC.updateStatus({ Connected: false, Compiling: false, Running: false, hasProgram: false, Blocked: false });
      this.$Progress.finish();
    },
    onBlocked() {
      $.notify({
        icon: 'fas fa-unlink',
        message: this.$t('Notification.PLC.SomebodyAlreadyConnected')
      }, {
        type: 'info',
        allow_dismiss: true,
        newest_on_top: true,
        placement: {
          from: 'top',
          align: 'center'
        },
        animate: {
          enter: 'animated fadeInDown',
          exit: 'animated fadeOutUp'
        },
      });
      this.$core.PLC.updateStatus({ Blocked: true });
    },
    onStatus(msg) {
      if (msg.hasOwnProperty('Compiled')) {
        if (this.isCompiling) {
           if(msg.Compiled) {
            $.notify({
              icon: 'fas fa-check-circle',
              message: this.$t('Notification.PLC.CompilingSuccessful')
            }, {
              type: 'info',
              allow_dismiss: true,
              newest_on_top: true,
              placement: {
                from: 'top',
                align: 'center'
              },
              animate: {
                enter: 'animated fadeInDown',
                exit: 'animated fadeOutUp'
              },
            });
           } else {
            $.notify({
              icon: 'fas fa-exclamation-circle',
              message: this.$t('Notification.PLC.CompilingFailed')
            }, {
              type: 'info',
              allow_dismiss: true,
              newest_on_top: true,
              placement: {
                from: 'top',
                align: 'center'
              },
              animate: {
                enter: 'animated fadeInDown',
                exit: 'animated fadeOutUp'
              },
            });
            
           }
           this.$core.PLC.updateStatus({ Compiling: false });
        }
      }
      if (msg.hasOwnProperty('Transfered')) {
        if (this.isTransfering) {
          if (msg.Transfered) {
            $.notify({
              icon: 'fas fa-check-circle',
              message: this.$t('Notification.PLC.TransferingSuccessful')
            }, {
              type: 'info',
              allow_dismiss: true,
              newest_on_top: true,
              placement: {
                from: 'top',
                align: 'center'
              },
              animate: {
                enter: 'animated fadeInDown',
                exit: 'animated fadeOutUp'
              },
            });
          } else {
            $.notify({
              icon: 'fas fa-exclamation-circle',
              message: this.$t('Notification.PLC.TransferingFailed')
            }, {
              type: 'info',
              allow_dismiss: true,
              newest_on_top: true,
              placement: {
                from: 'top',
                align: 'center'
              },
              animate: {
                enter: 'animated fadeInDown',
                exit: 'animated fadeOutUp'
              },
            });
          }
          this.$core.PLC.updateStatus({ Transfering: false });
        }
      }
      this.$core.PLC.updateStatus(msg);
      this.$Progress.finish();
    }
  },
  data() {
    return {
      displayMenu: false,
      Dialog: {
        CloseProject: {
          Show: false,
          CloseWindow: false,
          Prevent: false
        },
        AddProgram: {
          Show: false          
        },
        AddFunction: {
          Show: false          
        },
        AddDataType: {
          Show: false          
        },
        ConnectToPLC: {
          Show: false          
        }
      },
      FullScreen: false
    };
  },
  watch: {
    '$route' (to, from) {
      this.$core.UI.Console.hide();
      this.$core.UI.SourceCode.hide();
      if (to.path.startsWith('/Editor/IL')  ||
        to.path.startsWith('/Editor/ST')  ||
        to.path.startsWith('/Editor/FBD') ||
        to.path.startsWith('/Editor/LD')  ||
        to.path.startsWith('/Editor/SFC'))
      {
        this.$core.UI.Search.show('Functions');
        return;
      }
      if (to.path == '/Editor/Hardware')
      {
        this.$core.UI.Search.show('Hardware');
        return;
      }
      this.$core.UI.Search.hide();
      if(to.path == '/Editor/Console') {
        return;
      }
      if(to.path == '/Editor/SourceCode') {
        return;
      }
      if(to.name == 'Editor') {
        this.displayMenu = true;
        remote.getCurrentWindow().on('close', this.closeWindow);
      }
      if(to.name == 'Projects') {
        remote.getCurrentWindow().removeListener('close', this.closeWindow);
        this.displayMenu = false;
        if (this.FullScreen) {
          this.FullScreen = false;
          this.$core.PLC.disconnect();
          remote.getCurrentWindow().setFullScreen(this.FullScreen);
        }
      }
      this.LastPath = to.path;
    }
  },
  mounted: function() {
    var _this = this;
    this.$eventBus.$on('Dialog.Closed', function() {
      _this.Dialog.CloseProject.Prevent = false;
    });
    this.$eventBus.$on('Dialog.Opened', function() {
      _this.Dialog.CloseProject.Prevent = true;
    })
  }
};
</script>

<style scoped>
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}
  
.navbar-header {
  background-color: #272c30;
}

.logo-img {
  background-image: url("../../../images/app.svg");
  display: inline-block;
  vertical-align: middle;
  margin-top: -10px;
  margin-right: 5px;
  width: 40px;
  height: 40px;
}
  
.logo-text {
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  width: 100%;
  padding-left: 5px;
  font-size: 18px;
  color: #fff;
  margin-top: -8px;
}

.search {
  padding-left: 10px;
  padding-right: 0px;
  width: 0px;
  transition: width 0.5s ease-in-out, margin-left 0.5s ease-in-out, margin-right 0.5s ease-in-out, padding-left 0.5s ease-in-out, padding-right 0.5s ease-in-out;
}

.search-visible {
  width: 200px;
  margin-right: 5px;
  margin-left: 15px;
}
</style>