<!-- Copyright (C) Claus Bendig -->
<template>
  <div class="sidebar">
    <div class="text-nowrap">
      <div class="sidebar-title">{{ $t('Editor.Sidebar.Functions.Standard') }}</div>
    </div>
    <ul class="nav nav-menu" v-for="c in Standard" v-if="c.Functions.length > 0" :key="c.id">
      <li :class="{ opened: c.Category.Expand }">
        <a href="#" @click="toggle(c.Category)">
          <div class="nav-menu-ico"><i :class="c.Category.Icon"></i></div>
          <div class="nav-menu-text"><span>{{ c.Category.Category }}</span></div>
          <div class="nav-menu-right"><i class="fa fa-fw fa-angle-right arrow"></i></div>
        </a>
        <ul class="nav nav-menu-second collapse" :class="{ in: c.Category.Expand }">
          <li v-for="f in c.Functions">
            <a href="#"><drag class="drag" :transfer-data="{ Type: 'Function', Function: f }">{{ f.Name }}</drag></a>
          </li>
        </ul>
      </li>
    </ul>
    <div class="text-nowrap">
      <div class="sidebar-title">{{ $t('Editor.Sidebar.Functions.UserDefined') }}</div>
    </div>
    <ul class="nav nav-menu" v-for="c in UserDefined" v-if="c.Functions.length > 0" :key="c.id">
      <li :class="{ opened: c.Category.Expand }">
        <a href="#" @click="toggle(c.Category)">
          <div class="nav-menu-ico"><i :class="c.Category.Icon"></i></div>
          <div class="nav-menu-text"><span>{{ c.Category.Category }}</span></div>
          <div class="nav-menu-right"><i class="fa fa-fw fa-angle-right arrow"></i></div>
        </a>
        <ul class="nav nav-menu-second collapse" :class="{ in: c.Category.Expand }">
          <li v-for="f in c.Functions">
            <a href="#"><drag class="drag" :transfer-data="{ Type: 'Function', Function: f }">{{ f.Name }}</drag></a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</template>

<script>
import _ from 'underscore';
export default {
  computed: {
    Standard() {
      var functions = [];
      if (this.$core.UI.Search.Query == '') {
        for (var i = 0; i < this.StandardFunctions.length; i++) {
          var c = {
            Category: this.StandardFunctions[i],
            Functions: this.StandardFunctions[i].Functions,
            id: i
          };
          c.Category.Expand = false;
          functions.push(c)
        }
      } else {
        var query = this.$core.UI.Search.Query;
        for (var i = 0; i < this.StandardFunctions.length; i++) {
          var c = {
            Category: this.StandardFunctions[i],
            Functions: _.filter(this.StandardFunctions[i].Functions, (func) => {
              return func.Name.toLowerCase().includes(query.toLowerCase());
            }),
            id: i
          };
          c.Category.Expand = true;
          functions.push(c)
        }
      }
      return functions;
    },
    UserDefined() {
      var functions = [];
      if (this.$core.UI.Search.Query == '') {
        for (var i = 0; i < this.UserDefinedFunctions.length; i++) {
          var c = {
            Category: this.UserDefinedFunctions[i],
            Functions: this.UserDefinedFunctions[i].Functions,
            id: i
          };
          c.Category.Expand = false;
          functions.push(c)
        }
      } else {
        var query = this.$core.UI.Search.Query;
        for (var i = 0; i < this.UserDefinedFunctions.length; i++) {
          var c = {
            Category: this.UserDefinedFunctions[i],
            Functions: _.filter(this.UserDefinedFunctions[i].Functions, (func) => {
              return func.Name.toLowerCase().includes(query.toLowerCase());
            }),
            id: i
          };
          c.Category.Expand = true;
          functions.push(c)
        }
      }
      return functions;
    }
  },
  methods: {
    toggle(category) {
      if (category.Expand) {
        category.Expand = false;
      } else {
        category.Expand = true;
      }
    }
  },
  data() {
    return {
      StandardFunctions: [],
      UserDefinedFunctions: []
    }
  },
  beforeMount() {
    this.StandardFunctions = [
      {
        Category: this.$t('Editor.Sidebar.Functions.Bit'),
        Icon: 'fas fa-dice-one',
        Expand: false,
        Functions: this.$core.StandardFunctions.Bit,
        id: 0
      },
      {
        Category: this.$t('Editor.Sidebar.Functions.Time'),
        Icon: 'fas fa-clock',
        Expand: false,
        Functions: this.$core.StandardFunctions.Time,
        id: 1
      },
      {
        Category: this.$t('Editor.Sidebar.Functions.Counter'),
        Icon: 'fas fa-level-up-alt',
        Expand: false,
        Functions: this.$core.StandardFunctions.Counter,
        id: 2
      },
      {
        Category: this.$t('Editor.Sidebar.Functions.Math'),
        Icon: 'fas fa-divide',
        Expand: false,
        Functions: this.$core.StandardFunctions.Math,
        id: 3
      },
      {
        Category: this.$t('Editor.Sidebar.Functions.Comparators'),
        Icon: 'fas fa-greater-than-equal',
        Expand: false,
        Functions: this.$core.StandardFunctions.Comparators,
        id: 4
      },
      {
        Category: this.$t('Editor.Sidebar.Functions.Shift'),
        Icon: 'fas fa-angle-double-right',
        Expand: false,
        Functions: this.$core.StandardFunctions.Shift,
        id: 5
      },
      {
        Category: this.$t('Editor.Sidebar.Functions.Selection'),
        Icon: 'fas fa-crosshairs',
        Expand: false,
        Functions: this.$core.StandardFunctions.Selection,
        id: 6
      },
      {
        Category: this.$t('Editor.Sidebar.Functions.String'),
        Icon: 'fas fa-font',
        Expand: false,
        Functions: this.$core.StandardFunctions.String,
        id: 7
      },
      {
        Category: this.$t('Editor.Sidebar.Functions.Regulation'),
        Icon: 'fas fa-sliders-h',
        Expand: false,
        Functions: this.$core.StandardFunctions.Regulation,
        id: 8
      },
      {
        Category: this.$t('Editor.Sidebar.Functions.Additional'),
        Icon: 'fas fa-ellipsis-h',
        Expand: false,
        Functions: this.$core.StandardFunctions.Additional,
        id: 9
      },
      {
        Category: this.$t('Editor.Sidebar.Functions.TypeConversion'),
        Icon: 'fas fa-long-arrow-alt-right',
        Expand: false,
        Functions: this.$core.StandardFunctions.TypeConversion,
        id: 10
      },
    ];
    this.UserDefinedFunctions = [
      {
        Category: this.$t('Editor.Sidebar.Functions.Functions'),
        Icon: 'fas fa-th-list',
        Expand: false,
        Functions: this.$core.Project.Function.getAll(),
        id: 0
      },
      {
        Category: this.$t('Editor.Sidebar.Functions.FunctionBlocks'),
        Icon: 'fas fa-th-list',
        Expand: false,
        Functions: this.$core.Project.FunctionBlock.getAll(),
        id: 1
      },
    ];
  }
};
</script>

<style scoped>
.sidebar {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 200px;
}

.sidebar-title {
  display: inline-block;
  padding: 10px 18px 5px 20px;
  font-weight: bold;
  color: #fff;
}

.sidebar .nav {
  padding: 0;
}

.sidebar .nav > li {
  border-left: 3px solid transparent;
}

.sidebar .nav > li.active {
  border-left: 3px solid #ed4949;
}

.sidebar .nav > li > a {
  padding: 6px 20px 6px 29px;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  background-color: transparent;
  color: #5e6870;
  overflow: hidden;
  vertical-align: top;
}

.sidebar .nav > li > a .fa {
  font-size: 14px;
}

.sidebar .nav > li > a .fa.arrow {
  font-size: 14px;
  line-height: 18px;
  -webkit-transition: -webkit-transform 0.2s;
          transition: transform 0.2s;
}

.sidebar .nav > li.active > a,
.sidebar .nav > li > a:hover {
  color: #fff;
}

.sidebar .nav > li.opened > a .arrow {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
  
.nav-menu > li > a {
  display: table-row;
}
.nav-menu-ico {
  display: table-cell;
}
.nav-menu-text {
  display: table-cell;
  box-sizing: border-box;
  width: 100%;
  padding-left: 10px;
}
.nav-menu-right {
  display: table-cell;
}
.nav-menu-second.nav {
  padding-left: 10px;
}

.nav-menu-second.nav li,
.nav-menu-second.nav li.active {
  border-left: 0;
}

.nav-menu-second.nav li a > span {
  position: absolute;
  right: 15px;
}

.nav-menu-second.nav li > a {
  padding: 0px 50px 6px 32px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
  
.sidebar .badge {
  font-weight: normal;
  background-color: rgba(36, 41, 44, 0.5);
  color: #5e6870;
}

.sidebar .badge b,
.sidebar .badge strong {
  font-weight: 900;
}

.nav-menu-second.nav li a > div {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
</style>