<!-- Copyright (C) Claus Bendig -->
<template>
  <div class="navigation-content">
    <div class="sidebar">
      <div class="text-nowrap">
        <div class="sidebar-title">{{ $t('Editor.Navigation.OrganizationUnits') }}</div>
      </div>
      <ul class="nav nav-menu">
        <li :class="{ opened: expandPrograms }">
          <a href="#" @click="togglePrograms">
            <div class="nav-menu-ico"><i class="fas fa-th-large"></i></div>
            <div class="nav-menu-text"><span>{{ $t('Editor.Navigation.Programs') }}</span></div>
            <div class="nav-menu-right"><i class="fa fa-fw fa-angle-right arrow"></i></div>
          </a>
          <ul class="nav nav-menu-second collapse" :class="{ in: expandPrograms }">
            <li v-for="p in Programs" :key="p.id">
              <a href="#" @click="showProgram(p.Program)" @contextmenu.prevent="showContextMenu(p.Program, $event)">
                {{ p.Program.Name }}
                <span class="badge badge-secondary">{{ p.Badge }}</span>
              </a>
            </li>
          </ul>
        </li>
        <li :class="{ opened: expandFunctions }">
          <a href="#" @click="toggleFunctions">
            <div class="nav-menu-ico"><i class="fas fa-th-list"></i></div>
            <div class="nav-menu-text"><span>{{ $t('Editor.Navigation.Functions') }}</span></div>
            <div class="nav-menu-right"><i class="fa fa-fw fa-angle-right arrow"></i></div>
          </a>
          <ul class="nav nav-menu-second collapse class-nowrap" :class="{ in: expandFunctions }">
            <li v-for="f in Functions" :key="f.id">              
                <a href="#" @click="showFunction(f.Function)" @contextmenu.prevent="showContextMenu(f.Function, $event)">
                  {{ f.Function.Name }}
                  <span class="badge badge-secondary">{{ f.Badge }}</span>
                </a>
            </li>
          </ul>
        </li>
        <li :class="{ opened: expandDataTypes }">
            <a href="#" @click="toggleDataTypes">
            <div class="nav-menu-ico"><i class="fas fa-table"></i></div>
            <div class="nav-menu-text"><span>{{ $t('Editor.Navigation.DataTypes') }}</span></div>
            <div class="nav-menu-right"><i class="fa fa-fw fa-angle-right arrow"></i></div>
          </a>
          <ul class="nav nav-menu-second collapse" :class="{ in: expandDataTypes }">
            <li v-for="d in DataTypes" :key="d.id"><a href="#" @click="showDataType(d.DataType)" @contextmenu.prevent="showContextMenu(d.DataType, $event)">{{ d.DataType.Name }}</a></li>
          </ul>
        </li>
      </ul>
      <div class="text-nowrap">
        <div class="sidebar-title">{{ $t('Editor.Navigation.Parametrisation') }}</div>
      </div>
      <ul class="nav nav-menu">
        <li>
          <a href="#" @click="showProperties">
            <div class="nav-menu-ico" style="padding-left: 2px; padding-right: 1px;"><i class="fas fa-file-code"></i></div>
              <div class="nav-menu-text"><span>{{ $t('Editor.Navigation.Properties') }}</span></div>
          </a>
        </li>
        <li>
          <a href="#" @click="showHardware">
            <div class="nav-menu-ico"><i class="fas fa-microchip"></i></div>
            <div class="nav-menu-text"><span>{{ $t('Editor.Navigation.Hardware') }}</span></div>
          </a>
        </li>
        <li>
          <a href="#" @click="showTasks">
            <div class="nav-menu-ico"><i class="fas fa-tasks"></i></div>
            <div class="nav-menu-text"><span>{{ $t('Editor.Navigation.Tasks') }}</span></div>
          </a>
        </li>
        <li>
          <a href="#" @click="showGlobalVariables">
            <div class="nav-menu-ico"><i class="fas fa-globe"></i></div>
            <div class="nav-menu-text"><span>{{ $t('Editor.Navigation.GlobalVariables') }}</span></div>
          </a>
        </li>
      </ul>
    </div>
    <ul class="dropdown-menu" role="menu" style="display:none" ref="contextMenu">
      <li><a tabindex="-1" href="#" ref="contextRename"><span><i class="fas fa-pen" style="margin-right: 0px;"></i></span>&nbsp;&nbsp;{{ $t('Editor.Navigation.Rename') }}</a></li>
      <li><a tabindex="-1" href="#" ref="contextClone"><span><i class="fas fa-clone" style="margin-right: 0px;"></i></span>&nbsp;&nbsp;{{ $t('Editor.Navigation.Clone') }}</a></li>
      <li><a tabindex="-1" href="#" ref="contextRemove"><span><i class="fas fa-trash-alt" style="margin-right: 2px;"></i></span>&nbsp;&nbsp;{{ $t('Editor.Navigation.Remove') }}</a></li>
    </ul>
    <div v-if="Dialog.POURename.Show">
      <pou-rename-dialog :pou="POU" @closed="onPOURename" />
    </div>
    <div v-if="Dialog.POUClone.Show">
      <pou-clone-dialog :pou="POU" @closed="onPOUClone" />
    </div>
    <div v-if="Dialog.POURemove.Show">
      <pou-remove-dialog :pou="POU" @closed="onPOURemove" />
    </div>
  </div>
</template>

<script>
import _ from 'underscore';
import contextMenu from './../../ContextMenu';

export default {
  computed: {
    Programs() {
      var programsOut = [];
      var programsIn = this.$core.Project.Program.getAll();
      for (var i = 0; i < programsIn.length; i++) {
        programsOut.push({
          Program: programsIn[i],
          Badge: this.$t('Editor.Navigation.' + programsIn[i].Language)
        });
      }
      return _.sortBy(programsOut, (p) => {
        return p.Program.Name;
      });
    },
    Functions() {
      var functionsOut = [];
      var functions = this.$core.Project.Function.getAll();
      var functionBlocks = this.$core.Project.FunctionBlock.getAll();
      var combined = functions.concat(functionBlocks);

      for (var i = 0; i < combined.length; i++) {
        functionsOut.push({
          Function: combined[i],
          Badge: this.$t('Editor.Navigation.' + combined[i].Language)
        });
      }

      return _.sortBy(functionsOut, (f) => {
        return f.Function.Name;
      });
    },
    DataTypes() {
      var dataTypesOut = [];
      var dataTypesIn = this.$core.Project.DataType.getAll();
      for (var i = 0; i < dataTypesIn.length; i++) {
        dataTypesOut.push({
          DataType: dataTypesIn[i]
        });
      }
      return _.sortBy(dataTypesOut, (dt) => {
        return dt.DataType.Name;
      });
    }
  },
  methods: {
    showProgram(p) {
      this.$router.push('/Editor/' + p.Language + '/' + p.Name + '/' + p.POUType);
    },
    showFunction(f) {
      this.$router.push('/Editor/' + f.Language + '/' + f.Name + '/' + f.POUType);
    },
    showDataType(dt) {
      this.$router.push('/Editor/DataType/' + dt.Name);
    },
    showProperties() {
      this.$router.push('/Editor/Properties');
    },
    showHardware() {
      this.$router.push('/Editor/Hardware');
    },
    showTasks(e) {
      this.$router.push('/Editor/Tasks');
    },
    showGlobalVariables(e) {
      this.$router.push('/Editor/GlobalVariables');
    },
    showContextMenu(pou, event) {
      var _this = this;
      this.POU = pou;
      contextMenu(this.$refs.contextMenu, event, function(el) {
        if (el.currentTarget === _this.$refs.contextRename) {
          _this.Dialog.POURename.Show = true;
        }
        if (el.currentTarget === _this.$refs.contextClone) {
          _this.Dialog.POUClone.Show = true;
        }
        if (el.currentTarget === _this.$refs.contextRemove) {
          _this.Dialog.POURemove.Show = true;
        }
      });
    },
    onPOURename(e) {
      if (e.Rename) {
        this.POU.Name = e.Name;
      }
      this.Dialog.POURename.Show = false;
    },
    onPOUClone(e) {
      if (e.Clone) {
        switch(this.POU.POUType) {
          case 'Program':
            this.$core.Project.Program.clone(this.POU, e.Name);
            break;
          case 'Function':
            this.$core.Project.Function.clone(this.POU, e.Name);
            break;
          case 'FunctionBlock':
            this.$core.Project.FunctionBlock.clone(this.POU, e.Name);
            break;
          case 'DataType':
            this.$core.Project.DataType.clone(this.POU, e.Name);
            break;
        }
      }
      this.Dialog.POUClone.Show = false;
    },
    onPOURemove(e) {
      if (e.Remove) {
        var message = "";
        switch(this.POU.POUType) {
          case 'Program':
            this.$core.Project.Program.remove(this.POU);
            message = this.$t('Notification.POURemoved.Program', { name: this.POU.Name });
            break;
          case 'Function':
            this.$core.Project.Function.remove(this.POU);
            message = this.$t('Notification.POURemoved.Function', { name: this.POU.Name });
            break;
          case 'FunctionBlock':
            this.$core.Project.FunctionBlock.remove(this.POU);
            message = this.$t('Notification.POURemoved.FunctionBlock', { name: this.POU.Name });
            break;
          case 'DataType':
            this.$core.Project.DataType.remove(this.POU);
            message = this.$t('Notification.POURemoved.DataType', { name: this.POU.Name });
            break;
        }

        var languagePath = '/Editor/' + this.POU.Language + '/' + this.POU.Name + '/' + this.POU.POUType;
        var dataTypePath = '/Editor/DataType/' + this.POU.Name;
        if ((this.$route.path == languagePath) || (this.$route.path == dataTypePath)) {
          this.$router.push('/Editor');
        }

        $.notify({
          icon: 'fas fa-trash-alt',
          message: message
        }, {
          type: 'info',
          allow_dismiss: true,
          newest_on_top: true,
          placement: {
            from: 'top',
            align: 'center'
          },
          animate: {
            enter: 'animated fadeInDown',
            exit: 'animated fadeOutUp'
          },
        });
      }
      this.Dialog.POURemove.Show = false;
    },
    togglePrograms() {
      if(this.expandPrograms == true) {
        this.expandPrograms = false;
      } else {
        this.expandPrograms = true;
      }
    },
    toggleFunctions() {
      if(this.expandFunctions == true) {
        this.expandFunctions = false;
      } else {
        this.expandFunctions = true;
      }
    },
    toggleDataTypes() {
      if(this.expandDataTypes == true) {
        this.expandDataTypes = false;
      } else {
        this.expandDataTypes = true;
      }
    },
    toggleResources() {
      if(this.expandResources == true) {
        this.expandResources = false;
      } else {
        this.expandResources = true;
      }
    }
  },
  data() {
    return {
      Dialog: {
        POURename: {
          Show: false
        },
        POUClone: {
          Show: false
        },
        POURemove: {
          Show: false
        }
      },
      POU: null,
      expandPrograms: false,
      expandFunctions: false,
      expandDataTypes: false,
      expandResources: false
    };
  }
};
</script>

<style scoped>
.navigation-content {
  overflow-y: auto;
  grid-area: navigation;
  background-color: #30363c;
  display: unset;
}

.sidebar {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 200px;
}

.sidebar-title {
  display: inline-block;
  padding: 10px 18px 5px 20px;
  font-weight: bold;
  color: #fff;
}

.sidebar .nav {
  padding: 0;
}

.sidebar .nav > li {
  border-left: 3px solid transparent;
}

.sidebar .nav > li.active {
  border-left: 3px solid #ed4949;
}

.sidebar .nav > li > a {
  padding: 6px 20px 6px 29px;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  background-color: transparent;
  color: #5e6870;
  overflow: hidden;
  vertical-align: top;
}

.sidebar .nav > li > a .fa {
  font-size: 14px;
}

.sidebar .nav > li > a .fa.arrow {
  font-size: 14px;
  line-height: 18px;
  -webkit-transition: -webkit-transform 0.2s;
          transition: transform 0.2s;
}

.sidebar .nav > li.active > a,
.sidebar .nav > li > a:hover,
.sidebar .nav > li > a:focus {
  color: #fff;
}

.sidebar .nav > li.opened > a .arrow {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
  
.nav-menu > li > a {
  display: table-row;
}
.nav-menu-ico {
  display: table-cell;
}
.nav-menu-text {
  display: table-cell;
  box-sizing: border-box;
  width: 100%;
  padding-left: 10px;
}
.nav-menu-right {
  display: table-cell;
}
.nav-menu-second.nav {
  padding-left: 10px;
}

.nav-menu-second.nav li,
.nav-menu-second.nav li.active {
  border-left: 0;
}

.nav-menu-second.nav li a > span {
  position: absolute;
  right: 15px;
}

.nav-menu-second.nav li > a {
  padding: 0px 50px 6px 32px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
  
.sidebar .badge {
  font-weight: normal;
  background-color: rgba(36, 41, 44, 0.5);
  color: #5e6870;
}

.sidebar .badge b,
.sidebar .badge strong {
  font-weight: 900;
}

.nav-menu-second.nav li a > div {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
</style>