<!-- Copyright (C) Claus Bendig -->
<template>
  <div class="new-project-content">
    <form class="form">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <div class="input-group" :class="{ 'has-error': errors.has('ProjectName') }">
                  <div class="input-group-addon"><i class="fa fa-cog"></i></div>
                  <input class="form-control" name="ProjectName" v-validate="'required'" :placeholder="$t('Projects.ProjectName')" type="text" v-model="ProjectName">
                </div>
              </div>
              <div class="form-group">
                <div class="input-group" :class="{ 'has-error': errors.has('CompanyName') }">
                  <div class="input-group-addon"><i class="fa fa-building"></i></div>
                  <input class="form-control" name="CompanyName" v-validate="'required'" :placeholder="$t('Projects.Company')" type="text" v-model="CompanyName">
                </div>
              </div>
              <div class="form-group">
                <div class="input-group" :class="{ 'has-error': errors.has('ProductName') }">
                  <div class="input-group-addon"><i class="fa fa-fw fa-cube"></i></div>
                  <input class="form-control" name="ProductName" v-validate="'required'" :placeholder="$t('Projects.ProductName')" type="text" v-model="ProductName">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-addon"><i class="fa fa-user"></i></div>
                  <input class="form-control" :placeholder="$t('Projects.Author')" type="text" v-model="Author">
                </div>
              </div>
              <div class="form-group">
                <div class="input-group" :class="{ 'has-error': errors.has('CompanyURL') }">
                  <div class="input-group-addon"><i class="fa fa-link"></i></div>
                  <input class="form-control" name="CompanyURL" v-validate="'url'" :placeholder="$t('Projects.CompanyURL')" type="text" v-model="CompanyURL">
                </div>
              </div>
              <div class="form-group">
                <div class="input-group" :class="{ 'has-error': errors.has('ProductVersion') }">
                  <div class="input-group-addon"><i class="fa fa-code-branch"></i></div>
                  <input class="form-control" name="ProductVersion" v-validate="'required'" :placeholder="$t('Projects.ProductVersion')" type="text" v-model="ProductVersion">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <textarea class="form-control" rows="3" :placeholder="$t('Projects.Description')" v-model="Description"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <button :disabled="errors.has('ProjectName') || errors.has('CompanyName') || errors.has('ProductName') || errors.has('ProductVersion') || errors.has('CompanyURL') || validationError" class="btn btn-default" @click="createProject"><i class="fa fa-file-alt"></i>&nbsp;&nbsp;{{ $t('Projects.CreateProject') }}</button>
    <div v-if="Dialog.NewProject.Show">
      <new-project-dialog @closed="onNewProject" />
    </div>
    <div v-if="Dialog.CouldntCreateProject.Show">
      <couldnt-create-project-dialog :name="ProjectName" @closed="onCouldntCreateProject" />
    </div>
  </div>
</template>

<script>
import ProjectManager from './../../../core/ProjectManager';

export default {
  computed: {
    validationError: function() {
      if ((this.ProjectName == '') || (this.CompanyName == '') || (this.ProductName == '') || (this.ProductVersion == '')) {
        return true;
      } else {
        return false;
      }
    }
  },
  data() {
    return {
      ProjectName: '',
      Author: '',
      CompanyName: '',
      CompanyURL: '',
      ProductName: '',
      ProductVersion: '',
      Description: '',
      Dialog: {
        NewProject: {
          Show: false
        },
        CouldntCreateProject: {
          Show: false
        }
      }
    };
  },
  methods: {
    createProject: function() {
      this.Dialog.NewProject.Show = true;
    },
    onCouldntCreateProject: function() {
      this.Dialog.CouldntCreateProject.Show = false;
    },
    onNewProject: function(e) {
      var _this = this;
      this.Dialog.NewProject.Show = false;
      if (e.Add) {
        var language = 0;
        switch(e.Language) {
          case this.$t('Dialog.NewProject.FBD'):
            language = 'FBD';
            break;
          case this.$t('Dialog.NewProject.LD'):
            language = 'LD';
            break;
          case this.$t('Dialog.NewProject.SFC'):
            language = 'SFC';
            break;
          case this.$t('Dialog.NewProject.IL'):
            language = 'IL';
            break;
          case this.$t('Dialog.NewProject.ST'):
            language = 'ST';
            break;
          default:
            break;
        }

        var info = {
          ProjectName: this.ProjectName,
          Author: this.Author,
          CompanyName: this.CompanyName,
          CompanyURL: this.CompanyURL,
          ProductName: this.ProjectName,
          ProductVersion: this.ProductVersion,
          Description: this.Description,
          ProgramName: e.Name,
          ProgramLanguage: language
        };

        ProjectManager.newProject(info).then(function(project) {
          _this.$store.state.CurrentProject = project;
          _this.$router.push('/Editor');
        }).catch(function() {
          _this.Dialog.CouldntCreateProject.Show = true;
        });
      }
    }
  }
};
</script>

<style scoped>
.col-md6 {
  padding-left: 7.5px;
}

textarea {
  width: 100%;
  height: 145px;
  resize: none;
}

button {
  margin-bottom: 10px;
}
</style>