<!-- Copyright (C) Claus Bendig -->
<template>
  <div class="projects-list-content">
    <div class="row table-content">
      <div class="col-sm-12 scrollbar">
        <table class="table datatable display table-hover dataTable no-footer" role="grid">
          <thead>
            <tr role="row">
              <th tabindex="0" rowspan="1" colspan="1" >{{ $t('Projects.Name') }}</th>
              <th tabindex="0" rowspan="1" colspan="1" style="width: 32px;"></th>
              <th tabindex="0" rowspan="1" colspan="1" style="width: 32px;"></th>
              <th tabindex="0" rowspan="1" colspan="1" style="width: 32px;"></th>
            </tr>
          </thead>
          <tbody>
            <tr :key="p.id" v-for="p in Projects" role="row">
              <td>{{ p.Project.Meta.Name }}</td>
              <td>
                <button class="btn btn-default btn-xs" @click="editProject(p.Project)">
                  <span><i class="far fa-edit"></i></span>
                  &nbsp;{{ $t('Projects.Edit') }}</button>
              </td>
              <td>
                <button role="button" class="btn btn-default btn-xs" @click="exportProject(p.Project)">
                  <span><i class="fas fa-file-export"></i></span>
                  &nbsp;{{ $t('Projects.Export') }}</button>
              </td>
              <td>
                <button class="btn btn-default btn-xs" @click="deleteProject(p.Project)">
                  <span><i class="fas fa-trash-alt"></i></span>
                  &nbsp;{{ $t('Projects.Delete') }}</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <button class="btn btn-default btn-import" @click="importProject()"><i class="fa fa-file-import"></i>&nbsp;&nbsp;{{ $t('Projects.ImportProject') }}</button>
      </div>
    </div>
    <div v-if="Dialog.EditImportedProject.Show">
      <edit-imported-project-dialog :project="Dialog.EditImportedProject.Project" @closed="onEditImportedProject" />
    </div>
    <div v-if="Dialog.ProjectCorrupted.Show">
      <project-corrupted-dialog :project="Dialog.ProjectCorrupted.Project" :reason="Dialog.ProjectCorrupted.Reason" @closed="onProjectCorrupted" />
    </div>
    <div v-if="Dialog.CouldntImportProject.Show">
      <couldnt-import-project-dialog :path="Dialog.CouldntImportProject.Path" @closed="onCouldntImportProject" />
    </div>
    <div v-if="Dialog.CouldntExportProject.Show">
      <couldnt-export-project-dialog :project="Dialog.CouldntExportProject.Project" :path="Dialog.CouldntExportProject.Path" @closed="onCouldntExportProject" />
    </div>
    <div v-if="Dialog.DeleteProject.Show">
      <delete-project-dialog :project="Dialog.DeleteProject.Project" @closed="onDeleteProject" />
    </div>
  </div>
</template>

<script>
import { remote } from 'electron';
import path from 'path';
const dialog = remote.dialog;
import Paths from './../../../core/Paths';

export default {
  props: ['searchFilter'],
    computed: {
      Projects() {
        var projects = [];
        var sorted = this.$core.Projects.sorted(this.searchFilter);
        for (var i = 0; i < sorted.length; i++) {
          projects.push({
            Project: sorted[i],
            id: i
          });
        }
        return projects;
      }
    },
    data() {
      return {
        Dialog: {
          EditImportedProject: {
            Show: false,
            Project: {},
          },
          ProjectCorrupted: {
            Show: false,
            Reason: '',
            Project: {}
          },
          CouldntImportProject: {
            Show: false,
            Path: ''
          },
          CouldntExportProject: {
            Show: false,
            Project: {}
          },
          DeleteProject: {
            Show: false,
            Project: {}
          }
        }
      };
    },
    methods: {
      editProject(project) {      
        var _this = this;
        this.$core.Projects.load(project).then((p) => {
          console.log(p);
          _this.$core.Projects.edit(p);
          _this.$router.push('/Editor');
        }).catch(() => {
        })
      },
      exportProject(project) {
        var _this = this;
        dialog.showSaveDialog({
          defaultPath: Paths.Home + path.sep + project.Meta.Name + '.kiwi',
          filters: [
            { 
              name: 'Kiwi', extensions: ['kiwi']
            }
          ]
        }, function(to) {
          if (to != undefined) {
            if (to.endsWith('.kiwi')) {
              _this.$core.Projects.export(project, to).then(function() {
              }).catch(function() {
                _this.Dialog.CouldntExportProject.Project = project;
                _this.Dialog.CouldntExportProject.Path = to;
                _this.Dialog.CouldntExportProject.Show = true;
              });
            }
          }
        });
      },
      importProject() {
        var _this = this;
        dialog.showOpenDialog({
          defaultPath: Paths.Home,
          filters: [
            { 
              name: 'Kiwi', extensions: ['kiwi']
            }
          ]
        }, function(from) {
          if (from != undefined) {
            if (from[0].endsWith('.kiwi')) {
              _this.$core.Projects.import(from[0]).then(function(project) {
                _this.Dialog.EditImportedProject.Project = project;
                _this.Dialog.EditImportedProject.Show = true;
              }).catch(function() {
                _this.Dialog.CouldntImportProject.Path = from[0];
                _this.Dialog.CouldntImportProject.Show = true;
              });
            }
          }
        });
      },
      deleteProject(project) {
        this.Dialog.DeleteProject.Project = project;
        this.Dialog.DeleteProject.Show = true;
      },
      onEditImportedProject(e) {
        var _this = this;
        this.Dialog.EditImportedProject.Show = false;
        if (e.Edit)  {
          this.$core.Projects.load(e.Project).then((p) => {
            console.log(p);
            _this.$core.Projects.edit(p);
            _this.$router.push('/Editor');
          }).catch(() => {
          });
        }
      },
      onProjectCorrupted() {
        this.Dialog.ProjectCorrupted.Show = false;
      },
      onCouldntImportProject() {
        this.Dialog.CouldntImportProject.Show = false;
      },
      onCouldntExportProject(e) {
        this.Dialog.CouldntExportProject.Show = false;
      },
      onDeleteProject(e) {
        var _this = this;
        this.Dialog.DeleteProject.Show = false;
        if (e.Delete) {
          this.$core.Projects.remove(e.Project).then(function() {
            _this.$recompute('Projects');
          }).catch(function() {
          });
        }
      },
      onCloseWindow(e) {
        remote.getCurrentWindow().destroy();
      }
    },
    beforeDestroy: function() {
      remote.getCurrentWindow().removeListener('close', this.onCloseWindow);
    },
    beforeMount: function() {
      remote.getCurrentWindow().on('close', this.onCloseWindow);
    }
};
</script>

<style scoped>
.scrollbar {
  overflow-y: auto;
  height: 354px;
}

.btn-import {
  margin-top: 15px;
  margin-bottom: 10px;
}
</style>