<!-- Copyright (C) Claus Bendig -->
<template>
  <div class="sidebar-content">
    <transition name="fade">
      <functions v-if="showFunction" />
    </transition>
    <transition name="fade">
      <hardware-sidebar v-if="showHardware" />
    </transition>
  </div>
</template>

<script>

export default {
  data() {
    return {
      showFunction: false,
      showHardware: false
    };
  },
  watch: {
    '$route' (to, from) {
      this.showFunction = false;
      this.showHardware = false;
      if (to.path.startsWith('/Editor/IL')  ||
          to.path.startsWith('/Editor/ST')  ||
          to.path.startsWith('/Editor/FBD') ||
          to.path.startsWith('/Editor/LD')  ||
          to.path.startsWith('/Editor/SFC'))
      {
        this.showFunction = true;
      }
      if (to.path == '/Editor/Hardware') {
        this.showHardware = true;
      }
    }
  },
  beforeMount() {
    
  }
};
</script>

<style scoped>
.sidebar-content {
  overflow-y: auto;
  grid-area: sidebar;
  background-color: #30363c;
  display: unset;
}
</style>