<!-- Copyright (C) Claus Bendig -->
<template>
  <div style="height: 100%; overflow: auto;">
    <div class="console">
      <div v-if="output.Commands.Transpiled.length > 0">
        <div class="panel-title">
          Transpiling commands 
        </div>
        <div class="panel-content">
          <div v-for="(out, index) in output.Commands.Transpiled" :key="index">
            {{ out }}
          </div>
        </div>
      </div>
      <div v-if="output.Files.Transpiled.length > 0">
        <div class="panel-title">
          Transpiled files
        </div>
        <div class="panel-content">
          <div v-for="(out, index) in output.Files.Transpiled" :key="index">
            {{ out }}
          </div>
        </div>
      </div>
      <div v-if="output.Commands.Compiled.length > 0">
        <div class="panel-title">
          Compiling commands
        </div>
        <div class="panel-content">
          <div v-for="(out, index) in output.Commands.Compiled" :key="index">
            {{ out }}
          </div>
        </div>
      </div>
      <div v-if="output.Files.Compiled.length > 0">
        <div class="panel-title">
          Compiled files
        </div>
        <div class="panel-content">
          <div v-for="(out, index) in output.Files.Compiled" :key="index">
            {{ out }}
          </div>
        </div>
      </div>
      <div v-if="(output.STDOUT.Transpiled.length > 0) || (output.STDERR.Transpiled.length > 0)">
        <div class="panel-title">
          Transpiling output
        </div>
        <div class="panel-content">
          <div v-for="(out, index) in output.STDOUT.Transpiled" :key="index">
            {{ out }}
          </div>
          <div v-for="(out, index) in output.STDERR.Transpiled" :key="index">
            {{ out }}
          </div>
        </div>
      </div>
      <div v-if="(output.STDOUT.Compiled.length > 0) || (output.STDERR.Compiled.length > 0)">
        <div class="panel-title">
          Compiling output
        </div>
        <div class="panel-content">
          <div v-for="(out, index) in output.STDOUT.Compiled" :key="index">
            {{ out }}
          </div>
          <div v-for="(out, index) in output.STDERR.Compiled" :key="index">
            {{ out }}
          </div>
        </div>
      </div>
      <div v-if="output.Checksums.Application != ''">
        <div class="panel-title">
          Application checksum
        </div>
        <div class="panel-content">
          {{ output.Checksums.Application }}
        </div>
      </div>
      <div v-if="output.Checksums.Project != ''">
        <div class="panel-title">
          Project checksum
        </div>
        <div class="panel-content">
          {{ output.Checksums.Project }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    output: Object,
  },
  methods: {
  }
}
</script>

<style lang="scss">
.console {
  margin: 20px;
}

.console-line {
  color: #CCCCCC;
}

.panel-title {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 9px;
  min-height: 40px;
  background-color: #2C2C2C;
  border: 1px solid #2C2C2C;
  border-bottom: 2px solid #CCCCCC;
  color: #CCCCCC;
}

.panel-content {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 9px;
  min-height: 40px;
  background-color: #2C2C2C;
  border: 1px solid #2C2C2C;
  border-top: 0px;
  color: #CCCCCC;
  transition: background-color 0.1s ease-in-out;
  margin-bottom: 20px;
}
</style>