<!-- Copyright (C) Claus Bendig -->
<template>
  <div>
    <va-modal title="Add interface" :width="width" ref="addInterfaceModal" :backdrop-clickable="true" @confirm="onAddInterfaceConfirm">
      <div slot="body">
        <div>
          <va-select
            v-model="SelectedInterface"
            placeholder="Select an interface"
            :search="false"
            :multiple="false"
            :show-selected="true"
            :menu-max-height="300"
            :limit="1"
            :no-uncheck="false"
            :options="Interfaces">
          </va-select>

          <va-select v-if="SelectedInterface != ''" style="margin-top: 10px"
            v-model="SelectedBusSystem"
            placeholder="Select bus system"
            :search="false"
            :multiple="false"
            :show-selected="true"
            :menu-max-height="300"
            :limit="1"
            :match-case="false"
            :no-uncheck="false"
            :options="BusSystems">
          </va-select>
        </div>
      </div>
    </va-modal>

    <va-modal title="Ethernet" :width="width" ref="ethernetModal" :backdrop-clickable="true" @confirm="onEthernetConfirm">
      <div slot="body">
        <div>
          <va-select
            v-model="SelectedEthernetOption"
            placeholder="Select Ethernet option"
            :search="false"
            :multiple="false"
            :show-selected="true"
            :menu-max-height="300"
            :limit="1"
            :no-uncheck="false"
            :options="EthernetOptions">
          </va-select>
          <div v-if="SelectedEthernetOption == '2'">
            <va-input class="input"
              :clearable="true"
              placeholder="IP and subnet (192.168.1.1/24)"
              v-model="Ethernet.IP"
            />
            <va-input class="input"
              :clearable="true"
              placeholder="Gateway"
              v-model="Ethernet.Gateway"
            />
          </div>
        </div>
      </div>
    </va-modal>

    <va-modal title="WiFi" :width="width" ref="wifiModal" :backdrop-clickable="true" @confirm="onWifiConfirm">
      <div slot="body">
        <div>
          <va-select
            v-model="SelectedWifiOption"
            placeholder="Select WiFi option"
            :search="false"
            :multiple="false"
            :show-selected="true"
            :menu-max-height="300"
            :limit="1"
            :no-uncheck="false"
            :options="WifiOptions">
          </va-select>
          <div v-if="SelectedWifiOption == '2' || SelectedWifiOption == '3'">
            <va-input class="input"
              :clearable="true"
              placeholder="SSID"
              v-model="Wifi.SSID"
            />
            <va-input class="input"
              :clearable="true"
              placeholder="Password"
              type="password"
              v-model="Wifi.Password"
            />
          </div>
        </div>
      </div>
    </va-modal>

    <va-modal title="USV time in minutes" :width="width" ref="usvModal" :backdrop-clickable="true" @confirm="onUSVConfirm">
      <div slot="body">
        <div>
          <va-input class="input"
            :clearable="true"
            placeholder="Time in minutes"
            v-model="USV.Time"
            type="number"
            min="1"
            max="300"
          />
        </div>
      </div>
    </va-modal>

    <div class="sidebar">
      <div class="sidebar-title">CPUs</div>
      <drag class="drag" v-for="(item, index) in cpus" :key="index" :transfer-data="{ DragType: 'CPU', Data: item }">
        <div class="sidebar-slot" >
          {{ item.Name }}
        </div>
      </drag>
      <div class="sidebar-title" style="padding-top: 0px;">Kiwi-Modules</div>
      <drag class="drag" v-for="(item, index) in Descriptions" :key="index" :transfer-data="{ DragType: 'Kiwi', Data: item }">
        <div class="sidebar-slot" >
          {{ item.Name }}
        </div>
      </drag>
    </div>

    <div class="content">
      <div class="cpu-panel">
        <div>
          <div>CPU</div>
          <a v-if="cpu != null" href="#" class="cpu-remove" @click="onCPURemove"><v-icon name="times-circle" /></a>
          <!-- <a v-if="Connected === true && cpu != null" href="#" class="cpu-interface" @click="onEthernet"><v-icon name="network-wired" /></a> -->
          <a v-if="Connected === true && cpu != null" href="#" class="cpu-interface" @click="onUSV"><v-icon name="car-battery" /></a>
          <a v-if="Connected === true && cpu != null" href="#" class="cpu-interface" @click="onWifi"><v-icon name="wifi" /></a>
          <a v-if="cpu != null" href="#" class="cpu-interface" @click="onAddInterface"><v-icon name="plus-circle" /></a>
          <a v-if="Connected === true" href="#" class="cpu-interface" @click="onScanCPU"><v-icon name="search" /></a>
        </div>
      </div>    
      <div class="cpu-panel-content" :class="{ 'placeholder-drop-over': CPUDropOver || cpu != null }">
        <div v-if="cpu != null">
          {{ project.CPU.Name }}
        </div>
        <drop v-else @dragover="CPUDropOver = true" @dragleave="CPUDropOver = false" @drop="onCPUDrop" style="text-align: center;">
          <v-icon name="plus-square" style="position: relative; top: 2px;" />
        </drop>
      </div>
      <div style="margin-left: 60px; margin-right: 70px;">
        <div class="interfaces-grid" ref="InterfacesGrid">
          <div v-for="(iface, index) in project.Interfaces" :key="index">
            <kiwi v-if="iface.Bus === 'Kiwi'" :iface="iface" :connected="Connected" @onBusRemove="onBusRemove(index)" />
            <modbus-tcp v-if="iface.Bus === 'Modbus-TCP'" :iface="iface" @onBusRemove="onBusRemove(index)" />
            <mqtt v-if="iface.Bus === 'MQTT'" :iface="iface" @onBusRemove="onBusRemove(index)" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue';

export default {
  props: {
    Descriptions: {
      type: Array,
    },
    cpus: {
      type: Array,
    },
    cpu: {
      type: Object,
    },
    Connected: {
      type: Boolean,
    },
    plc: {
      type: Object,
    },
    project: {
      type: Object,
    },
    connectedplc: {
      type: Object
    }
  },
  computed: {
    Interfaces() {
      if (this.project.CPU != null) {
        let interfaces = [];
        for (let i = 0; i < this.project.CPU.Interfaces.length; i++) {
          let toAdd = true;
          for (let h = 0; h < this.project.Interfaces.length; h++) {
            if (this.project.CPU.Interfaces[i].Physical === this.project.Interfaces[h].Physical) {
              if (this.project.CPU.Interfaces[i].MultiUsage === false) {
                toAdd = false;
              }
            }
          }
          
          if (toAdd === true ) {
            interfaces.push({
              value: this.project.CPU.Interfaces[i].Physical,
              label: this.project.CPU.Interfaces[i].Name,
              item: this.project.CPU.Interfaces[i],
            });
          }
        }

        return interfaces;

      } else {
        return [];
      }
    },
    BusSystems() {
      let selected = this.SelectedInterface;
      if (selected != '') {
        let interfaces = this.Interfaces;
        let physical = _.find(interfaces, (iface) => {
          if (selected == iface.item.Physical) {
            return true;
          } else {
            return false;
          }
        });
        let busSystems = [];
        for (let i = 0; i < physical.item.Compatible.length; i++) {
          busSystems.push({
            value: physical.item.Compatible[i].Name,
            label: physical.item.Compatible[i].Name,
          });
        }
        return busSystems;
      } else {
        return [];
      }
    },
    WifiOptions() {
      return [{
        value: '1',
        label: '----',
        item: {}
      },{
        value: '2',
        label: 'Connect to access-point',
        item: {}
      }];
      // ,{
      //   value: '3',
      //   label: 'Act as Hotspot',
      //   item: {}
      // }];
    },
    EthernetOptions() {
      return [{
        value: '1',
        label: 'DHCP',
        item: {}
      },{
        value: '2',
        label: 'Static IP address',
        item: {}
      }];
      
    }
  },
  watch: {
    SelectedInterface(n, o) {
      if (n != o) {
        this.SelectedBusSystem = '';
      }
    }
  },
  data() {
    return {
      CPUDropOver: false,
      InfoVisible: [],
      SelectedInterface: '',
      SelectedBusSystem: '',
      SelectedWifiOption: '2',
      SelectedEthernetOption: '',
      Wifi: {
        SSID: '',
        Password: ''
      },
      Ethernet: {
        IP: '',
        Gateway: ''
      },
      USV: {
        Time: 60
      }
    };
  },
  methods: {
    onCPUDrop(data) {
      if (data) {
        if (data.DragType == 'CPU') {
          let clone = JSON.parse(JSON.stringify(data.Data));
          this.project.CPU = clone;
        }
      }
      this.CPUDropOver = false;
    },
    onCPURemove() {
      this.project.CPU = null;
      this.project.Interfaces.splice(0, this.project.Interfaces.length);
    },
    onAddInterface() {
      this.SelectedInterface = '';
      this.SelectedBusSystem = '';
      this.$refs.addInterfaceModal.open();
    },
    onEthernet() {
      this.SelectedEthernetOption = '1';
      this.$refs.ethernetModal.open();
    },
    onWifi() {
      this.SelectedWifiOption = '1';
      this.Wifi.SSID = '';
      this.Wifi.Password = '';
      this.$refs.wifiModal.open();
    },
    onUSV() {
      this.USV.Time = 0;
      this.$refs.usvModal.open();
    },
    onAddInterfaceConfirm() {
      this.$refs.addInterfaceModal.close();
      if ((this.SelectedInterface != '') && (this.SelectedBusSystem != '')) {
        let selectedInterface = this.SelectedInterface;
        let selectedBus       = this.SelectedBusSystem;
        let interfaces = this.Interfaces;
        let iface = _.find(interfaces, (iface) => {
          if (selectedInterface === iface.item.Physical) {
            return true;
          } else {
            return false;
          }
        });

        if (iface === null) return;

        let bus = _.find(iface.item.Compatible, (bus) => {
          if (selectedBus === bus.Name) {
            return true;
          } else {
            return false;
          }
        });

        if (bus === null) return;

        this.project.Interfaces.push({
          Name:       iface.item.Name,
          Physical:   iface.item.Physical,
          Interface:  iface.item.Interface,
          canScan:    bus.canScan,
          Bus:        bus.Name,
          Address:    this.project.Interfaces.length + 1,
          Modules:    []
        });
      }
      this.SelectedInterface = '';
      this.SelectedBusSystem = '';
    },
    onEthernetConfirm() {
      this.$refs.ethernetModal.close();
      let dhcp = true;
      if (this.SelectedEthernetOption == '2') dhcp = false;
      this.$CM.setEthernet({
        DHCP: dhcp,
        IP: this.Ethernet.IP,
        Gateway: this.Ethernet.Gateway,
      });
    },
    onWifiConfirm() {
      let that = this;
      this.$refs.wifiModal.close();
      let actingAs = 'None';
      if (this.SelectedWifiOption == '2') actingAs = 'Wifi';
      if (this.SelectedWifiOption == '3') actingAs = 'Hotspot';

      this.$snotify.async("Connecting WiFi ...", () => new Promise((resolve, reject) => {
        that.$CM.setWifi({
            ActingAs: actingAs,
            SSID: that.Wifi.SSID,
            Password: that.Wifi.Password  
          }, (msg) => {
          if (msg.MSGType == 0) {
            reject({
              body: 'Couldn\'t connect to access-point.',
              config: {
                closeOnClick: true,
                timeout: 2000,
                showProgressBar: true,
              },
            });
          } else {
            if (msg.Wifi == true) {
              if (msg.ActingAs == 'None') {
                resolve({
                  body: 'WiFi successfully disconnected.',
                  config: {
                    closeOnClick: true,
                    timeout: 2000,
                    showProgressBar: true,
                  },
                });  
              } else {
                resolve({
                  body: 'WiFi successfully connected.',
                  config: {
                    closeOnClick: true,
                    timeout: 2000,
                    showProgressBar: true,
                  },
                });  
              }
              
            } else {
              reject({
                body: 'Couldn\'t connect to access-point.',
                config: {
                  closeOnClick: true,
                  timeout: 2000,
                  showProgressBar: true,
                },
              });
            }
          }
        });
      }));
    },
    onUSVConfirm() {
      this.$refs.usvModal.close();
      this.$CM.setUSV({
        Time: this.USV.Time,
      });
    },
    onBusRemove(index) {
      this.project.Interfaces.splice(index, 1);
    },
    onScanCPU() {
      this.project.Interfaces.splice(0, this.project.Interfaces.length);
      
      this.project.CPU = {
        Name: this.connectedplc.PLC.Name,
        Model: this.connectedplc.PLC.Model,
        Interfaces: this.connectedplc.PLC.Interfaces,
      };

      if (this.connectedplc.PLC.Model === '4cf36f25-64d5-40ef-8014-5c9db4acea78') {
        if (this.connectedplc.PLC.Modules.length > 0) {
          let modules = this.connectedplc.PLC.Modules;

          let kiwiBus = {
            Address: 1,
            Bus: 'Kiwi',
            Interface: 'CAN',
            Modules: [],
            Name: 'CAN',
            Physical: 'can0',
            canScan: true
          };

          for (let i = 0; i < modules.length; i++) {
            let m = modules[i].Description;
            m.Address = modules[i].Address;
            kiwiBus.Modules.push(m);
          }

          this.project.Interfaces.push(kiwiBus);
        }
      }
      
    }
  },
  mounted() {
  }
}
</script>

<style scoped lang="scss">
.interfaces-grid {
  margin-top: 20px;
  margin-bottom: 20px;
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fill,minmax(360px, 1fr));
  justify-items: center;
  grid-gap: 20px;
}

.cpu-panel {
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 60px;
  margin-right: 50px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 9px;
  width: calc(100% - 130px);
  min-height: 40px;
  background-color: #2C2C2C;
  border: 1px solid #2C2C2C;
  border-bottom: 2px solid #CCCCCC;
  color: #CCCCCC;
  min-width: 360px;
}

.cpu-panel-content {
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: 60px;
  margin-right: 50px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 9px;
  width: calc(100% - 130px);
  min-height: 40px;
  background-color: #2C2C2C;
  border: 1px solid #2C2C2C;
  border-top: 0px;
  color: #CCCCCC;
  min-width: 360px;
  transition: background-color 0.1s ease-in-out;
}

.sidebar {
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: 250px;
  border-left: 1px solid #3C3C3C;
  overflow-y: scroll;
}

.sidebar-title {
  text-align: center;
  padding-top: 20px;
  color: #CCCCCC;
}

.sidebar-slot {
  background-color: #3C3C3C;
  padding: 10px;
  margin: 20px;
  border-radius: 3px;
  color: #CCCCCC;
  cursor: -webkit-grab;
}

.content {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  overflow: auto;
  width: calc(100% - 250px);
  padding-top: 10px;
  overflow-y: scroll;
}

.cpu-title {
  color: #CCCCCC;
  text-align: center;
}

.cpu-add-interface {
  background-color: #3C3C3C;
  padding: 10px;
  border-radius: 3px;
  color: #CCCCCC;
  cursor: pointer;
  position: absolute;
  right: 80px;
  top: 12px;
  text-align: center;
}

.cpu-remove {
  margin-right: 8px;
  color: #CCCCCC !important;
  margin-top: -17px;
  float: right;
  outline: none;
  transition: color 0.1s ease-in-out;
}

.cpu-remove:hover {
  color: #EEEEEE !important;
  cursor: pointer;
}

.cpu-interface {
  margin-right: 15px;
  color: #CCCCCC !important;
  margin-top: -17px;
  float: right;
  outline: none;
  transition: color 0.1s ease-in-out;
}

.cpu-interface:hover {
  color: #EEEEEE !important;
  cursor: pointer;
}

.placeholder {
  margin-top: 5px;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 3px;
  padding: 10px;
  width: calc(100% - 130px);
  height: 40px;
  background-color: #1e1e1e;
  border: 1px solid #3C3C3C;
  color: #CCCCCC;
}

.placeholder-drop-over {
  background-color: #3C3C3C;
}

.input {
  margin-top: 10px;
}

</style>