<!-- Copyright (C) Claus Bendig -->
<template>
  <div style="height: 100%; overflow: auto;">
    <table class="plc-table">
      <tbody>
        <tr class="plc" v-for="(plc, index) in available" :key="index" @click="onConnect(plc)">
          <th class="plc-model">
            {{ plc.PLC.Name }}
          </th>
          <th class="plc-ip">
            {{ plc.IP }}
          </th>
          <th class="plc-uuid">
            {{ plc.PLC.UUID }}
          </th>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  props: {
    available: Array,
    view: String
  },
  methods: {
    onConnect(plc) {
      this.$emit('connected', plc);
    }
  }
}
</script>

<style lang="scss">
.plc-table {
  padding-top: 40px;
  margin: 0 auto;
  padding-bottom: 40px;
  color: #CCCCCC;
  border: 0px;
  border-spacing: 0px 15px;
}

.plc {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0px;
  margin-right: 0px;  
  width: calc(100% - 130px);
  min-height: 20px;
  background-color: #3C3C3C;
  color: #CCCCCC;
  cursor: pointer;
}

.plc-model {
  border-radius: 3px 0px 0px 3px;
  padding: 10px;
}

.plc-uuid {
  border-radius: 0px 3px 3px 0px;
  padding: 10px;
}
</style>