<!-- Copyright (C) Claus Bendig -->
<template>
  <div class="function-block-diagram-content">
    <div class="function-block-diagram-cell">
      <div class="panel panel-default" v-bind:class="{ 'variables-table-max': expandedVariablesTable }">
        <div class="panel-heading">
          <h3 class="panel-title" style="height: 22px; line-height: 22px;">FBD</h3>
          <div class="panel-title pull-right">
            <button @click="onNetworkDown" class="btn btn-default btn-xs pull-right"><i class="fas fa-arrow-down"></i></button>
            <button @click="onNetworkUp" class="btn btn-default btn-xs pull-right" style="margin-right: 10px;"><i class="fas fa-arrow-up"></i></button>
            <button @click="onNetworkRemove" class="btn btn-default btn-xs pull-right" style="margin-right: 10px;"><i class="fas fa-minus"></i></button>
            <button @click="onNetworkAdd" class="btn btn-default btn-xs pull-right" style="margin-right: 10px;"><i class="fas fa-plus"></i></button>
          </div> 
          <div class="clearfix"></div>
        </div>
        <div class="panel-body">
          <div v-for="(n, i) in Networks" :key="n.id">
            <network-fbd :index="i" :network="n.Network" :last="i == (Networks.length - 1)"></network-fbd>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    pou: Object,
    expandedVariablesTable: Boolean
  },
  computed: {
    Networks() {
      var networks = [];
      for (var i = 0; i < this.pou.Code.Networks.length; i++) {
        networks.push({
          Network: this.pou.Code.Networks[i],
          id: i
        });
      }
      return networks;
    }
  },
  methods: {
    onNetworkUp() {
    },
    onNetworkDown() {
    },
    onNetworkAdd() {
      this.$core.Project.Language.FBD.Network.add(this.pou);
    },
    onNetworkRemove() {
    },
  },
  mounted() {
  }
};
</script>

<style scoped>
.function-block-diagram-content {
  display: table-row;
  height: 100%;
}

.function-block-diagram-cell {
  display: table-cell;
  height: 100%;
}

.panel {
  position: absolute;
  background-color: #30363c;
  margin: 10px;
  margin-top: 0px;
  top: 125px;
  bottom: 0px;
  left: 215px;
  right: 215px;
  padding: 0px;
  color: #5e6870;
  transition: all 0.5s ease-in-out;
}

.panel-expanded {
  bottom: 0px;
}

.panel-title {
  display: inline-block;
}

.panel-body {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 45px;
  margin: 0px;
  bottom: 0px;
  overflow: auto;
  padding: 0px;
  transition: all 0.5s ease-in-out;
}

.variables-table-max {
  top: 315px;
}

.code-area {
  width: 100%;
  height: 100%;
}
</style>