<!-- Copyright (C) Claus Bendig -->
<template>
  <div class="ladder-diagram-diagram-content">
    <div class="ladder-diagram-diagram-cell">
      <div class="panel panel-default" v-bind:class="{ 'variables-table-max': expandedVariablesTable }">
        <div class="panel-heading">
          <h3 class="panel-title" style="height: 22px; line-height: 22px;">LD</h3>
          <div class="panel-title pull-right">
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="panel-body">
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    expandedVariablesTable: Boolean
  },
  mounted: function() {
  }
};
</script>

<style scoped>
.function-block-diagram-content {
  display: table-row;
  height: 100%;
}

.function-block-diagram-cell {
  display: table-cell;
  height: 100%;
}

.panel {
  position: absolute;
  background-color: #30363c;
  margin: 10px;
  margin-top: 0px;
  top: 125px;
  bottom: 0px;
  left: 215px;
  right: 215px;
  padding: 0px;
  color: #5e6870;
  transition: all 0.5s ease-in-out;
}

.panel-expanded {
  bottom: 0px;
}

.panel-title {
  display: inline-block;
}

.panel-body {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 45px;
  margin: 0px;
  bottom: 0px;
  overflow: auto;
  padding: 0px;
  transition: all 0.5s ease-in-out;
}

.variables-table-max {
  top: 315px;
}

.code-area {
  width: 100%;
  height: 100%;
}
</style>