<!-- Copyright (C) Claus Bendig -->
<template>
  <div class="structured-text-content">
    <div class="structured-text-cell">
      <div class="panel panel-default" v-bind:class="{ 'variables-table-max': expandedVariablesTable }">
        <div class="panel-heading">
          <h3 class="panel-title" style="height: 22px; line-height: 22px;">ST</h3>
          <div class="panel-title pull-right">
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="panel-body">
          <monaco-editor language="StructuredText" v-model="SourceCode" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    pou: Object,
    expandedVariablesTable: Boolean
  },
  computed: {
    SourceCode: {
      get() {
        return this.pou.Code.SourceCode;
      },
      set(value) {
        this.pou.Code.SourceCode = value;
      }
    }
  },
  data() {
    return {
    };
  },
  methods: {
  }
};
</script>

<style scoped>
.structured-text-content {
  display: table-row;
  height: 100%;
}

.structured-text-cell {
  display: table-cell;
  height: 100%;
}

.panel {
  position: absolute;
  background-color: #30363c;
  margin: 10px;
  margin-top: 0px;
  top: 125px;
  bottom: 0px;
  left: 215px;
  right: 215px;
  padding: 0px;
  color: #5e6870;
  transition: all 0.5s ease-in-out;
}

.panel-expanded {
  bottom: 0px;
}

.panel-title {
  display: inline-block;
}

.panel-body {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 44px;
  margin: 0px;
  bottom: 0px;
  overflow: hidden;
  padding: 0px;
  transition: all 0.5s ease-in-out;
}

.variables-table-max {
  top: 315px;
}

.code-area {
  width: 100%;
  height: 100%;
}
</style>