@import './../../node_modules/bootstrap-select/less/bootstrap-select.less';
@import './../../node_modules/bootstrap3/less/bootstrap.less';
@import './../../node_modules/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.less';

@import 'dark/colors.less';
@import 'dark.less';

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-button {
  width: 8px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: @gray-ui;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: @gray-text;
}

::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-track {
  // background: rgb(0, 0, 0, 0);
}

body {
  position: absolute;
  background-color: @gray-pad;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  overflow: hidden;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.split {
  overflow:  hidden !important;
}

.gutter.gutter-horizontal {
  cursor: col-resize;
  width: 8px !important;
  background-color: rgba(0, 0, 0, 0) !important;
  border-right: 2px solid @gray-pad;
  background-image: none !important;
}
.gutter.gutter-vertical {
  cursor: row-resize;
  height: 2px !important;
  background-color: rgba(0, 0, 0, 0) !important;
  border-bottom: 2px solid @gray-ui;
  background-image: none !important;
}

input[type="date"].input-xs,
input[type="time"].input-xs,
input[type="datetime-local"].input-xs,
input[type="month"].input-xs,
.input-group-xs input[type="date"],
.input-group-xs input[type="time"],
.input-group-xs input[type="datetime-local"],
.input-group-xs input[type="month"] {
  line-height: 22px;
}

.input-xs+.form-control-feedback,
.input-group-xs+.form-control-feedback,
.form-group-xs .form-control+.form-control-feedback {
  width: 22px;
  height: 22px;
  line-height: 22px;
}

.input-group-xs>.form-control,
.input-group-xs>.input-group-addon,
.input-group-xs>.input-group-btn>.btn {
  height: 22px;
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

a {
  text-decoration: none;
  color: @gray-ui;
}

a:hover,
a:focus,
a:active {
  text-decoration: underline;
  color: @gray-text;
  outline: none;
}