<!-- Copyright (C) Claus Bendig -->
<template>
  <div class="panel-body">
    <div class="ui-container">     
      <div class="ui">
        <h6>{{ $t('Editor.DataType.Derived.Array.BaseDataType') }}</h6>
        <data-type v-model="DataType" :parent="DataType" datawidth="200px"/>
      </div>
      <div class="ui">
        <h6>{{ $t('Editor.DataType.Derived.Array.Ranges') }}</h6>
        <div class="input-group" :class="{ 'has-error': !isValid }">
          <input class="form-control" name="Array" type="text" v-model="Value">
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import _ from 'underscore';
import bigInt from 'big-integer';

export default {
  props: [
    'DataType'
  ],
  computed: {
    isValid() {
      var ranges = [];
      var cleanedSpaces = this.Value.replace(/\s/g, '');
      if (/^(([0-9]{1,})\.\.([0-9]{1,}))(,(([0-9]{1,})\.\.([0-9]{1,}))){1,}$/.test(cleanedSpaces)) {
        var rangesSplitted = cleanedSpaces.split(',');
        for (var i = 0; i < rangesSplitted.length; i++) {
          var range = rangesSplitted[i].split('..');
          ranges.push({Lower: range[0], Upper: range[1]});
        }
        if (this.areRangesValid(ranges) == true) {
            this.DataType.Dimensions = ranges;
            return true;
        } else {
          return false;
        }
      } else {
        if (/^[0-9]{1,}\.\.[0-9]{1,}$/.test(cleanedSpaces)) {
          var range = cleanedSpaces.split('..');
          ranges.push({Lower: range[0], Upper: range[1]});
          if (this.areRangesValid(ranges) == true) {
            this.DataType.Dimensions = ranges;
            return true;
          } else {
            return false;
          }
        }
      }
      return false;
    }
  },
  methods: {
    areRangesValid(ranges) {
      var sorted = _.sortBy(ranges, 'lower');

      for (var i = 0; i < sorted.length; i++) {
        var lower = bigInt(sorted[i].Lower);
        var upper = bigInt(sorted[i].Upper);
        if (lower.compare(upper) != -1) {
          return false;
        }
      }

      for (var i = 0; i < sorted.length; i++) {
        for (var h = 0; h < sorted.length; h++) {
          if (i != h) {
            if (this.hasIntersection(bigInt(sorted[i].Lower), bigInt(sorted[i].Upper), bigInt(sorted[h].Lower), bigInt(sorted[h].Upper)))
              return false;
          }
        }
      }

      return true;
    },
    hasIntersection(alower, aupper, blower, bupper) {
      if (alower.geq(blower) && alower.leq(bupper)) {
        return true;
      }
      if (aupper.geq(blower) && aupper.leq(bupper)) {
        return true;
      }
      if (blower.geq(alower) && blower.leq(aupper)) {
        return true;
      }
      if (bupper.geq(alower) && bupper.leq(aupper)) {
        return true;
      }

      return false;
    },
  },
  data() {
    return  {
      Value: ''
    };
  },
  beforeMount() {
    for (var i = 0; i < this.DataType.Dimensions.length; i++) {
      this.Value += this.DataType.Dimensions[i].Lower + '..' + this.DataType.Dimensions[i].Upper;
      if (i < (this.DataType.Dimensions.length - 1))
        this.Value += ', ';
    }
  }
};
</script>

<style scoped>
h6 {
  padding-left: 1px;
}

.panel-body {
  display: flex;
  justify-content: center;
}

.ui-container {
  display: flex;
}

.ui {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 15px;
}
</style>