<!-- Copyright (C) Claus Bendig -->
<template>
  <div class="panel-body">
    <div class="ui">
      <h6>{{ $t('Editor.DataType.Derived.Directly.BaseDataType') }}</h6>
      <data-type v-model="DataType" :parent="DataType" datawidth="200px" />
    </div>
  </div>
</template>

<script>
export default {
  props: [
    'DataType'
  ]
};
</script>

<style scoped>
.panel-body {
  display: flex;
  justify-content: center;
}

.ui {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 15px;
}
</style>