<!-- Copyright (C) Claus Bendig -->
<template>
  <div class="panel-body">
    <structure-table :DataType="DataType" height="560" />
  </div>
</template>

<script>
export default {
  props: [
    'DataType'
  ]
};
</script>

<style scoped>
.panel-body {
  padding: 0px;
}
</style>