<!-- Copyright (C) Claus Bendig -->
<template>
  <div class="panel-body">
    <div class="ui">
      <h6>{{ $t('Editor.DataType.Derived.Subrange.BaseDataType') }}</h6>
      <selection :entries="Entries" v-model="Type" @changed="onSelectionChanged" datalivesearch="true" datawidth="200px" datacontainer="body" />
    </div>
    <div class="ui">
      <h6>{{ $t('Editor.DataType.Derived.Subrange.Minimum') }}</h6>
      <div class="input-group" style="width: 200px;" :class="{ 'has-error': errors.has('Lower') }">
        <input class="form-control" name="Lower" type="text" v-validate="{ required: true, decimal: 0, min_value: LowerMinimum, max_value: LowerMaximum }" v-model="LowerValue">
      </div>
    </div>
    <div class="ui">
      <h6>{{ $t('Editor.DataType.Derived.Subrange.Maximum') }}</h6>
      <div class="input-group" style="width: 200px;" :class="{ 'has-error': errors.has('Upper') }">    
        <input class="form-control" name="Upper" type="text" v-validate="{ required: true, decimal: 0, min_value: UpperMinimum, max_value: UpperMaximum }" v-model="UpperValue"> 
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: [
    'DataType'
  ],
  computed:  {
    Type() {
      return this.DataType.BaseType;
    },
    Entries() {
      return {
        OptionGroups: [
          {
            Name: this.$t('Editor.DataType.Derived.Subrange.IntegerDataTypes'),
            Options: this.$core.Project.DataType.BaseDataTypes.Subrange
          }
        ]
      };
    },
    LowerValue: {
      get() {
        return this.DataType.Range.Lower;
      },
      set(value) {
        this.DataType.Range.Lower = value;
      }
    },
    LowerMinimum: {
      get() {
        return this.$core.Project.DataType.Minimum[this.DataType.BaseType];
      }
    },
    LowerMaximum: {
      get() {
        return this.DataType.Range.Upper;
      },
    },
    UpperValue: {
      get() {
        return this.DataType.Range.Upper;
      },
      set(value) {
        this.DataType.Range.Upper = value;
      }
    },
    UpperMinimum: {
      get() {
        return this.DataType.Range.Lower;
      }
    },
    UpperMaximum: {
      get() {
        return this.$core.Project.DataType.Maximum[this.DataType.BaseType];
      }
    }
  },
  methods: {
    onSelectionChanged(value) {
      this.$core.Project.DataType.Subrange.change(this.DataType, value);
    }
  },
  beforeMount() {
    this.$validator.validate();
  }
};
</script>

<style scoped>
h6 {
  padding-left: 1px;
}

.panel-body {
  display: flex;
  justify-content: center;
}

.ui {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 15px;
}
</style>