<!-- Copyright (C) Claus Bendig -->
<template>
  <div class="projects-content">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title" style="height: 22px; line-height: 22px;">{{ $t('About.Title') }}</h3>
        <div class="panel-title pull-right" style="margin-left: 10px">
          <button v-on:click="close" class="btn btn-default btn-xs pull-right">
            <i class="fas fa-times"></i>
          </button>
          <!-- <button v-on:click="gitlab" class="btn btn-default btn-xs pull-right" style="margin-right: 10px;">
            <i class="fab fa-gitlab"></i>
          </button> -->
          <button v-on:click="email" class="btn btn-default btn-xs pull-right" style="margin-right: 10px;">
            <i class="fas fa-at"></i>
          </button>
          <button v-on:click="homepage" class="btn btn-default btn-xs pull-right" style="margin-right: 10px;">
            <i class="fas fa-home"></i>
          </button>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="panel-body">
        <ul class="nav nav-tabs" role="tablist">
          <li class="active">
            <a href="#ide" data-toggle="tab">
              {{ $t('About.KiwiIDE') }}
            </a>
          </li>
          <li class="">
            <a href="#third" data-toggle="tab">
              <span><i class="fas fa-layer-group"></i></span>&nbsp;&nbsp;{{ $t('About.Third') }}
            </a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane" id="third">
            <div class="third">
              <iframe src="licenses.html">
              </iframe>
            </div>
          </div>
          <div class="tab-pane active" id="ide">
            <div class="ide">
              <div class="logo-img"></div>
              <p>{{ $t('About.Text') }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { remote, shell } from 'electron';

export default {
  computed: {
  },
  methods: {
    onCloseWindow: function(e) {
      remote.getCurrentWindow().destroy();
    },
    homepage: function() {
      shell.openExternal('https://kiwi-ide.org');
    },
    email: function() {
      shell.openExternal('mailto:clausbendig@outlook.de')
    },
    gitlab: function() {
      shell.openExternal('https://gitlab.com/clausbendig/Kiwi-IDE')
    },
    close: function() {
      this.$router.push('/');
    }
  },  
  beforeDestroy: function() {
    remote.getCurrentWindow().removeListener('close', this.onCloseWindow);
  },
  mounted: function() {
    remote.getCurrentWindow().on('close', this.onCloseWindow);
  }
};
</script>

<style scoped>
.panel {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 50px;
  bottom: 0px;
  padding: 0px;
  margin: 15px;
}

.panel-title {
  display: inline-block;
}

.panel-body {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 45px;
  bottom: 0px;
  padding: 10px;
}

.tab-pane {
  height: 100%;
}

.ide {
  text-align: center;
  height: 100%;
  overflow: auto;
  padding: 10px;
}

.third {
  height: 100%;
}

.tab-content {
  width: 100%;
  height: calc(100% - 55px);
  padding: 0px;
}

.markdown {
  padding: 10px;
  height: 100%;
  overflow: auto;
}

iframe {
  padding: 10px;
  width: 100%;
  height: 100%;
  border: 0px;
  border-radius: 14px;
  -webkit-border-radius: 14px;
}

.logo-img {
  background-image: url("../../images/app.svg");
  display: inline-block;
  vertical-align: middle;
  width: 200px;
  height: 200px;
  margin-top: 80px;
  margin-bottom: 40px; 
}
</style>