<!-- Copyright (C) Claus Bendig -->
<template>
  <div class="editor-content">
    <navigation />
    <sidebar />
    <div class="main-content">
      <transition name="fade" mode="out-in">
        <router-view :key="$route.path" />
      </transition>
    </div>    
  </div>
</template>

<script>
export default {
  computed: {
    Console() {
      return this.$store.state.UI.Console.Visible;
    }
  }
};
</script>

<style scoped>
.editor-content {
  padding: 0px;
  margin: 0px;
  width: 100vw;
  height: 100%;
  display: grid;
  grid-template-columns: 215px auto 215px;
  grid-template-rows: auto;
  grid-template-areas: 
    "navigation main sidebar"
}

.main-content {
  grid-area: main;
  display: unset;
  width: 100%;
  overflow-y: auto;
}
</style>