<!-- Copyright (C) Claus Bendig -->
<template>
  <div class="projects-content">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{ $t('Projects.Projects') }}</h3>
      </div>
      <div class="panel-body">
        <form>
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-search"></i></div>
            <input class="form-control" :placeholder="$t('Projects.SearchProject')" type="text" v-model="searchFilter">
          </div>
        </form>
        <div style="padding-top: 15px;">
          <ul class="nav nav-tabs" role="tablist">
            <li class="active">
              <a href="#projects" data-toggle="tab">{{ $t('Projects.Projects') }}&nbsp;<span class="label">{{ projectsCount }}</span></a>
            </li>
            <li class="">
              <a href="#new" data-toggle="tab">
                <i class="fa fa-plus"></i>&nbsp;{{ $t('Projects.New') }}
              </a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane" id="new">
              <new-project />
            </div>
            <div class="tab-pane active" id="projects">
              <projects :searchFilter="searchFilter" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  computed: {
    projectsCount() {
      return this.$core.Projects.Total;
    }
  },
  data() {
    return {
      searchFilter: '',
    };
  }
};
</script>

<style scoped>
.projects-content {
  padding: 20px;
}

.panel {
  margin-bottom: 0px;
}
</style>