<!-- Copyright (C) Claus Bendig -->
<template>
  <div class="modal fade" tabindex="-1" role="dialog" ref="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header modal-default">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">{{ $t('Dialog.AddDataType.Title') }}</h4>
        </div>
        <div class="modal-body">   
          
          <div class="ui">
            <h5>{{ $t('Dialog.AddDataType.Name') }}</h5>
            <div class="input-group" :class="{ 'has-error': !isValid }">
              <input class="form-control" name="Name" type="text" v-model="Name" ref="nameInput">
            </div>
          </div>

          <div class="ui">
            <h5>{{ $t('Dialog.AddDataType.Type') }}</h5>
            <selection :entries="Entries" v-model="Derivation" datawidth="200px" datacontainer="body" />
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">{{ $t('Dialog.AddDataType.ButtonCancel') }}</button>
          <button :disabled="!isValid || Name === ''" type="button" class="btn btn-default" data-dismiss="modal" @click="addDataType"><span><i class="fas fa-plus"></i></span>&nbsp;&nbsp;{{ $t('Dialog.AddDataType.ButtonAdd') }}</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  computed: {
    isValid() {
      if (this.$core.Project.Name.isForbidden(this.Name, true)) {
        return false;
      } else {
        return true;
      }
    },
    Entries() {
      return {
        Options: [
          this.$t('Dialog.AddDataType.Directly'),
          this.$t('Dialog.AddDataType.Subrange'),
          this.$t('Dialog.AddDataType.Enumeration'),
          this.$t('Dialog.AddDataType.Array'),
          this.$t('Dialog.AddDataType.Structure')
        ]
      };
    }
  },
  data() {
    return {
      Name: '',
      Derivation: this.$t('Dialog.AddDataType.Directly'),
      Add: false
    };
  },
  methods: {
    addDataType() {
      this.Add = true;
    }
  },
  mounted() {
    var _this = this;
    this.$eventBus.$emit('Dialog.Opened');
    $(this.$refs.dialog).on('hidden.bs.modal', function (e) {
      _this.$eventBus.$emit('Dialog.Closed');
      _this.$emit('closed', {
        Name: _this.Name,
        Derivation: _this.Derivation,
        Add: _this.Add
      });
    });
    $(this.$refs.dialog).on('shown.bs.modal', function (e) {
      _this.$refs.nameInput.focus();  
    });
    $(this.$refs.dialog).modal({
      show: true,
      backdrop: 'static',
      keyboard: true
    });
  }
}
</script>

<style scoped>
h6 {
  padding-left: 1px;
}

.modal-body {
  display: flex;
  justify-content: center;
}

.ui-container {
  display: flex;
}

.ui {
  margin-left: 10px;
  margin-right: 10px;
}
</style>