<!-- Copyright (C) Claus Bendig -->
<template>
  <div class="modal fade" tabindex="-1" role="dialog" ref="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header modal-default">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">{{ $t('Dialog.AddFunction.Title') }}</h4>
        </div>
        <div class="modal-body">

          <div class="ui">
            <h5>{{ $t('Dialog.AddFunction.Name') }}</h5>
            <div class="input-group" :class="{ 'has-error': !isValid }">
              <input class="form-control" name="Name" type="text" v-model="Name" ref="nameInput">
            </div>
          </div>

          <div class="ui">
            <h5>{{ $t('Dialog.AddFunction.FunctionType') }}</h5>
            <selection :entries="FunctionTypes" v-model="FunctionType" @changed="onFunctionTypeChanged" datawidth="150px" datacontainer="body" />
          </div>

          <div class="ui">
            <h5>{{ $t('Dialog.AddFunction.Language') }}</h5>
            <selection :entries="Languages" v-model="Language" datawidth="150px" datacontainer="body" />
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">{{ $t('Dialog.AddFunction.ButtonCancel') }}</button>
          <button :disabled="!isValid || Name === ''" type="button" class="btn btn-default" data-dismiss="modal" @click="addFunction"><span><i class="fas fa-plus"></i></span>&nbsp;&nbsp;{{ $t('Dialog.AddFunction.ButtonAdd') }}</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  computed: {
    isValid() {
      if (this.$core.Project.Name.isForbidden(this.Name, true)) {
        return false;
      } else {
        return true;
      }
    },
    FunctionTypes() {
      return {
        Options: [
          this.$t('Dialog.AddFunction.Function'),
          this.$t('Dialog.AddFunction.FunctionBlock')
        ]
      };
    }
  },
  data() {
    return {
      Languages: {
        Options: [
          this.$t('Dialog.AddFunction.IL'),
          this.$t('Dialog.AddFunction.ST'),
          this.$t('Dialog.AddFunction.FBD'),
          this.$t('Dialog.AddFunction.LD')
        ]
      },
      Name: '',
      Language: this.$t('Dialog.AddFunction.FBD'),
      FunctionType: this.$t('Dialog.AddFunction.Function'),
      Add: false
    };
  },
  methods: {
    addFunction() {
      this.Add = true;
    },
    onFunctionTypeChanged(value) {
      this.FunctionType = value;
      if (this.FunctionType === this.$t('Dialog.AddFunction.Function')) {
        this.Languages = {
          Options: [
            this.$t('Dialog.AddFunction.IL'),
            this.$t('Dialog.AddFunction.ST'),
            this.$t('Dialog.AddFunction.FBD'),
            this.$t('Dialog.AddFunction.LD')
          ]
        };
        if (this.Language === this.$t('Dialog.AddFunction.SFC')) {
          this.Language = this.$t('Dialog.AddFunction.FBD');
        }
      } else {
        this.Languages = {
          Options: [
            this.$t('Dialog.AddFunction.IL'),
            this.$t('Dialog.AddFunction.ST'),
            this.$t('Dialog.AddFunction.FBD'),
            this.$t('Dialog.AddFunction.LD'),
            this.$t('Dialog.AddFunction.SFC')
          ]
        };
      }
    }
  },
  mounted() {
    var _this = this;
    this.$eventBus.$emit('Dialog.Opened');
    $(this.$refs.dialog).on('hidden.bs.modal', function (e) {
      _this.$eventBus.$emit('Dialog.Closed');
      _this.$emit('closed', {
        Name: _this.Name,
        Language: _this.Language,
        FunctionType: _this.FunctionType,
        Add: _this.Add
      });
    });
    $(this.$refs.dialog).on('shown.bs.modal', function (e) {
      _this.$refs.nameInput.focus();  
    });
    $(this.$refs.dialog).modal({
      show: true,
      backdrop: 'static',
      keyboard: true
    });
  }
}
</script>

<style scoped>
h6 {
  padding-left: 1px;
}

.modal-body {
  display: flex;
  justify-content: center;
}

.ui-container {
  display: flex;
}

.ui {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 15px;
}
</style>