<!-- Copyright (C) Claus Bendig -->
<template>
  <div class="modal fade" tabindex="-1" role="dialog" ref="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header modal-default">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">{{ $t('Dialog.CloseProject.Title') }}</h4>
        </div>
        <div class="modal-body">
          <p>{{ $t('Dialog.CloseProject.Body') }}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">{{ $t('Dialog.CloseProject.ButtonCancel') }}</button>
          <button type="button" class="btn btn-default" data-dismiss="modal" @click="no()"><span><i class="fas fa-times"></i></span>&nbsp;&nbsp;{{ $t('Dialog.CloseProject.ButtonNo') }}</button>
          <button type="button" class="btn btn-default" data-dismiss="modal" @click="yes()"><span><i class="fas fa-check"></i></span>&nbsp;&nbsp;{{ $t('Dialog.CloseProject.ButtonYes') }}</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return { 
      Save: false,
      Close: false
    };
  },
  methods: {
    yes() {
      this.Save = true;
      this.Close = true;
    },
    no() {
      this.Save = false;
      this.Close = true;
    }
  },
  mounted() {
    var _this = this;
    this.$eventBus.$emit('Dialog.Opened');
    $(this.$refs.dialog).on('hidden.bs.modal', function (e) {
      _this.$eventBus.$emit('Dialog.Closed');
      _this.$emit('closed', {
        Save: _this.Save,
        Close: _this.Close
      });
    });
    $(this.$refs.dialog).modal({
      show: true,
      backdrop: 'static',
      keyboard: true
    });
  }
}
</script>

<style scoped>
</style>