<!-- Copyright (C) Claus Bendig -->
<template>
  <div class="modal fade" tabindex="-1" role="dialog" ref="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header modal-default">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">{{ $t('Dialog.ConnectToPLC.Title') }}</h4>
        </div>
        <div class="modal-body">
          <ul class="nav nav-tabs" role="tablist">
            <li class="active">
              <a href="#webapi" data-toggle="tab">{{ $t('Dialog.ConnectToPLC.Network') }}&nbsp;<span class="label">{{ PLCs.length }}</span></a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="webapi">
              <table class="table table-fixed table-hover no-footer" role="grid">
                <thead>
                  <tr>
                    <th scope="col" class="col-auto" tabindex="0" rowspan="1" colspan="1"  width="200">
                      {{ $t('Dialog.ConnectToPLC.PLC') }}
                    </th>
                    <th scope="col" class="col-auto" tabindex="0" rowspan="1" colspan="1"  width="200">
                      {{ $t('Dialog.ConnectToPLC.Address') }}
                    </th>
                    <th scope="col" class="col-auto" tabindex="0" rowspan="1" colspan="1"  width="200">
                      {{ $t('Dialog.ConnectToPLC.UUID') }}
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(p, i) in NetworkPLCs" :class="{ 'row-selected': NetworkPLCSelected == i }" :key="p.id" @click="NetworkPLCSelected = i">
                    <td scope="col" class="col-auto" tabindex="0" rowspan="1" colspan="1">
                      {{ p.PLC.Name }}
                    </td>
                    <td scope="col" class="col-auto" tabindex="0" rowspan="1" colspan="1">
                      {{ p.IP }}
                    </td>
                    <td scope="col" class="col-auto" tabindex="0" rowspan="1" colspan="1">
                      {{ p.UUID }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" :disabled="Searching" class="btn btn-default" @click="search"><span><i class="fas fa-sync"></i></span></button>
          <button type="button" class="btn btn-default" data-dismiss="modal">{{ $t('Dialog.ConnectToPLC.ButtonCancel') }}</button>
          <button type="button" :disabled="NetworkPLCSelected == -1" class="btn btn-default" data-dismiss="modal" @click="connect"><span><i class="fas fa-link"></i></span>&nbsp;&nbsp;{{ $t('Dialog.ConnectToPLC.ButtonConnect') }}</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  computed: {
    NetworkPLCs() {
      for (var i = 0; i < this.PLCs.length; i++) {
        this.PLCs[i].id = i
      }
      return this.PLCs;
    }
  },
  data() {
    return {
      Searching: false,
      PLCs: [],
      NetworkPLCSelected: -1,
      Connect: false,
      PLC: undefined
    };
  },
  methods: {
    connect() {
      this.Connect = true;
      this.PLC = this.PLCs[this.NetworkPLCSelected];
    },
    addDataType() {
      this.Connect = true;
    },
    search() {
      this.PLCs.splice(0, this.PLCs.length);
      this.Searching = true;
      this.NetworkPLCSelected = -1;
      this.$core.PLC.search().then(this.onSearch).catch(this.onSearch);
      this.$Progress.start();
    },
    onSearch(PLCs) {
      this.$Progress.finish();
      for (var i = 0; i < PLCs.length; i++) {
        this.PLCs.push(PLCs[i]);
      }
      this.Searching = false;
    }
  },
  mounted() {
    var _this = this;
    this.$eventBus.$emit('Dialog.Opened');
    $(this.$refs.dialog).on('hidden.bs.modal', function (e) {
      _this.$eventBus.$emit('Dialog.Closed');
      _this.$emit('closed', {
        Connect: _this.Connect,
        PLC: _this.PLC
      });
      _this.$Progress.finish();
    });
    $(this.$refs.dialog).modal({
      show: true,
      backdrop: 'static',
      keyboard: true
    });
    this.search();
  }
}
</script>

<style scoped>
.tab-content {
  height: 290px;
  overflow: auto;
}

table.row-hover tr:hover {
  background-color: #30363c;
}

.row-selected {
  background-color: #353c42;
}
</style>