<!-- Copyright (C) Claus Bendig -->
<template>
  <div class="modal fade" tabindex="-1" role="dialog" ref="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header modal-danger">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">{{ $t('Dialog.DeleteProject.Title') }}</h4>
        </div>
        <div class="modal-body">
          <p>{{ $t('Dialog.DeleteProject.Body', { name: project.Meta.Name }) }}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">{{ $t('Dialog.DeleteProject.ButtonCancel') }}</button>
          <button type="button" class="btn btn-default" data-dismiss="modal" @click="deleteProject"><span><i class="fas fa-trash-alt"></i></span>&nbsp;&nbsp;{{ $t('Dialog.DeleteProject.ButtonDelete') }}</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: [
    'project'
  ],
  data() {
    return {
      Delete: false
    };
  },
  methods: {
    deleteProject() {
      this.Delete = true;
    }
  },
  mounted() {
    var _this = this;
    this.$eventBus.$emit('Dialog.Opened');
    $(this.$refs.dialog).on('hidden.bs.modal', function (e) {
      _this.$eventBus.$emit('Dialog.Closed');
      _this.$emit('closed', {
        Delete: _this.Delete,
        Project: _this.project
      });
    });
    $(this.$refs.dialog).modal({
      show: true,
      backdrop: 'static',
      keyboard: true
    });
  }
}
</script>

<style scoped>
</style>