<!-- Copyright (C) Claus Bendig -->
<template>
  <div class="modal fade" tabindex="-1" role="dialog" ref="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header modal-default">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">{{ $t('Dialog.EditImportedProject.Title') }}</h4>
        </div>
        <div class="modal-body">
          <p>{{ $t('Dialog.EditImportedProject.Body', { name: project.Meta.Name }) }}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal"><span><i class="fas fa-times"></i></span>&nbsp;&nbsp;{{ $t('Dialog.EditImportedProject.ButtonNo') }}</button>
          <button type="button" class="btn btn-default" data-dismiss="modal" @click="edit"><span><i class="fas fa-check"></i></span>&nbsp;&nbsp;{{ $t('Dialog.EditImportedProject.ButtonYes') }}</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['project'],
  data() {
    return {
      Edit: false
    };
  },
  methods: {
    edit() {
      this.Edit = true;
    },
  },
  mounted() {
    var _this = this;
    this.$eventBus.$emit('Dialog.Opened');
    $(this.$refs.dialog).on('hidden.bs.modal', function (e) {
      _this.$eventBus.$emit('Dialog.Closed');
      _this.$emit('closed', {
        Edit: _this.Edit,
        Project: _this.project
      });
    })
    $(this.$refs.dialog).modal({
      show: true,
      backdrop: 'static',
      keyboard: true
    });
  }
}
</script>

<style scoped>
</style>