<!-- Copyright (C) Claus Bendig -->
<template>
  <div class="modal fade" tabindex="-1" role="dialog" ref="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header modal-default">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 v-if="isWhichPOUType === 'Program'" class="modal-title">{{ $t('Dialog.POUClone.TitleProgram') }}</h4>
          <h4 v-if="isWhichPOUType === 'Function'" class="modal-title">{{ $t('Dialog.POUClone.TitleFunction') }}</h4>
          <h4 v-if="isWhichPOUType === 'FunctionBlock'" class="modal-title">{{ $t('Dialog.POUClone.TitleFunctionBlock') }}</h4>
          <h4 v-if="isWhichPOUType === 'DataType'" class="modal-title">{{ $t('Dialog.POUClone.TitleDataType') }}</h4>
        </div>
        <div class="modal-body">

        <div class="ui">
          <h5>{{ $t('Dialog.POUClone.Name') }}</h5>
          <div class="input-group" :class="{ 'has-error': !isValid }">
            <input class="form-control" name="Name" type="text" v-model="Name" ref="nameInput">
          </div>
        </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">{{ $t('Dialog.POUClone.ButtonCancel') }}</button>
          <button :disabled="!isValid || Name === ''" type="button" class="btn btn-default" data-dismiss="modal" @click="clone"><span><i class="fas fa-clone"></i></span>&nbsp;&nbsp;{{ $t('Dialog.POUClone.ButtonClone') }}</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: [
    'pou'
  ],
  computed: {
    isWhichPOUType() {
      return this.pou.POUType;
    },
    isValid() {
      if (this.$core.Project.Name.isForbidden(this.Name, true)) {
        return false;
      } else {
        return true;
      }
    }
  },
  data() {
    return {
      Name: '',
      Clone: false
    }
  },
  methods: {
    clone() {
      this.Clone = true;
    }
  },
  mounted() {
    var _this = this;
    this.$eventBus.$emit('Dialog.Opened');
    $(this.$refs.dialog).on('hidden.bs.modal', function (e) {
      _this.$eventBus.$emit('Dialog.Closed');
      _this.$emit('closed', {
        Name: _this.Name,
        Clone: _this.Clone
      });
    });
    $(this.$refs.dialog).on('shown.bs.modal', function (e) {
      _this.$refs.nameInput.focus();  
    });
    $(this.$refs.dialog).modal({
      show: true,
      backdrop: 'static',
      keyboard: true
    });
  }
}
</script>

<style scoped>
h6 {
  padding-left: 1px;
}

.modal-body {
  display: flex;
  justify-content: center;
}

.ui-container {
  display: flex;
}

.ui {
  margin-left: 10px;
  margin-right: 10px;
}
</style>