<!-- Copyright (C) Claus Bendig -->
<template>
  <div class="modal fade" tabindex="-1" role="dialog" ref="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header modal-default">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 v-if="isWhichPOUType === 'Program'" class="modal-title">{{ $t('Dialog.POURemove.TitleProgram') }}</h4>
          <h4 v-if="isWhichPOUType === 'Function'" class="modal-title">{{ $t('Dialog.POURemove.TitleFunction') }}</h4>
          <h4 v-if="isWhichPOUType === 'FunctionBlock'" class="modal-title">{{ $t('Dialog.POURemove.TitleFunctionBlock') }}</h4>
          <h4 v-if="isWhichPOUType === 'DataType'" class="modal-title">{{ $t('Dialog.POURemove.TitleDataType') }}</h4>
        </div>
        <div class="modal-body">
          <p v-if="isWhichPOUType === 'Program'">{{ $t('Dialog.POURemove.BodyProgram', { name: pou.Name }) }}</p>
          <p v-if="isWhichPOUType === 'Function'">{{ $t('Dialog.POURemove.BodyFunction', { name: pou.Name }) }}</p>
          <p v-if="isWhichPOUType === 'FunctionBlock'">{{ $t('Dialog.POURemove.BodyFunctionBlock', { name: pou.Name }) }}</p>
          <p v-if="isWhichPOUType === 'DataType'">{{ $t('Dialog.POURemove.BodyDataType', { name: pou.Name }) }}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">{{ $t('Dialog.POURemove.ButtonCancel') }}</button>
          <button type="button" class="btn btn-default" data-dismiss="modal" @click="remove"><span><i class="fas fa-trash-alt"></i></span>&nbsp;&nbsp;{{ $t('Dialog.POURemove.ButtonRemove') }}</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: [
    'pou'
  ],
  computed: {
    isWhichPOUType() {
      return this.pou.POUType;
    },
  },
  data() {
    return {
      Remove: false
    };
  },
  methods: {
    remove() {
      this.Remove = true;
    }
  },
  mounted() {
    var _this = this;
    this.$eventBus.$emit('Dialog.Opened');
    $(this.$refs.dialog).on('hidden.bs.modal', function (e) {
      _this.$eventBus.$emit('Dialog.Closed');
      _this.$emit('closed', {
        Remove: _this.Remove
      });
    })
    $(this.$refs.dialog).modal({
      show: true,
      backdrop: 'static',
      keyboard: true
    });
  }
}
</script>

<style scoped>
</style>