<!-- Copyright (C) Claus Bendig -->
<template>
  <div>
    <table class="table table-fixed table-hover no-footer" role="grid" v-bind:style="TableStyle">
      <thead>
        <slot name="headers" />
      </thead>
      <tbody v-bind:style="TableBodyStyle">
        <slot name="body" />
      </tbody>
    </table>
  </div>
</template>

<script>
import _ from 'underscore';

export default {
  props: {
    height: Number
  },
  computed: {
    TableStyle() {
      if (this.height != undefined) {
        if (this.height == -1) {
          return "";
        }
        return "height: " + this.height.toString() + "px;"
      }
    },
    TableBodyStyle() {
      if (this.height != undefined) {
        if (this.height == -1) {
          return "";
        }
        var bodyHeight = this.height - 38;
        return "height: " + bodyHeight.toString() + "px;"
      }
    }
  }
};
</script>

<style scoped>
thead {
  background-color: rgba(36, 41, 44, 0.5);
  display: block;
}

tbody {
  display: block;
  max-height: 100%;
  overflow: auto;
}

tr {
  width: 100%;
  display: flex;
}

.selected {
  background-color: rgba(36, 41, 44, 0.5) !important;
  box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.25);
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th {
  border-bottom: 0px;
}

.table>caption+thead>tr:first-child>td,
.table>caption+thead>tr:first-child>th,
.table>colgroup+thead>tr:first-child>td,
.table>colgroup+thead>tr:first-child>th,
.table>thead:first-child>tr:first-child>td,
.table>thead:first-child>tr:first-child>th {
  font-weight: bold;
  /* border-top: 2px solid #5e6870; */
  border-bottom: 2px solid #5e6870;
}


.table-hover>tbody>tr:hover {
  background-color: rgba(36, 41, 44, 0.25);
}

</style>