<!-- Copyright (C) Claus Bendig -->
<template>
  <th scope="col" class="col-auto" tabindex="0" :rowspan="Rows" :colspan="Columns" :class="{ stretch: Stretch }" :width="Width">
    <slot></slot>
  </th>
</template>

<script>
export default {
  props: [
    'width',
    'col-span',
    'row-span'
  ],
  computed: {
    Columns() {
      if (this['col-span'] == undefined) {
        return 1;
      } else {
        return this['col-span'];
      }
    },
    Rows() {
      if (this['row-span'] == undefined) {
        return 1;
      } else {
        return this['row-span'];
      }
    },
    Stretch: function() {
      var width = parseInt(this.width);
      if (width < 0) {
        return true;
      } else {
        return false;
      }
    },
    Width: function() {
      var width = parseInt(this.width);
      if (width >= 0) {
        return width.toString();
      } else {
        return "0px";
      }
    }
  }
};
</script>

<style scoped>
.stretch {
  flex-grow: 1;
}
</style>