<!-- Copyright (C) Claus Bendig -->
<template>
  <td scope="col" class="col-auto" tabindex="0" rowspan="1" colspan="1" v-bind:class="{ stretch: Stretch }" v-bind:width="Width">
    <slot></slot>
  </td>
</template>

<script>
export default {
  props: [
    'name',
    'width'
  ],
  computed: {
    Columns() {
      if (this.columnspan == undefined) {
        return 1;
      } else {
        return this.columnspan;
      }
    },
    Rows() {
      if (this.rowspan == undefined) {
        return 1;
      } else {
        return this.rowspan;
      }
    },
    Stretch: function() {
      var width = parseInt(this.width);
      if (width < 0) {
        return true;
      } else {
        return false;
      }
    },
    Width: function() {
      var width = parseInt(this.width);
      if (width >= 0) {
        return width.toString();
      } else {
        return "0px";
      }
    }
  }
};
</script>

<style scoped>
.stretch {
  flex-grow: 1;
  padding-right: 0px;
}
</style>