<!-- Copyright (C) Claus Bendig -->
<template>
  <div>
    <base-table :height="height">
      <tr slot="headers">
        <base-table-header width="25">#</base-table-header>
        <base-table-header width="-1">{{ $t('Table.Enumeration.Name') }}</base-table-header>
      </tr>
      <tr v-for="(m, i) in Members" :key="m.id" slot="body" :class="{ 'selected': Selected == i }" @click="selectRow(i)">
        <base-table-body width="25">
          <div class="radio">
            <input type="radio" name="radio" :checked="isInitialValue(i)" @change="onInitialValueChanged(i)">
            <label>
            </label>
          </div>
        </base-table-body>
        <base-table-body width="-1" style="padding-right: 8px;">
          <member v-model="m.Member.Name" :members="DataType.Members" @changed="onMemberChanged(i)" xs />
        </base-table-body>
      </tr>
    </base-table>
  </div>
</template>

<script>
import _ from 'underscore';

export default {
  props: {
    DataType: Object,
    height: Number
  },
  computed: {
    Entries() {
      return {
        Options: _.map(this.DataType.Members, (member) => {
          return member.Name;
        })
      }
    },
    Members() {
      var members = [];
      for (var i = 0; i < this.DataType.Members.length; i++) {
        members.push({
          Member: this.DataType.Members[i],
          id: i
        });
      }
      return members;
    }
  },
  methods: {
    selectRow(index) {
      this.Selected = index;
    },
    onAdd() {
      this.$core.Project.DataType.Enumeration.add(this.DataType.Members);
      this.Selected = this.DataType.Members.length - 1;
    },
    onRemove() {
      if ((this.Selected != -1) && (this.DataType.Members.length > 1)) {
        if (this.Index == this.Selected) {
          this.DataType.InitialValue = this.DataType.Members[0].Name;
        }
        this.$core.Project.DataType.Enumeration.remove(this.DataType.Members, this.Selected);
        this.Selected = -1;
      }
    },
    onUp() {
      if (this.Selected != -1) {
        this.Selected = this.$core.Project.DataType.Enumeration.moveUp(this.DataType.Members, this.Selected);
      }
    },
    onDown() {
      if (this.Selected != -1) {
        this.Selected = this.$core.Project.DataType.Enumeration.moveDown(this.DataType.Members, this.Selected);
      }
    },
    isInitialValue(index) {
      return (this.DataType.Members[index].Name == this.DataType.InitialValue);
    },
    onInitialValueChanged(index) {
      this.Index = index;
      this.DataType.InitialValue = this.DataType.Members[index].Name;
    },
    onMemberChanged(index) {
      if (this.Index == index) {
        this.DataType.InitialValue = this.DataType.Members[index].Name;
      }
    }
  },
  beforeDestroy() {
    this.$eventBus.$off('DataType.Add', this.onAdd);
    this.$eventBus.$off('DataType.Remove', this.onRemove);
    this.$eventBus.$off('DataType.Up', this.onUp);
    this.$eventBus.$off('DataType.Down', this.onDown);
  },
  beforeMount() {
    for (var i = 0; i < this.DataType.Members.length; i++) {
      if (this.DataType.InitialValue == this.DataType.Members[i].Name) {
        this.Index = i;
        break;
      }
    }
    this.$eventBus.$on('DataType.Add', this.onAdd);
    this.$eventBus.$on('DataType.Remove', this.onRemove);
    this.$eventBus.$on('DataType.Up', this.onUp);
    this.$eventBus.$on('DataType.Down', this.onDown);
  },
  data() {
    return {
      Selected: -1,
      Index: -1
    }
  }
};
</script>

<style scoped>
.radio {
  height: 0px;
  padding-top: 1px;
}
</style>