<!-- Copyright (C) Claus Bendig -->
<template>
  <div>
    <base-table height="200">
      <tr slot="headers">
        <base-table-header width="200">SPS</base-table-header>
        <base-table-header width="-1">Adresse</base-table-header>
      </tr>
      <tr v-for="(p, i) in PLCs" :key="p.id" slot="body" :class="{ 'selected': Selected == i }" @click="selectRow(i)">
        <base-table-body width="200" style="padding-right: 8px;">
          {{ p.PLC.Name }}
        </base-table-body>
        <base-table-body width="-1" style="padding-right: 8px;">
          {{ p.URL }}
        </base-table-body>
      </tr>
    </base-table>
  </div>
</template>

<script>
export default {
  props: {
    plcs: Array
  },
  computed: {
    PLCs() {
      var PLCs = [];
      for (var i = 0; i < this.plcs.length; i++) {
        PLCs.push({
          PLC: this.plcs[i],
          id: i
        });
      }
      console.log(PLCs);
      return PLCs;
    }
  },
  methods: {
    selectRow(index) {
      this.Selected = index;
    },
  }
};
</script>

<style scoped>
.radio {
  height: 0px;
  padding-top: 1px;
}
</style>