<!-- Copyright (C) Claus Bendig -->
<template>
  <div>
    <base-table :height="height">
      <tr slot="headers">
        <base-table-header width="-1">
          {{ $t('Table.Structure.Name') }}
        </base-table-header>
        <base-table-header width="200">
          {{ $t('Table.Structure.DataType') }}
        </base-table-header>
      </tr>
      <tr v-for="(s, i) in Members" :key="s.id" slot="body" :class="{ 'selected': Selected == i }" @click="selectRow(i)">
        <base-table-body width="-1">
          <member v-model="s.Structure.Name" :members="DataType.Members" xs />
        </base-table-body>
        <base-table-body width="200">
          <data-type v-model="s.Structure" :parent="DataType" datawidth="182px" datastyle="btn-xs" />
        </base-table-body>
      </tr>
    </base-table>
  </div>
</template>

<script>
export default {
  props: {
    DataType: Object,
    height: Number
  },
  computed: {
    Members() {
      var members = [];
      for (var i = 0; i < this.DataType.Members.length; i++) {
        members.push({
          id: i,
          Structure: this.DataType.Members[i]
        });
      }
      return members;
    }
  },
  methods: {
    selectRow(index) {
      this.Selected = index;
    },
    onAdd() {
      this.$core.Project.DataType.Structure.add(this.DataType.Members);
      this.Selected = this.DataType.Members.length - 1;
    },
    onRemove() {
      if (this.Selected != -1) {
        this.$core.Project.DataType.Structure.remove(this.DataType.Members, this.Selected);
        this.Selected = -1;
      }
    },
    onUp() {
      if (this.Selected != -1) {
        this.Selected = this.$core.Project.DataType.Structure.moveUp(this.DataType.Members, this.Selected);
      }
    },
    onDown() {
      if (this.Selected != -1) {
        this.Selected = this.$core.Project.DataType.Structure.moveDown(this.DataType.Members, this.Selected);
      }
    }
  },
  beforeDestroy: function() {
    this.$eventBus.$off('DataType.Add', this.onAdd);
    this.$eventBus.$off('DataType.Remove', this.onRemove);
    this.$eventBus.$off('DataType.Up', this.onUp);
    this.$eventBus.$off('DataType.Down', this.onDown);
  },
  beforeMount: function() {
    this.$eventBus.$on('DataType.Add', this.onAdd);
    this.$eventBus.$on('DataType.Remove', this.onRemove);
    this.$eventBus.$on('DataType.Up', this.onUp);
    this.$eventBus.$on('DataType.Down', this.onDown);
  },
  data() {
    return {
      Selected: -1
    }
  }
};
</script>

<style scoped>
</style>