<!-- Copyright (C) Claus Bendig -->
<template>
  <div>
    <base-table :height="height">
      <tr slot="headers">
        <base-table-header width="-1">
          {{ $t('Table.Task.Name') }}
        </base-table-header>
        <base-table-header width="150">
          {{ $t('Table.Task.Program') }}
        </base-table-header>
        <base-table-header width="150">
          {{ $t('Table.Task.Type') }}
        </base-table-header>
        <base-table-header width="150">
          {{ $t('Table.Task.IntervalEvent') }}
        </base-table-header>
        <base-table-header width="85">
          {{ $t('Table.Task.Priority') }}
        </base-table-header>
      </tr>
      <tr v-for="(t, i) in Tasks" :key="t.id" slot="body" :class="{ 'selected': i == Selected }" @click="selectRow(i)">
        <base-table-body width="-1">
          <member v-model="t.Task.Name" :members="tasks" xs />
        </base-table-body>
        <base-table-body width="150">
          <selection :entries="Programs" :parent="t.Task" v-model="t.Task.Program" datastyle="btn-xs" datawidth="140px" datacontainer="body" />
        </base-table-body>
        <base-table-body width="150">
          <selection :entries="Types" :parent="t.Task" v-model="t.Type" @changed="onTypeChanged" datastyle="btn-xs" datawidth="140px" datacontainer="body" />
        </base-table-body>
        <base-table-body width="150">
          <div v-if="isEvent(t.Task)">
            <selection :entries="Events" v-model="t.Task.Event" datastyle="btn-xs" datawidth="140px" datacontainer="body" />
          </div>
          <div v-if="isPeriodic(t.Task)">
            <initial-value v-model="t.Task.Cycle" datatype="TIME" xs style="width: 140px;" required/>
          </div>
        </base-table-body>
        <base-table-body width="85">
          <priority v-model="t.Task.Priority" xs style="width: 70px;"/>
        </base-table-body>
      </tr>
    </base-table>
  </div>
</template>

<script>
import _ from 'underscore';

export default {
  props: {
    tasks: Array,
    programs: Array,
    variables: Array,
    height: Number
  },
  computed: {
    Tasks() {
      var tasks = [];
      for (var i = 0; i < this.tasks.length; i++) {
        tasks.push({
          Task: this.tasks[i],
          Type: (this.tasks[i].Type == 'Periodic') ? this.$t('Table.Task.Periodic') : this.$t('Table.Task.Event'),
          id: i
        });
      }
      return tasks;
    },
    Programs() {
      var programs = _.map(this.programs, (program) => {
        return program.Name;
      });
      return { Options: programs };
    },
    Events() {
      var filtered = _.filter(this.variables, (variable) => {
        return (variable.DataType == 'BOOL');
      });
      var events = _.map(filtered, (variable) => {
        return variable.Name;
      });
      return { Options: events };
    },
    Types() {
      return {
        Options: [
          this.$t('Table.Task.Periodic'),
          this.$t('Table.Task.Event')
        ]
      };
    }
  },
  methods: {
    selectRow(index) {
      this.Selected = index;
    },
    onTypeChanged(value, task) {
      switch(value) {
        case this.$t('Table.Task.Periodic'): 
          task.Type = 'Periodic';
          task.Event = '';
          break;
        case this.$t('Table.Task.Event'):
          task.Type = 'EventDriven';
          break;
      }
      this.$forceUpdate();
    },
    isEvent(task) {
      if (task.Type == 'EventDriven') {
        return true;
      } else {
        return false;
      }
    },
    isPeriodic(task) {
      if (task.Type == 'Periodic') {
        return true;
      } else {
        return false;
      }
    },
    onAdd() {
      this.$core.Project.Resource.Task.add(this.tasks);
      this.Selected = this.tasks.length - 1;
    },
    onRemove() {
      if (this.Selected != -1) {
        this.$core.Project.Resource.Task.remove(this.tasks, this.Selected);
        this.Selected = -1;
      }
    },
    onUp() {
      if (this.Selected != -1) {
        this.Selected = this.$core.Project.Resource.Task.moveUp(this.tasks, this.Selected);
      }
    },
    onDown() {
      if (this.Selected != -1) {
        this.Selected = this.$core.Project.Resource.Task.moveDown(this.tasks, this.Selected);
      }
    }
  },
  data() {
    return {
      Selected: -1
    };
  },
  beforeDestroy() {
    this.$eventBus.$off('Task.Add', this.onAdd);
    this.$eventBus.$off('Task.Remove', this.onRemove);
    this.$eventBus.$off('Task.Up', this.onUp);
    this.$eventBus.$off('Task.Down', this.onDown);
  },
  beforeMount() {
    this.$eventBus.$on('Task.Add', this.onAdd);
    this.$eventBus.$on('Task.Remove', this.onRemove);
    this.$eventBus.$on('Task.Up', this.onUp);
    this.$eventBus.$on('Task.Down', this.onDown);
  }
};
</script>

<style scoped>
</style>