<!-- Copyright (C) Claus Bendig -->
<template>
  <div>
    <base-table :height="height">
      <tr slot="headers">
        <base-table-header width="150">
          {{ $t('Table.Variables.Name') }}
        </base-table-header>
        <base-table-header v-if="program || func || functionblock" width="135">
          {{ $t('Table.Variables.Class') }}
        </base-table-header>
        <base-table-header width="115">
          {{ $t('Table.Variables.DataType') }}
        </base-table-header>
        <base-table-header v-if="program || global" width="115">
          {{ $t('Table.Variables.Address') }}
        </base-table-header>
        <base-table-header width="115">
          {{ $t('Table.Variables.Option') }}
        </base-table-header>
        <base-table-header width="110">
          {{ $t('Table.Variables.InitialValue') }}
        </base-table-header>
        <base-table-header width="-1">
          {{ $t('Table.Variables.Comment') }}
        </base-table-header>
      </tr>
      <tr v-for="(v, i) in Variables" :key="v.id" slot="body" :class="{ 'selected': Selected == i }" @click="selectRow(i)">
        <base-table-body width="150">
          <member v-model="v.Variable.Name" :members="variables" xs style="width: 140px;" />
        </base-table-body>
        <base-table-body v-if="program || func || functionblock" width="135">
          <variable-class v-model="v.Variable.Class" datawidth="125px" datastyle="btn-xs" :global="global" :program="program" :func="func" :functionblock="functionblock" />
        </base-table-body>
        <base-table-body width="115">
          <data-type v-model="v.Variable" datawidth="105px" datastyle="btn-xs" />
        </base-table-body>
        <base-table-body v-if="program || global"  width="115">
          <variable-address v-model="v.Variable.Address" xs style="width: 105px;" />
        </base-table-body>
        <base-table-body width="115">
          <variable-option v-model="v.Variable.Option" :classs="v.Variable.Class" datawidth="105px" datastyle="btn-xs" :global="global" :program="program" :func="func" :functionblock="functionblock" />
        </base-table-body>
        <base-table-body width="110">
          <initial-value v-model="v.Variable.InitialValue" :datatype="v.Variable.DataType" xs style="width: 100px;"/>
        </base-table-body>
        <base-table-body width="-1">
          <documentation v-model="v.Variable.Documentation" xs />
        </base-table-body>
      </tr>
    </base-table>
  </div>
</template>

<script>
export default {
  props: {
    variables: Array,
    height: Number,
    global: Boolean,
    program: Boolean,
    functionblock: Boolean,
    func: Boolean
  },
  computed: {
    Variables() {
      var variables = [];
      for (var i = 0; i < this.variables.length; i++) {
        variables.push({
          Variable: this.variables[i],
          id: i
        });
      }
      return variables;
    }
  },
  methods: {
    selectRow(index) {
      this.Selected = index;
    },
    onAdd() {
      if (this.global) {
        this.$core.Project.Resource.Variable.add(this.variables);
      } else {
        this.$core.Project.Variable.add(this.variables);
      }
      this.Selected = this.variables.length - 1;
    },
    onRemove() {
      if (this.Selected != -1) {
        this.$core.Project.Variable.remove(this.variables, this.Selected);
        this.Selected = -1;
      }
    },
    onUp() {
      if (this.Selected != -1) {
        this.Selected = this.$core.Project.Variable.moveUp(this.variables, this.Selected);
      }
    },
    onDown() {
      if (this.Selected != -1) {
        this.Selected = this.$core.Project.Variable.moveDown(this.variables, this.Selected);
      }
    }
  },
  beforeDestroy: function() {
    this.$eventBus.$off('Variable.Add', this.onAdd);
    this.$eventBus.$off('Variable.Remove', this.onRemove);
    this.$eventBus.$off('Variable.Up', this.onUp);
    this.$eventBus.$off('Variable.Down', this.onDown);
  },
  beforeMount: function() {
    this.$eventBus.$on('Variable.Add', this.onAdd);
    this.$eventBus.$on('Variable.Remove', this.onRemove);
    this.$eventBus.$on('Variable.Up', this.onUp);
    this.$eventBus.$on('Variable.Down', this.onDown);
  },
  data() {
    return {
      Selected: -1
    }
  }
};
</script>

<style scoped>
</style>