#ifndef IO_c
#define IO_c

#include <iec_types.h>
#include <iec_std_lib.h>

#include <PLC.h>
#include <Interfaces/Kiwi/Kiwi.h>

#define __LOCATED_VAR(type, name, ...) type __##name;
#include "LOCATED_VARIABLES.h"
#undef __LOCATED_VAR
#define __LOCATED_VAR(type, name, ...) type* name = &__##name;
#include "LOCATED_VARIABLES.h"
#undef __LOCATED_VAR

<% Project.Interfaces.forEach(function(bus){ %>
  <% if (bus.Bus == 'Kiwi') { %>
    DefinitionIO Definitions[] = {
      <% bus.Modules.forEach(function(module){ %>
        <% module.Variables.forEach(function(variable){ %>
          { .Name = "<%= variable.Name %>", .DataType = "<%= variable.DataType %>", .MemoryType = "<%= variable.MemoryType %>", .Address = "<%= bus.Physical %>_<%= module.Address %>.<%= bus.Physical %>_<%= module.Address %>.<%= variable.Address %>", .Variable = &__<%= variable.MemoryType %><%= variable.Prepared.Prefix %><%= variable.Prepared.Address.Underscore %>, },  
        <% }); %>
      <% }); %>
    };
  <% } %>
<% }); %>

<% Project.Interfaces.forEach(function(bus){ %>
  <% if (bus.Bus == 'Kiwi') { %>
    <% bus.Modules.forEach(function(module){ %>

      uint8_t Kiwi_Address_<%= bus.Physical %>_<%= module.Address %>_InputBuffer1[<%= module.InputMemory %>];
      uint8_t Kiwi_Address_<%= bus.Physical %>_<%= module.Address %>_InputBuffer2[<%= module.InputMemory %>];
      uint8_t Kiwi_Address_<%= bus.Physical %>_<%= module.Address %>_OutputBuffer1[<%= module.OutputMemory %>];
      uint8_t Kiwi_Address_<%= bus.Physical %>_<%= module.Address %>_OutputBuffer2[<%= module.OutputMemory %>];

      BufferIO Kiwi_Address_<%= bus.Physical %>_<%= module.Address %>_Buffers = {
        .Input = {
          .FrontBuffer = Kiwi_Address_<%= bus.Physical %>_<%= module.Address %>_InputBuffer1,
          .BackBuffer  = Kiwi_Address_<%= bus.Physical %>_<%= module.Address %>_InputBuffer2,
          .BufferSize  = <%= module.InputMemory %>,
        },
        .Output = {
          .FrontBuffer = Kiwi_Address_<%= bus.Physical %>_<%= module.Address %>_OutputBuffer1,
          .BackBuffer  = Kiwi_Address_<%= bus.Physical %>_<%= module.Address %>_OutputBuffer2,
          .BufferSize  = <%= module.OutputMemory %>,
        }
      };

      uint8_t Kiwi_Address_<%= bus.Physical %>_<%= module.Address %>_UUID[] = {<% module.UUID_Buffer.forEach(function(b){ %><%= b %>, <% }); %>};

      void Kiwi_Address_<%= bus.Physical %>_<%= module.Address %>_begin() {
        // Clean buffers.
        memset(Kiwi_Address_<%= bus.Physical %>_<%= module.Address %>_Buffers.Input.FrontBuffer,  0, <%= module.InputMemory %>);
        memset(Kiwi_Address_<%= bus.Physical %>_<%= module.Address %>_Buffers.Input.BackBuffer,   0, <%= module.InputMemory %>);
        memset(Kiwi_Address_<%= bus.Physical %>_<%= module.Address %>_Buffers.Output.FrontBuffer, 0, <%= module.OutputMemory %>);
        memset(Kiwi_Address_<%= bus.Physical %>_<%= module.Address %>_Buffers.Output.BackBuffer,  0, <%= module.OutputMemory %>);
      }

      void Kiwi_Address_<%= bus.Physical %>_<%= module.Address %>_processOutput() {
        <% module.Variables.forEach(function(variable){ %>
        <% if (variable.MemoryType == 'Q') { %>
          <% if (variable.Prepared.Address.isBit == true) { %>
            bitWrite(Kiwi_Address_<%= bus.Physical %>_<%= module.Address %>_Buffers.Output.FrontBuffer[<%= variable.Prepared.Address.LastByte %>], <%= variable.Prepared.Address.LastBit %>, (*__<%= variable.MemoryType %><%= variable.Prepared.Prefix %><%= variable.Prepared.Address.Underscore %>));
          <% } else {%>
            memcpy(__<%= variable.MemoryType %><%= variable.Prepared.Prefix %><%= variable.Prepared.Address.Underscore %>, &Kiwi_Address_<%= bus.Physical %>_<%= module.Address %>_Buffers.Output.FrontBuffer[<%= variable.Prepared.Address.LastByte %>], <%= variable.Prepared.Size %>);
          <% } %>
        <% } %>
        <% }); %>
      }

      void Kiwi_Address_<%= bus.Physical %>_<%= module.Address %>_processInput() {
        <% module.Variables.forEach(function(variable){ %>
        <% if (variable.MemoryType == 'I') { %>   
          <% if (variable.Prepared.Address.isBit == true) { %>
            (*__<%= variable.MemoryType %><%= variable.Prepared.Prefix %><%= variable.Prepared.Address.Underscore %>) = bitRead(Kiwi_Address_<%= bus.Physical %>_<%= module.Address %>_Buffers.Input.FrontBuffer[<%= variable.Prepared.Address.LastByte %>], <%= variable.Prepared.Address.LastBit %>);
          <% } else {%>
            memcpy(&Kiwi_Address_<%= bus.Physical %>_<%= module.Address %>_Buffers.Output.FrontBuffer[<%= variable.Prepared.Address.LastByte %>], __<%= variable.MemoryType %><%= variable.Prepared.Prefix %><%= variable.Prepared.Address.Underscore %>, <%= variable.Prepared.Size %>);
          <% } %>
        <% } %>
        <% }); %>
      }

      void Kiwi_Address_<%= bus.Physical %>_<%= module.Address %>_flipInputs() {
        // Set back-buffer pointers to temporary pointers.
        uint8_t *tempInput  = Kiwi_Address_<%= bus.Physical %>_<%= module.Address %>_Buffers.Input.BackBuffer;

        // Set front-buffer pointers to back-buffer pointers.
        Kiwi_Address_<%= bus.Physical %>_<%= module.Address %>_Buffers.Input.BackBuffer  = Kiwi_Address_<%= bus.Physical %>_<%= module.Address %>_Buffers.Input.FrontBuffer;

        // Set back-buffer pointers to front-buffer pointers.
        Kiwi_Address_<%= bus.Physical %>_<%= module.Address %>_Buffers.Input.FrontBuffer  = tempInput;

        // Process output.
        Kiwi_Address_<%= bus.Physical %>_<%= module.Address %>_processInput();
      }

      void Kiwi_Address_<%= bus.Physical %>_<%= module.Address %>_flipOutputs() {
        // Set back-buffer pointers to temporary pointers.
        uint8_t *tempOutput = Kiwi_Address_<%= bus.Physical %>_<%= module.Address %>_Buffers.Output.BackBuffer;

        // Process output.
        Kiwi_Address_<%= bus.Physical %>_<%= module.Address %>_processOutput();
        
        // Set front-buffer pointers to back-buffer pointers.
        Kiwi_Address_<%= bus.Physical %>_<%= module.Address %>_Buffers.Output.BackBuffer = Kiwi_Address_<%= bus.Physical %>_<%= module.Address %>_Buffers.Output.FrontBuffer;

        // Set back-buffer pointers to front-buffer pointers.
        Kiwi_Address_<%= bus.Physical %>_<%= module.Address %>_Buffers.Output.FrontBuffer = tempOutput;
      }

      void Kiwi_Address_<%= bus.Physical %>_<%= module.Address %>_clean() {
        memset(Kiwi_Address_<%= bus.Physical %>_<%= module.Address %>_Buffers.Input.FrontBuffer,  0, <%= module.InputMemory %>);
        memset(Kiwi_Address_<%= bus.Physical %>_<%= module.Address %>_Buffers.Input.BackBuffer,   0, <%= module.InputMemory %>);
        memset(Kiwi_Address_<%= bus.Physical %>_<%= module.Address %>_Buffers.Output.FrontBuffer, 0, <%= module.OutputMemory %>);
        memset(Kiwi_Address_<%= bus.Physical %>_<%= module.Address %>_Buffers.Output.BackBuffer,  0, <%= module.OutputMemory %>);
      }

      KiwiModuleDescription Kiwi_Address_<%= bus.Physical %>_<%= module.Address %>_Description = {
        .Address           = <%= module.Address %>,
        .Priority          = 3,
        .UUID              = Kiwi_Address_<%= bus.Physical %>_<%= module.Address %>_UUID,
        .Buffers           = &Kiwi_Address_<%= bus.Physical %>_<%= module.Address %>_Buffers,
        .begin             = &Kiwi_Address_<%= bus.Physical %>_<%= module.Address %>_begin,
        .flipInputs        = &Kiwi_Address_<%= bus.Physical %>_<%= module.Address %>_flipInputs,
        .flipOutputs       = &Kiwi_Address_<%= bus.Physical %>_<%= module.Address %>_flipOutputs,
        .clean             = &Kiwi_Address_<%= bus.Physical %>_<%= module.Address %>_clean,
      };
    <% }); %>

    KiwiModuleDescription* KiwiModules_<%= bus.Physical %>[] = {
      <% bus.Modules.forEach(function(module){ %>
        &Kiwi_Address_<%= bus.Physical %>_<%= module.Address %>_Description,
      <% }); %>
    };
  <% } %>
 
  Kiwi <%= bus.Physical %> = {
    .CAN = "<%= bus.Physical %>",
    .Socket = -1,
    .Count = <%= bus.Modules.length %>,
    .Cycle = 0,
    .isSocketOpened = false,
    .Modules = KiwiModules_<%= bus.Physical %>,
  };
<% }); %>

int beginInterfaces() {
  <% Project.Interfaces.forEach(function(bus){ %>
    <% if (bus.Bus == 'Kiwi') { %>
      if (beginKiwi(&<%= bus.Physical %>) < 0) return -1;
    <% } %>
  <% }); %>
  return 0;
}

int flipInputs() {
  <% Project.Interfaces.forEach(function(bus){ %>
    <% if (bus.Bus == 'Kiwi') { %>
      if (flipKiwiInputs(&<%= bus.Physical %>) < 0) return -1;
    <% } %>
  <% }); %>
  return 0;
}

int flipOutputs() {
  <% Project.Interfaces.forEach(function(bus){ %>
    <% if (bus.Bus == 'Kiwi') { %>
      if (flipKiwiOutputs(&<%= bus.Physical %>) < 0) return -1;
    <% } %>
  <% }); %>
  return 0;
}

int cleanInterfaces() {
  <% Project.Interfaces.forEach(function(bus){ %>
    <% if (bus.Bus == 'Kiwi') { %>
      if (cleanKiwi(&<%= bus.Physical %>) < 0) return -1;
    <% } %>
  <% }); %>
  return 0;
}

void errorInterfaces() {
  <% Project.Interfaces.forEach(function(bus){ %>
    <% if (bus.Bus == 'Kiwi') { %>
      errorKiwi(&<%= bus.Physical %>);
    <% } %>
  <% }); %>
}

#endif