<template>
  <div :style="style"></div>
</template>

<script>
import debounce from 'lodash.debounce';
import * as monaco from 'monaco-editor';
import { STConfiguration, STLanguage } from './ST';
import { ILConfiguration, ILLanguage } from './IL';
import { BothConfiguration, BothLanguage } from './ST_IL';

let theme = {
    "base": "vs-dark",
    "inherit": true,
    "rules": [],
    "colors": {
        "editor.foreground": "#F8F8F2",
        "editor.background": "#30363c",
        "editor.selectionBackground": "#2A2F34",
        "editor.lineHighlightBackground": "#2A2F34",
        "editorCursor.foreground": "#F8F8F0",
        "editorWhitespace.foreground": "#3B3A32",
        "editorIndentGuide.activeBackground": "#5E6870",
        "editor.selectionHighlightBorder": "#222218"
    }
};

export default {
    props: {
        value: {
          type: String,
          default: ''
        },
        width: {
            type: [String, Number],
            default: '100%'
        },
        height: {
            type: [String, Number],
            default: '100%'
        },
        srcPath: {
            type: String
        },
        language: {
            type: String,
            default: 'javascript'
        },
        theme: {
            type: String,
            default: 'kiwi'
        },
        options: {
            type: Object,
            default: () => {}
        },
        changeThrottle: {
            type: Number,
            default: 0
        },
        readOnly: {
            type: Boolean,
            default: false
        }
    },
    mounted() {
        monaco.editor.defineTheme('kiwi', theme);
        monaco.editor.setTheme('kiwi');
        monaco.languages.register({ id: 'InstructionList' });
        monaco.languages.register({ id: 'StructuredText' });
        monaco.languages.register({ id: 'ST_IL' });
        monaco.languages.setMonarchTokensProvider('InstructionList', ILLanguage);
        monaco.languages.setLanguageConfiguration('InstructionList', ILConfiguration);
        monaco.languages.setMonarchTokensProvider('StructuredText',  STLanguage);
        monaco.languages.setLanguageConfiguration('StructuredText',  STConfiguration);
        monaco.languages.setMonarchTokensProvider('ST_IL',  BothLanguage);
        monaco.languages.setLanguageConfiguration('ST_IL',  BothConfiguration);

        this.createMonaco();
    },
    destroyed() {
        this.destroyMonaco();
    },
    computed: {
        style() {
            let { width, height } = this;
            let fixedWidth = width.toString().indexOf('%') !== -1 ? width : `${width}px`;
            let fixedHeight = height.toString().indexOf('%') !== -1 ? height : `${height}px`;
            if(this.editor) {
                this.editor.layout({
                    width: fixedWidth.replace('px', ''),
                    height: fixedHeight.replace('px', '')
                });
            }
            return {
                width: fixedWidth,
                height: fixedHeight,
            }
        },
        editorOptions() {
            return Object.assign({}, this.defaults, this.options, {
                value: this.value,
                language: this.language,
                theme: this.theme,
                minimap: { enabled: false },
                readOnly: this.readOnly,
            })
        }
    },
    data() {
        return {
            defaults: {
                selectOnLineNumbers: true,
                roundedSelection: true,
                scrollBeyondLastLine: false,
                lineNumbers: "on",
                cursorStyle: 'line',
                automaticLayout: false,
                glyphMargin: false,
                folding: true,
                automaticLayout: true,
                autoIndent: true,
                tabSize: 2
            }
        }
    },
    watch: {
        language () {
            monaco.editor.setModelLanguage(this.editor.getModel(), this.language)
        },
        value(val) {
            if (this.editor.getValue() != val) this.editor.setValue(val);
        }
    },
    methods: {
        editorHasLoaded(editor, monaco) {
            this.editor = editor;
            this.monaco = monaco;
            this.editor.onDidChangeModelContent(event => this.codeChangeHandler(editor, event));
            this.$emit('mounted', editor);
        },
        codeChangeHandler: function(editor) {
            if (this.codeChangeEmitter) {
                this.codeChangeEmitter(editor);
            } else {
                this.codeChangeEmitter = debounce(
                    function(editor) {
                        this.value = editor.getValue();
                        this.$emit('input', this.value);
                    },
                    this.changeThrottle
                );
                this.codeChangeEmitter(editor);
            }
        },
        createMonaco() {
            this.editor = monaco.editor.create(this.$el, this.editorOptions);
            this.editorHasLoaded(this.editor, monaco);
        },
        destroyMonaco() {
            if (typeof this.editor !== 'undefined') {
                this.editor.dispose();
            }
        }
    }
};
</script>