<!-- Copyright (C) Claus Bendig -->
<template>
  <div class="input-group" :class="{ 'has-error': errors.has('name') || hasError, 'input-group-xs': xs, 'input-group-lg': lg }">
    <input class="form-control" v-model="value" @click="onClicked" @input="$emit('input', $event.target.value)"  name="name" type="text" />
    <span class="input-group-btn">
      <button class="btn btn-default" type="button" @click="onButtonClicked"><i class="fas fa-ellipsis-h"></i></button>
    </span>
  </div>
</template>

<script>
export default {
  props: {
    value: String,
    xs: Boolean,
    lg: Boolean
  },
  computed: {
    hasError: function() {
      return false;
    }
  },
  methods: {
    onFocusOut: function() {
      this.$emit("focusout");
    },
    onClicked: function() {
      this.$emit("clicked");
    },
    onButtonClicked() {
    }
  },
  beforeMount() {
    this.$validator.validate();
  }

};
</script>

<style scoped>
input {
  width: 100%;
  border-radius: 3px 0px 0px 3px !important;
}

button {
  border-radius: 0px 3px 3px 0px !important;

}
</style>