<!-- Copyright (C) Claus Bendig -->
<template>
  <g>
    <rect x="0" y="0" width="150" height="150" style="fill:none;stroke:#5e6870;stroke-width:2" />
  </g>
</template>

<script>
export default {
  props: {
  },
  computed: {
  },
  methods: {
  }
};
</script>

<style scoped>
</style>