<!-- Copyright (C) Claus Bendig -->
<template>
  <div>
    <selection :entries="Entries" v-model="Option" datalivesearch="false" :datawidth="datawidth" datacontainer="body" :datastyle="datastyle" noemptyerror />
  </div>
</template>

<script>

export default {
  props: {
    value: Object,
    datawidth: String,
    datastyle: String,
    program: Boolean,
    func: Boolean,
    functionblock: Boolean,
    global: Boolean
  },
  computed: {
    Entries() {
      if (this.program) {
        return {
          Options: [
            this.$t('Element.Class.External'),
            this.$t('Element.Class.Local'),
            this.$t('Element.Class.Temporary')
          ]
        };
      }
      if (this.func) {
        return {
          Options: [
            this.$t('Element.Class.Input'),
            this.$t('Element.Class.Local')
          ]
        };
      }
      if (this.functionblock) {
        return {
          Options: [
            this.$t('Element.Class.Input'),
            this.$t('Element.Class.Output'),
            this.$t('Element.Class.InputOutput'),
            this.$t('Element.Class.External'),
            this.$t('Element.Class.Local'),
            this.$t('Element.Class.Temporary')
          ]
        };
      }
      if (this.global) {
        return {
          Options: [
            this.$t('Element.Class.Global')
          ]
        };
      }
    },
    Option: {
      get: function() {
        switch(this.value) {
          case 'Input':
            return this.$t('Element.Class.Input');
            break;

          case 'Output':
            return this.$t('Element.Class.Output');
            break;

          case 'InOut':
            return this.$t('Element.Class.InputOutput');
            break;

          case 'External':
            return this.$t('Element.Class.External');
            break;  

          case 'Local':
            return this.$t('Element.Class.Local');
            break;

          case 'Temporary':
            return this.$t('Element.Class.Temporary');
            break;

          case 'Global':
            return this.$t('Element.Class.Global');
            break;
        }
      },
      set: function(value) {
        switch(value) {
          case this.$t('Element.Class.Input'):
            this.value = 'Input';
            break;

          case this.$t('Element.Class.Output'):
            this.value = 'Output';
            break;

          case this.$t('Element.Class.InputOutput'):
            this.value = 'InOut';
            break;

          case this.$t('Element.Class.External'):
            this.value = 'External';
            break;

          case this.$t('Element.Class.Local'):
            this.value = 'Local';
            break;

          case this.$t('Element.Class.Temporary'):
            this.value = 'Temporary';
            break;

          case this.$t('Element.Class.Global'):
            this.value = 'Global';
            break;
        }
        this.$emit('input', this.value);
      }
    }
  }
};
</script>

<style scoped>
</style>