<!-- Copyright (C) Claus Bendig -->
<template>
  <div>
    <selection :entries="Entries" v-model="Type" @changed="onSelectionChanged" datalivesearch="true" :datawidth="datawidth" datacontainer="body" :datastyle="datastyle" />
  </div>
</template>

<script>
import _ from 'underscore';

export default {
  props: {
    value: Object,
    parent: Object,
    datawidth: String,
    datastyle: String,
    void: Boolean
  },
  computed: {
    Accessor() {
      if (this.value.hasOwnProperty('BaseType')) return 'BaseType';
      if (this.value.hasOwnProperty('DataType')) return 'DataType';
    },
    Type() {
      return this.value[this.Accessor];
    },
    DataStyle() {
      if (this.datastyle) {
        return this.datastyle;
      } else {
        return '';
      }
    },
    UserDefinedDataTypes() {
      if (this.parent == undefined) {
        var available = this.$core.Project.DataType.getAll();
        return _.map(available, function(dt) {
          return dt.Name;
        });
      } else {
        var available = this.$core.Project.DataType.available(this.parent);
        return _.map(available, function(dt) {
          return dt.Name;
        });
      }
    },
    Entries() {
      if (this.void) {
        return {
          OptionGroups: [
            {
              Name: this.$t('Editor.DataType.Derived.Directly.VoidDataTypes'),
              Options: this.$core.Project.DataType.BaseDataTypes.Void
            },
            {
              Name: this.$t('Editor.DataType.Derived.Directly.ElementaryDataTypes'),
              Options: this.$core.Project.DataType.BaseDataTypes.Elementary
            },
            {
              Name: this.$t('Editor.DataType.Derived.Directly.ComplexDataTypes'),
              Options: this.$core.Project.DataType.BaseDataTypes.Complex
            },
            // {
            //   Name: this.$t('Editor.DataType.Derived.Directly.UserDefinedDataTypes'),
            //   Options: this.UserDefinedDataTypes
            // }
          ]
        };

      } else {
        return {
          OptionGroups: [
            {
              Name: this.$t('Editor.DataType.Derived.Directly.ElementaryDataTypes'),
              Options: this.$core.Project.DataType.BaseDataTypes.Elementary
            },
            {
              Name: this.$t('Editor.DataType.Derived.Directly.ComplexDataTypes'),
              Options: this.$core.Project.DataType.BaseDataTypes.Complex
            },
            // {
            //   Name: this.$t('Editor.DataType.Derived.Directly.UserDefinedDataTypes'),
            //   Options: this.UserDefinedDataTypes
            // }
          ]
        };
      }
      
    }
  },
  methods: {
    onSelectionChanged(value) {
      this.value[this.Accessor] = value;
      this.$emit('input', this.value);
    }
  }
};
</script>

<style scoped>
</style>