<!-- Copyright (C) Claus Bendig -->
<template>
  <div class="input-group" :class="{ 'input-group-xs': xs, 'input-group-lg': lg }">
    <input class="form-control" v-model="value" @click="onClicked" @input="$emit('input', $event.target.value)"  name="name" type="text" />
  </div>
</template>

<script>
export default {
  props: {
    value: String,
    xs: Boolean,
    lg: Boolean,
  },
  computed: {
  },
  methods: {
    onFocusOut: function() {
      this.$emit("focusout");
    },
    onClicked: function() {
      this.$emit("clicked");
    }
  }

};
</script>

<style scoped>
input {
  width: 100%;
  border-radius: 3px !important;
}
.input-group {
  padding-right: 8px;
}
</style>