<!-- Copyright (C) Claus Bendig -->
<template>
  <div class="input-group" :class="{ 'has-error': errors.has('name') || hasError, 'input-group-xs': xs,'input-group-lg': lg }">
    <input class="form-control" v-model="value" @click="onClicked" @input="$emit('input', $event.target.value)" @focusout="onFocusOut" name="name" v-validate="{ required: noEmptyValue }" type="text" />
  </div>
</template>

<script>
export default {
  props: {
    value: String,
    datatype: String,
    xs: Boolean,
    lg: Boolean,
    required: Boolean
  },    
  computed: {
    hasError() {
      if (this.value != '') {
        return !this.$core.Project.DataType.isValid(this.datatype, this.value);    
      } else {
        return false;
      }
    }
  },
  beforeDestroy() {
    this.value = this.$core.Project.DataType.beautify(this.datatype, this.value);
    this.$emit('input', this.value);
  },
  methods: {
    onFocusOut() {
      this.value = this.$core.Project.DataType.beautify(this.datatype, this.value);
      this.$emit('input', this.value);
      this.$emit("focusout");
    },
    onClicked() {
      this.$emit("clicked");
    }
  },
  data() {
    return {
      noEmptyValue: false
    };
  },
  beforeMount() {
    if (this.required) this.noEmptyValue = true;
    this.value = this.$core.Project.DataType.beautify(this.datatype, this.value);
    this.$emit('input', this.value);
  }
};
</script>

<style scoped>
input {
  width: 100%;
  border-radius: 3px !important;
}
</style>