<!-- Copyright (C) Claus Bendig -->
<template>
  <div class="input-group" :class="{ 'has-error': errors.has('name') || hasError, 'input-group-xs': xs, 'input-group-lg': lg }">
    <input class="form-control" v-model="value" @click="onClicked" @input="onInput"  name="name" v-validate="{ required: true }" type="text" />
  </div>
</template>

<script>
export default {
  props: {
    value: String,
    xs: Boolean,
    lg: Boolean,
    members: Array,
    index: Number
  },
  computed: {
    hasError() {
      var count = 0;
      for (var i = 0; i < this.members.length; i++) {
        if (this.members[i].Name.toLowerCase() == this.value.toLowerCase()) count += 1;
      }
      return this.$core.Project.Name.isForbidden(this.value) || (count > 1 || (this.value == ''));
    }
  },
  methods: {
    onFocusOut() {
      this.$emit("focusout");
    },
    onClicked() {
      this.$emit("clicked");
    },
    onInput(event) {
      this.$emit('input', event.target.value);
      this.$emit('changed', event.target.value);
    }

  }

};
</script>

<style scoped>
input {
  width: 100%;
  border-radius: 3px !important;
}
</style>