<!-- Copyright (C) Claus Bendig -->
<template>
  <div class="input-group" :class="{ 'has-error': errors.has('name') || hasError, 'input-group-xs': xs, 'input-group-lg': lg }">
    <input class="form-control" v-model="value" @click="onClicked" @input="$emit('input', $event.target.value)"  name="name" v-validate="{ required: true }" type="text" />
  </div>
</template>

<script>
export default {
  props: {
    value: String,
    xs: Boolean,
    lg: Boolean
  },
  computed: {
    hasError: function() {
      return this.$core.Project.Name.isForbidden(this.value, true);
    }
  },
  methods: {
    onFocusOut: function() {
      this.$emit("focusout");
    },
    onClicked: function() {
      this.$emit("clicked");
    }
  },
  beforeMount() {
    this.$validator.validate();
  }

};
</script>

<style scoped>
input {
  width: 100%;
  border-radius: 3px !important;
}
</style>