<!-- Copyright (C) Claus Bendig -->
<template>
  <div :class="{ wrapper: !last }">
    <drop @dragover="onDragOver" @drop="onDrop">
      <div class="content">
        <div class="input-group input-group-xs">
          <span class="input-group-addon" id="basic-addon3">Netzwerk {{ index }}</span>
          <input class="form-control" v-model="network.Documentation" @click="onClicked" name="name" type="text" />
        </div>
        <div width="300px" height="300px" style="padding: 15px;">
          <svg>
            <block-fbd />
          </svg>
        </div>
      </div>
    </drop>
  </div>
</template>

<script>
export default {
  props: {
    index: Number,
    network: Object,
    last: Boolean
  },
  computed: {
  },
  methods: {
    onClicked() {
    },
    onDragOver() {
    },
    onDrop(func) {
      if (func) {
        if (func.Type == 'Function') {
        }
      }
    }
  }
};
</script>

<style scoped>
.content {
  padding: 10px;
  width: auto;
  min-height: 125px;
}

.wrapper {
  border-bottom: 2px solid #5e6870;
}

span {
  border-radius: 3px 0px 0px 3px !important;
}

</style>