<!-- Copyright (C) Claus Bendig -->
<template>
  <div>
    <selection :entries="Entries" v-model="Option" datalivesearch="false" :datawidth="datawidth" datacontainer="body" :datastyle="datastyle" noemptyerror />
  </div>
</template>

<script>

export default {
  props: {
    value: Object,
    datawidth: String,
    datastyle: String,
    classs: String,
    program: Boolean,
    func: Boolean,
    functionblock: Boolean,
    global: Boolean
  },
  computed: {
    Entries() {
      if (this.program) {
        switch(this.classs) {
          case 'Local':
            return {
              Options: [
                '',
                this.$t('Element.Option.Constant'),
                this.$t('Element.Option.Retain')
              ]
            };
            break;
          case 'Temporary':
            return {
              Options: [
                '',
                this.$t('Element.Option.Constant')
              ]
            };
            break;
          default:
            return {
              Options: ['']
            };
            break;
        }
      }
      if (this.func) {
        switch(this.classs) {
          case 'Temporary':
            return {
              Options: [
                '',
                this.$t('Element.Option.Constant'),
              ]
            };
            break;

          default:
            return {
              Options: ['']
            };
            break;
        }
      }
      if (this.functionblock) {
        switch(this.classs) {
          case 'Local':
            return {
              Options: [
                '',
                this.$t('Element.Option.Constant'),
                this.$t('Element.Option.Retain'),
              ]
            };
            break;

          case 'Temporary':
            return {
              Options: [
                '',
                this.$t('Element.Option.Constant'),
              ]
            };
            break;

          default:
            return {
              Options: ['']
            };
            break;
        }
      }
      if (this.global) {
        return {
          Options: [
            '',
            this.$t('Element.Option.Constant'),
            this.$t('Element.Option.Retain'),
          ]
        };
      }
    },
    Option: {
      get: function() {
        switch(this.value) {
          case '':
            return '';
            break;

          case 'Constant':
            return this.$t('Element.Option.Constant');
            break;

          case 'Retain':
            return this.$t('Element.Option.Retain');
            break;

          case 'Non-Retain':
            return this.$t('Element.Option.NonRetain');
            break;  
        }
      },
      set: function(value) {
        switch(value) {
          case '':
            this.value = '';
            break;

          case this.$t('Element.Option.Constant'):
            this.value = 'Constant';
            break;

          case this.$t('Element.Option.Retain'):
            this.value = 'Retain';
            break;

          case this.$t('Element.Option.NonRetain'):
            this.value = 'Non-Retain';
            break;
        }
        this.$emit('input', this.value);
      },
    }
  },
  watch: {
    classs(value) {
      if ((value == 'Input') || (value == 'Output') || (value == 'InOut') || (value == 'External')) {
        this.Option = '';
      }
      if ((value == 'Temporary') && (this.value == 'Retain')) {
        this.Option = '';
      }
    }
  }
};
</script>

<style scoped>
</style>