<!-- Copyright (C) Claus Bendig -->
<template>
  <div class="input-group" :class="{ 'has-error': errors.has('name'), 'input-group-xs': xs, 'input-group-lg': lg }">
    <input class="form-control" v-model="Priority" @click="onClicked" @input="$emit('input', $event.target.value)"  name="name" v-validate="{ required: true, numeric: true }" type="text" />
  </div>
</template>

<script>
export default {
  props: {
    value: Number,
    xs: Boolean,
    lg: Boolean
  },
  computed: {
    Priority: {
      get:  function() {
        return this.value.toString();
      },
      set: function(value) {
        var parsed = parseInt(value);
        if (!isNaN(parsed)) {
          this.value = parsed;
        }
      }
    },
  },
  methods: {
    onFocusOut: function() {
      this.$emit("focusout");
    },
    onClicked: function() {
      this.$emit("clicked");
    }
  }
};
</script>

<style scoped>
input {
  width: 100%;
  border-radius: 3px !important;
}
</style>