<!-- Copyright (C) Claus Bendig -->
<template>
  <div>
    <select class="selectpicker" ref="SelectPicker" title="-----" :data-live-search="datalivesearch" :data-width="datawidth" :data-container="datacontainer" :data-style="datastyle" :disabled="(OptionGroups.length == 0) && (Options.length == 0)">
      <optgroup v-for="opg in OptionGroups" :key="opg.Name" :label="opg.Name">
        <option v-for="opt in opg.Options" :key="opt">{{ opt }}</option>
      </optgroup>
      <option v-for="opt in Options" :key="opt">{{ opt }}</option>
    </select>
  </div>
</template>

<script>
export default {
  props: {
    entries: Array,
    value: String,
    parent: Object,
    datalivesearch: String,
    datawidth: String,
    datacontainer: String,
    datastyle: String,
    noemptyerror: Boolean
  },
  computed: {
    OptionGroups: function() {
      if (this.entries.hasOwnProperty('OptionGroups')) {
        return this.entries.OptionGroups;
      } else {
        return [];
      }
    },
    Options: function() {
      if (this.entries.hasOwnProperty('Options')) {
        return this.entries.Options;
      } else {
        return [];
      }
    }
  },
  data() {
    return {
      Selected: ''
    }
  },
  methods: {
    onChanged: function(e, clickedIndex, newValue, oldValue) {
      if (newValue) {
        var value = $(this.$refs.SelectPicker).val();
        if (value != '') $(this.$refs.SelectPicker).selectpicker('setStyle', 'btn-danger', 'remove');
        this.value = value;
        this.$emit('input', value);
        this.$emit('index', clickedIndex - 1);
        this.$emit('changed', value, this.parent);
      }
    },
    onClicked: function() {
      this.$emit('clicked', this.parent);
    }
  },
  watch: {
    value: function(val) {
      if ((val == '') && (!this.noemptyerror)) {
        $(this.$refs.SelectPicker).selectpicker('setStyle', 'btn-danger', 'add');
      }
      this.$nextTick(function() {
        $(this.$refs.SelectPicker).selectpicker('val', val);
      });
    },
    entries: function(entries) {
      this.$nextTick(function() {
        $(this.$refs.SelectPicker).selectpicker('refresh');
      });
      // $(this.$refs.SelectPicker).selectpicker('refresh');
    }
  },
  destroyed: function() {
    $(this.$refs.SelectPicker).selectpicker('destroy');
  },
  mounted: function() {
    $(this.$refs.SelectPicker).selectpicker();
    $(this.$refs.SelectPicker).selectpicker('val', this.value);
    if ((this.value == '') && (!this.noemptyerror)) {
      $(this.$refs.SelectPicker).selectpicker('setStyle', 'btn-danger', 'add');
    }
    $(this.$refs.SelectPicker).on('changed.bs.select', this.onChanged);
    $(this.$refs.SelectPicker).on('show.bs.select', this.onClicked);
  }

};
</script>

<style scoped>
</style>