<!-- Copyright (C) Claus Bendig -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Kiwi-IDE</title>
    <style>
      @font-face {
          font-family: 'Open Sans';
          font-weight: normal;
          font-style: normal;
          src: url('.static/OpenSans-Regular.eot');
          src: url('static/OpenSans-Regular.woff2') format('woff2'),
               url('static/OpenSans-Regular.woff') format('woff'),
               url('static/OpenSans-Regular.ttf') format('truetype'),
               url('static/OpenSans-Regular.svg#OpenSansRegular') format('svg');
      }

      ::-webkit-scrollbar {
        background-color: #1E1E1E;
        border-right: 1px solid #383838;
        width: 10px;
      }

      ::-webkit-scrollbar-thumb {
        background-color: #424242;; 
        transition: background-color 1s;
      }

      ::-webkit-scrollbar-thumb:hover {
        background-color: #4F4F4F;
      }

      body {
        background-color: #1E1E1E;
        font-family: 'Open Sans', sans-serif;
      }

      .container {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 40px;
        margin-right: 40px;
        background-color: #3C3C3C;
        padding: 10px;
        border-radius: 3px;
        color: #CCCCCC;
      }

    </style>
  </head>
  <body style="overflow: auto;">
    <div class="container" style="margin-bottom: 50px; text-align: center;">
      Kiwi-IDE is software to write IEC61131-3 applications.
    </div>
    <div>
    <%_ for(var i=0; i < packages.length; i++) { -%>
      <div class="container">
        <div style="font-weight: bold;"><%- packages[i].packageJson.name %></div>
        <table class="table" style="border: 0px; padding-top: 10px;">
          <tbody>
            <%if (packages[i].packageJson.author != undefined) { %>
              <%if (packages[i].packageJson.author.name != undefined) { %>
                <tr>
                  <td width="100px">Author</td>
                  <td><%- packages[i].packageJson.author.name %></td>
                </tr>    
              <% } %>
              <%if (packages[i].packageJson.author.email != undefined) { %>
                <tr>
                  <td width="100px">E-Mail</td>
                  <td><%- packages[i].packageJson.author.email %></td>
                </tr>
              <% } %>
            <% } %>
            <tr>
              <td width="100px">License</td>
              <td><%- packages[i].packageJson.license %></td>
            </tr>
            <tr>
              <td width="100px">Version</td>
              <td><%- packages[i].packageJson.version %></td>
            </tr>
            <tr>
            <td width="100px">Homepage</td>
              <td><%- packages[i].packageJson.homepage %></td>
            </tr>
          </tbody>
        </table>
        <!-- <p style="border: 0px;">
          <pre style="display: block; white-space: pre;">
            <%- packages[i].licenseText -%>
          </pre>
        </p> -->
      </div>
    <%_ } -%>
    </div>
  </body>
</html>