<!-- Copyright (C) Claus Bendig -->
<template>
  <div class="app-content">
    <vue-snotify></vue-snotify>
    <vue-progress-bar></vue-progress-bar>
    <monaco-editor :hidden="View != 'Program'" language="StructuredText" v-model="Project.SourceCode" />
    <div :hidden="View != 'About'">
      <iframe src="about.html" style="width: 100vw; height: 100vh; border: 0;" />
    </div>
    <div :hidden="View != 'PLCs'" style="height: 100%;">
      <plcs :available="AvailablePLCs" @connected="onConnectPLC" />
    </div>
    <div :hidden="View != 'Console'" style="height: 100%;">
      <console :output="Output" />
    </div>
    <div :hidden="View != 'Hardware'" style="height: 100%;">
      <hardware :project="Project" :cpus="CPUs" :descriptions="Descriptions" :connected="Connected" :connectedplc="ConnectedPLC" :cpu="Project.CPU" />
    </div>
  </div>
</template>

<script>
import Vue from 'vue';
import { ipcRenderer } from 'electron';
import jetpack from 'fs-jetpack';

const Descriptions = JSON.parse('[{"Variables":[{"Name":"DI0","DataType":"BOOL","MemoryType":"I","Address":"0.0"},{"Name":"DI1","DataType":"BOOL","MemoryType":"I","Address":"0.1"},{"Name":"DI2","DataType":"BOOL","MemoryType":"I","Address":"0.2"},{"Name":"DI3","DataType":"BOOL","MemoryType":"I","Address":"0.3"},{"Name":"DI4","DataType":"BOOL","MemoryType":"I","Address":"0.4"},{"Name":"DI5","DataType":"BOOL","MemoryType":"I","Address":"0.5"},{"Name":"DI6","DataType":"BOOL","MemoryType":"I","Address":"0.6"},{"Name":"DI7","DataType":"BOOL","MemoryType":"I","Address":"0.7"}],"Name":"Digital Input 8x","UUID":"1cf0d108-975b-42ba-9a0f-45da0c5ab162","Type":"Module","InputMemory":4,"OutputMemory":0},{"Variables":[{"Name":"DO0","DataType":"BOOL","MemoryType":"Q","Address":"0.1"},{"Name":"DO1","DataType":"BOOL","MemoryType":"Q","Address":"0.1"},{"Name":"DO2","DataType":"BOOL","MemoryType":"Q","Address":"0.2"},{"Name":"DO3","DataType":"BOOL","MemoryType":"Q","Address":"0.3"},{"Name":"DO4","DataType":"BOOL","MemoryType":"Q","Address":"0.4"},{"Name":"DO5","DataType":"BOOL","MemoryType":"Q","Address":"0.5"},{"Name":"DO6","DataType":"BOOL","MemoryType":"Q","Address":"0.6"},{"Name":"DO7","DataType":"BOOL","MemoryType":"Q","Address":"0.7"}],"Name":"Digital Output 8x","UUID":"9eb4da2a-7ddd-4be0-9105-67e7fec7a281","Type":"Module","InputMemory":0,"OutputMemory":4}]');
const CPUs         = JSON.parse('[{"Name":"Kiwi-PLC","Model":"4cf36f25-64d5-40ef-8014-5c9db4acea78","Interfaces": [{"Name":"CAN","Physical":"can0","Interface":"CAN","Compatible":[{"Name":"Kiwi","canScan":true}],"MultiUsage":false},{"Name":"Ethernet","Physical":"eth0","Interface":"IP","Compatible":[{"Name":"MQTT","canScan":false}],"MultiUsage":true}]}]');

const New = 'PROGRAM MainProgram\n\n  VAR\n  END_VAR\n\n  // Code here\n\nEND_PROGRAM\n\nCONFIGURATION MainConfiguration\n  RESOURCE MainResource ON PLC\n\n    VAR_GLOBAL\n    END_VAR\n\n    TASK MainTask(INTERVAL := T#20MS, PRIORITY := 0);\n    PROGRAM MainInstance WITH MainTask : MainProgram;\n\n  END_RESOURCE\nEND_CONFIGURATION';

export default {
  computed: {
    PLC() {
      if (this.ConnectedPLC != null) {
        return this.ConnectedPLC.PLC;
      } else {
        return null;
      }
    }
  },
  data() {
    return {
      View: 'Program',
      Project: {
        SourceCode: New,
        CPU: null,
        Interfaces: []
      },
      AvailablePLCs: [],
      ConnectedPLC: null,
      Output: {
        Files: {
          Transpiled: [],
          Compiled: [],
        },
        Commands: {
          Transpiled: [],
          Compiled: [],
        },
        STDOUT: {
          Transpiled: [],
          Compiled: [],
        },
        STDERR: {
          Transpiled: [],
          Compiled: [],
        },
        Checksums: {
          Application: '',
          Project: ''
        },
        Transfered: []
      },
      Status: {
        isRunning: false,
        canControl: false,
        hasApplication: false,
        canErase: false,
      },
      CPUs: CPUs,
      Descriptions: Descriptions,
      Connected: false,
    }
  },
  methods: {
    resetOutput() {
      this.Output = {
        Files: {
          Transpiled: [],
          Compiled: [],
        },
        Commands: {
          Transpiled: [],
          Compiled: [],
        },
        STDOUT: {
          Transpiled: [],
          Compiled: [],
        },
        STDERR: {
          Transpiled: [],
          Compiled: [],
        },
        Checksums: {
          Application: '',
          Project: ''
        },
        Transfered: []
      };
    },
    onNew(event, data) {
      this.Project = {
        SourceCode: New,
        CPU: null,
        Interfaces: []
      };
    },
    onOpen(event, data) {
      let json = jetpack.read(data.Path);
      this.Project = JSON.parse(json);
    },
    onSave(event, data) {
      try {
        let json = JSON.stringify(this.Project);
        jetpack.write(data.Path, json);
      } catch(e) {
        this.$snotify.error(`Couldn't save project to ${data.Path}`, {
          closeOnClick: true,
          timeout: 2000,
          showProgressBar: true,
        });
      }
      
    },
    onConnect() {
      var _this = this;
      this.AvailablePLCs = [];
      this.$snotify.async('Looking for PLCs ...', () => new Promise((resolve, reject) => {
        _this.$CM.search().then((plcs) => {
          
          if (plcs.length == 0) {
            reject({
              body: 'No PLCs were found.',
              config: {
                closeOnClick: true,
                buttons: [
                  {
                    text: 'Retry', 
                    action: (toast) => {
                      _this.$snotify.remove(toast.id);
                      _this.onConnect();
                    },
                    bold: true
                  },
                  { text: 'Cancel', action: null, bold: false },
                ]
              }
            });
          } else {
            resolve({
              body: 'PLCs found.',
              config: {
                closeOnClick: true,
                buttons: [
                  {
                    text: 'Show', 
                    action: (toast) => {
                      _this.$snotify.remove(toast.id);
                      _this.onShowPLCs(plcs);
                    },
                    bold: true
                  },
                  { text: 'Cancel', action: null, bold: false },
                ]
              }
            });
          }
        });
      }));
    },
    onDisconnect() {
      this.$CM.disconnect();
    },
    onStart() {
      var _this = this;
      this.$snotify.async("Starting PLC ...", () => new Promise((resolve, reject) => {
        _this.$CM.start((msg) => {
          if (msg.MSGType == 0) {
            reject({
              body: 'Error occured.',
              config: {
                closeOnClick: true,
                timeout: 2000,
                showProgressBar: true,
              },
            });
          } else {
            if (msg.Started == true) {
              resolve({
                body: 'PLC started.',
                config: {
                closeOnClick: true,
                  timeout: 2000,
                  showProgressBar: true,
                },
              });
            } else {
              reject({
                body: 'Couldn\'t start PLC.',
                config: {
                  closeOnClick: true,
                  timeout: 2000,
                  showProgressBar: true,
                },
              });
            }
          }
        });
      }));
    },
    onStop() {
      var _this = this;
      this.$snotify.async("Stopping PLC ...", () => new Promise((resolve, reject) => {
        _this.$CM.stop((msg) => {
          if (msg.MSGType == 0) {
            reject({
              body: 'Error occured.',
              config: {
                closeOnClick: true,
                timeout: 2000,
                showProgressBar: true,
              },
            });
          } else {
            if (msg.Stopped == true) {
              resolve({
                body: 'PLC stopped.',
                config: {
                  closeOnClick: true,
                  timeout: 2000,
                  showProgressBar: true,
                },
              });
            } else {
              reject({
                body: 'Couldn\'t stop PLC.',
                config: {
                  closeOnClick: true,
                  timeout: 2000,
                  showProgressBar: true,
                },
              });
            }
          }
        });
      }));
    },
    onCompile() {
      var _this = this;
      this.$snotify.async("Compiling project ...", () => new Promise((resolve, reject) => {
        _this.resetOutput();
        _this.$CM.compile(_this.Project, (msg) => {
          _this.Output = msg.Console;
          if (msg.MSGType == 0) {
            reject({
              body: 'Error occured.',
              config: {
                closeOnClick: true,
                timeout: 2000,
                showProgressBar: true,
              },
            });
          } else {
            if (msg.Compiled == true) {
              resolve({
                body: 'Project compiled.',
                config: {
                  closeOnClick: true,
                  timeout: 2000,
                  showProgressBar: true,
                },
              });
            } else {
              _this.View = 'Console';
              reject({
                body: 'Couldn\'t compile project.',
                config: {
                  closeOnClick: true,
                  timeout: 2000,
                  showProgressBar: true,
                },
              });
            }
          }
        });
      }));
    },
    onClean() {
      var _this = this;
      this.$snotify.async("Cleaning project ...", () => new Promise((resolve, reject) => {
        _this.$CM.clean((msg) => {
          if (msg.MSGType == 0) {
            reject({
              body: 'Error occured.',
              config: {
                closeOnClick: true,
                timeout: 2000,
                showProgressBar: true,
              },
            });
          } else {
            if (msg.Cleaned == true) {
              resolve({
                body: 'Project cleaned.',
                config: {
                  closeOnClick: true,
                  timeout: 2000,
                  showProgressBar: true,
                },
              });
            } else {
              reject({
                body: 'Couldn\'t clean project.',
                config: {
                  closeOnClick: true,
                  timeout: 2000,
                  showProgressBar: true,
                },
              });
            }
          }
        });
      }));
    },
    onUpload() {
      var _this = this;
      this.$snotify.async("Uploading project ...", () => new Promise((resolve, reject) => {
        _this.$CM.upload((msg) => {
          if (msg.MSGType == 0) {
            reject({
              body: 'Error occured.',
              config: {
                closeOnClick: true,
                timeout: 2000,
                showProgressBar: true,
              },
            });
          } else {
            if (msg.Uploaded == true) {
              resolve({
                body: 'Project uploaded.',
                config: {
                  closeOnClick: true,
                  timeout: 2000,
                  showProgressBar: true,
                },
              });
            } else {
              reject({
                body: 'Couldn\'t upload project.',
                config: {
                  closeOnClick: true,
                  timeout: 2000,
                  showProgressBar: true,
                },
              });
            }
          }
        });
      }));
    },
    onDownload() {
      var _this = this;
      this.$snotify.confirm('Do you want to replace the current project?', {
        closeOnClick: true,
        buttons: [
          {
            text: 'Yes',
            action: (toast) => {
              _this.$snotify.remove(toast.id);
              _this.$snotify.async("Downloading project ...", () => new Promise((resolve, reject) => {
                _this.$CM.download((msg) => {
                  if (msg.MSGType == 0) {
                    reject({
                      body: 'Error occured.',
                      config: {
                        closeOnClick: true,
                        timeout: 2000,
                        showProgressBar: true,
                      },
                    });
                  } else {
                    if (msg.Downloaded == true) {
                      resolve({
                        body: 'Project downloaded.',
                        config: {
                          closeOnClick: true,
                          timeout: 2000,
                          showProgressBar: true,
                        },
                      });
                    } else {
                      reject({
                        body: 'Couldn\'t download project.',
                        config: {
                          closeOnClick: true,
                          timeout: 2000,
                          showProgressBar: true,
                        },
                      });
                    }
                  }
                });
              }));
            },
            bold: true
          },
          {
            text: 'No',
            action: null,
            bold: false
          },
        ]
      });
    },
    onErase() {
      var _this = this;
      this.$snotify.confirm('Do you really want to erase the PLC?', {
        closeOnClick: true,
        buttons: [
          {
            text: 'Yes',
            action: (toast) => {
              _this.$snotify.remove(toast.id);
              _this.$snotify.async("Erasing PLC ...", () => new Promise((resolve, reject) => {
                _this.$CM.erase((msg) => {
                  if (msg.MSGType == 0) {
                    reject({
                      body: 'Error occured.',
                      config: {
                        closeOnClick: true,
                        timeout: 2000,
                        showProgressBar: true,
                      },
                    });
                  } else {
                    if (msg.Erased == true) {
                      resolve({
                        body: 'PLC erased.',
                        config: {
                          closeOnClick: true,
                          timeout: 2000,
                          showProgressBar: true,
                        },
                      });
                    } else {
                      reject({
                        body: 'Couldn\'t erase PLC.',
                        config: {
                          closeOnClick: true,
                          timeout: 2000,
                          showProgressBar: true,
                        },
                      });
                    }
                  }
                });
              }));
            },
            bold: true
          },
          {
            text: 'No',
            action: null,
            bold: false
          },
        ]
      });
    },
    onShowPLCs(plcs) {
      this.AvailablePLCs = plcs;
      this.View = 'PLCs';
    },
    onShowProgram() {
      this.View = 'Program';
    },
    onShowHardware() {
      this.View = 'Hardware';
    },
    onShowConsole() {
      this.View = 'Console';
    },
    onShowAbout() {
      this.View = 'About';
    },
    onConnectPLC(plc) {
      console.log(plc);
      this.$CM.connect(plc);
    },
    onConnected(connected, plc) {
      if (connected == true) {
        this.$snotify.info(`Connected with '${plc.PLC.Name}'.`);
        ipcRenderer.send('connected', {});
        this.View = 'Program';
        this.ConnectedPLC = plc;
        this.Connected = true;
        
      } else {
        this.$snotify.error(`Couldn't connect to '${plc.PLC.Name}'.`);
      }
    },
    onDisconnected(plc) {
      this.$snotify.info('Disconnected from PLC.');
      ipcRenderer.send('disconnected', {});
      this.ConnectedPLC = null;
      this.Connected = false;
    },
    onBlocked() {
      this.$snotify.error('Somebody else is already connected.');
    },
    onStarted(msg) {
      if (msg.Started == true) {
        this.$snotify.info('PLC started.');
      } else {
        this.$snotify.error('Couldn\'t start PLC.');
      }
    },
    onStopped(msg) {
      if (msg.Stopped == true) {
        this.$snotify.info('PLC stopped.');
      } else {
        this.$snotify.error('Couldn\'t stop PLC.');
      }
    },
    onCompiled(msg) {
      this.Output = msg.Console;
      if (msg.Compiled == true) {
        this.$snotify.info('Project compiled.');
      } else {
        this.View = 'Console';
        this.$snotify.error('Project couldn\'t be compiled.');
      }
    },
    onCleaned(msg) {
      if (msg.Cleaned == true) {
        this.$snotify.info('Project cleaned.');
      } else {
        this.$snotify.error('Project couldn\'t be cleaned.');
      }
    },
    onUploaded(msg) {
      if (msg.Uploaded == true) {
        this.$snotify.info('Project uploaded.');
      } else {
        this.$snotify.error('Project couldn\'t be uploaded.');
      }
    },
    onDownloaded(msg) {
      if (msg.Downloaded == true) {
        this.Project = msg.Project;
        this.$snotify.success('Project downloaded.');
      } else {
        this.$snotify.error('Couldn\'t download project');
      }
    },
    onErased(msg) {
      if (msg.Erased == true) {
        this.$snotify.success('PLC erased.');
      } else {
        this.$snotify.error('PLC couldn\'t be erased.');
      }
    },
    onStatus(status) {
      this.Status = status;
      ipcRenderer.send('status', this.Status);
    },
    onError(err) {
    },
    onEthernet(msg) {
      if (msg.Ethernet == true) {
        this.$snotify.success('Ethernet preferences set.');
      } else {
        this.$snotify.error('Couldn\'t set Ethernet preferences.');
      }
    },
    onWifi(msg) {
      // if (msg.Wifi == true) {
      //   this.$snotify.success('WiFi preferences set.');
      // } else {
      //   this.$snotify.error('Couldn\'t set WiFi preferences.');
      // }
    },
    onUSV(msg) {
      if (msg.USV == true) {
        this.$snotify.success('USV time set.');
      } else {
        this.$snotify.error('Couldn\'t set USV time..');
      }
    }

  },
  beforeMount() {
    ipcRenderer.on('new',  this.onNew.bind(this));
    ipcRenderer.on('open', this.onOpen.bind(this));
    ipcRenderer.on('save', this.onSave.bind(this));

    ipcRenderer.on('connect',    this.onConnect.bind(this));
    ipcRenderer.on('disconnect', this.onDisconnect.bind(this));
    ipcRenderer.on('start',      this.onStart.bind(this));
    ipcRenderer.on('stop',       this.onStop.bind(this));
    ipcRenderer.on('compile',    this.onCompile.bind(this));
    ipcRenderer.on('clean',      this.onClean.bind(this));
    ipcRenderer.on('upload',     this.onUpload.bind(this));
    ipcRenderer.on('download',   this.onDownload.bind(this));
    ipcRenderer.on('erase',      this.onErase.bind(this));

    ipcRenderer.on('show-program',  this.onShowProgram.bind(this));
    ipcRenderer.on('show-hardware', this.onShowHardware.bind(this));
    ipcRenderer.on('show-console',  this.onShowConsole.bind(this));
    ipcRenderer.on('show-about',    this.onShowAbout.bind(this));

    this.$CM.setEvents({
      onConnect:    this.onConnected,
      onDisconnect: this.onDisconnected,
      onStart:      this.onStarted,
      onStop:       this.onStopped,
      onCompile:    this.onCompiled,
      onClean:      this.onCleaned,
      onUpload:     this.onUploaded,
      onDownload:   this.onDownloaded,
      onBlocked:    this.onBlocked,
      onStatus:     this.onStatus,
      onErase:      this.onErased,
      onError:      this.onError,
      onEthernet:   this.onEthernet,
      onWifi:       this.onWifi,
      onUSV:        this.onUSV,
    });
  }
};
</script>

<style lang="scss">
@import './../node_modules/npm-font-open-sans/open-sans.css';

// Scrollbar
::-webkit-scrollbar {
  background-color: #1E1E1E;
  border-right: 1px solid #383838;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #424242;; 
  transition: background-color 1s;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4F4F4F;
}

body {
  overflow: hidden;
}

.app-content {
  overflow: hidden;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: bold;
}

// Upload
.splitter-pane-resizer {
  background: #CCCCCC !important;
  background-clip: padding-box !important;
}

.console {
  margin: 20px;
}

.console-line {
  color: #CCCCCC;
}

button {
  color: #CCCCCC;
  background-color: #1E1E1E;
  padding: 9px;
  text-transform: none;
  font-weight: 300;
  border: 0;
  float: none;
  box-shadow: none;
  border-radius: 3px;
  width: 100%;
  text-align: center;
  text-decoration: none;
}

button:hover {
  background-color: #3c3c3c;
  outline: none !important;
}

button:focus {
  outline: none !important;
}


.va-modal-in {
  background: rgba(0, 0, 0, 0.5) !important;
}

.va-modal-content {
  background: #383838 !important;
}

.va-modal-title {
  color: #CCCCCC !important;
}

.va-modal-body {
  color: #CCCCCC !important;
}

.va-btn {
  color: #CCCCCC !important;
  background: #1E1E1E !important;
  cursor: pointer !important;
}

.va-btn:focus {
  box-shadow: inset 0 0 0 1px #CCCCCC !important;
  outline: none !important;
}

.va-btn:active {
  box-shadow: inset 0 0 0 1px #CCCCCC !important;
  outline: none !important;
}

.va-dropdown-menu {
  color: #CCCCCC !important;
  background: #1E1E1E !important;
}

.va-form-control {
  color: #CCCCCC !important;
  background: #1E1E1E !important;
  box-shadow: 0px !important;
  outline: none !important;
  border: 0px;
}

.va-form-control:focus {
  color: #CCCCCC !important;
  background: #1E1E1E !important;
  box-shadow: inset 0 0 0 1px #CCCCCC !important;
  outline: none !important;
  border: 0px;
}

a {
  color: #CCCCCC !important;
}

a:focus {
  color: #CCCCCC !important;
}

a:active {
  color: #CCCCCC !important;
}

.va-select-item-active {
  background:#383838;
}

.va-dropdown-con .va-dropdown-menu>div>li>a:hover, .va-dropdown-con .va-dropdown-menu>li>a:hover {
  background: #424242 !important;
}

.va-select-group .va-select-btn-open .va-select-placeholder, .va-select-group .va-select-btn-open i {
  color: #CCCCCC !important;
}

.fas {
  color: #CCCCCC !important;
}


</style>