<!-- Copyright (C) Claus Bendig -->
<template>
  <div>
    <div class="panel-title">
      <div>{{ interfaceName }}: {{ busName }}</div>
      <a href="#" class="panel-first-button" @click="onBusRemove"><v-icon name="times-circle" /></a>
      <a v-if="hasBusPreferences === true" href="#" class="panel-button preferences" @click="onBusPreferences"><v-icon name="cog" /></a>
      <a href="#" class="panel-button" @click="onBusInfo"><v-icon name="info" /></a>
      <a v-if="hasModuleAdd === true" href="#" class="panel-button" @click="onModuleAdd"><v-icon name="plus-circle" /></a>
      <a v-if="canScan === true && Connected === true" href="#" class="panel-button" @click="onBusScan"><v-icon name="search" /></a>
    </div>
    <div class="panel-info" :class="{ 'panel-info-show': showBusInfo }">
      <slot name="busInfo" />
    </div>
    <va-modal :title="busName" ref="busPreferencesModal">
      <div slot="body">
        <slot name="busPreferencesBody" />
      </div>
      <div slot="footer">
        <slot name="busPreferencesFooter" />
      </div>
    </va-modal>
    <va-modal title="Add" ref="busAddModal">
      <div slot="body">
        <slot name="busAddBody" />
      </div>
      <div slot="footer">
        <slot name="busAddFooter" />
      </div>
    </va-modal>
    <div v-for="(m, index) in modules" :key="index">
      <div class="panel-content">
        <div>{{ m.Name }}</div>
        <a href="#" class="panel-first-button" @click="onModuleRemove(index)"><v-icon name="times-circle" /></a>
        <a v-if="hasModulePreferences === true" href="#" class="panel-button preferences" @click="onModulePreferences(index)"><v-icon name="cog" /></a>
        <a href="#" class="panel-button" @click="onModuleInfo(index)"><v-icon name="info" /></a>
      </div>
      <div class="panel-content-info" :class="{ 'panel-content-info-show': infos[index] }">
        <slot :name="getSlotName('info', index)" />
      </div>
      <va-modal :title="m.Name" ref="modal">
        <div slot="body">
          <slot :name="getSlotName('modal_body', index)" />
        </div>
        <div slot="footer">
          <slot :name="getSlotName('modal_footer', index)" />
        </div>
      </va-modal>
    </div>
    <drop v-if="hasPlaceholder === true" class="placeholder" :class="{ 'placeholder-drop-over': drag }" @dragover="drag = true" @dragleave="drag = false" @drop="onModuleDrop">
      <v-icon name="plus-square" style="position: relative; top: 2px;" />
    </drop>
    <div v-if="(hasPlaceholder === false) && (modules.length === 0)" class="placeholder" />
  </div>
</template>

<script>
import Vue from 'vue';

export default {
  props: {
    hasPlaceholder: {
      type: Boolean,
    },
    hasBusPreferences: {
      type: Boolean,
    },
    hasModulePreferences: {
      type: Boolean,
    },
    hasModuleAdd: {
      type: Boolean,
    },
    canScan: {
      type: Boolean,
    },
    interfaceName: {
      type: String,
    },
    busName: {
      type: String,
    },
    modules: {
      type: Array,
    },
    infos: {
      type: Array,
    },
    Connected: {
      type: Boolean,
    }
  },
  data() {
    return {
      drag: false,
      showBusInfo: false
    };
  },
  methods: {
    onBusRemove() {
      this.$emit('onBusRemove');
    },
    onBusPreferences() {
      this.$refs.busPreferencesModal.open();
      this.$emit('onBusPreferences');
    },
    onBusScan() {
      this.$emit('onBusScan');
    },
    onBusInfo() {
      if (this.showBusInfo === true) {
        this.showBusInfo = false;
      } else {
        this.showBusInfo = true;
      }
    },
    onModuleDrop(data) {
      this.drag = false;
      if (data.DragType === this.busName) {
        this.$emit('onModuleDrop', data.Data);
      }
    },
    onModuleAdd() {
      this.$refs.busAddModal.open();
      this.$emit('onModuleAdd');
    },
    onModuleInfo(index) {
      this.toggleInfo(index);
      this.$emit('onModuleInfo', index);
    },
    onModulePreferences(index) {
      this.$refs.modal[index].open();
      this.$emit('onModulePreferences', index);
    },
    onModuleRemove(index) {
      this.$emit('onModuleRemove', index);
    },
    toggleInfo(index) {
      if (this.infos[index] === true) {
        Vue.set(this.infos, index, false);
      } else {
        Vue.set(this.infos, index, true);  
      }
    },
    showInfo(index) {
      Vue.set(this.infos, index, true);
    },
    hideInfo(index) {
      Vue.set(this.infos, index, false);
    },
    getSlotName(type, index) {
      return type + '_' + index;
    },
    closeBusPreferences() {
      this.$refs.busPreferencesModal.close();
    },
    closeBusAdd() {
      this.$refs.busAddModal.close();
    },
    closeModulesPreferences(index) {
      this.$refs.modal[index].close();
    }
  }
}
</script>

<style scoped lang="scss">
.panel-title {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 9px;
  width: 360px;
  min-height: 40px;
  background-color: #2C2C2C;
  border: 1px solid #2C2C2C;
  border-bottom: 2px solid #CCCCCC;
  color: #CCCCCC;
}

.panel-info {
  max-height: 0;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  width: 360px;
  background-color: #3C3C3C;
  border: 1px solid #3C3C3C;
  border-top: 0px;
  color: #CCCCCC;
  overflow: hidden;
  transition: max-height    0.25s ease-out,
              padding       0.25s ease-out,
              border-bottom 0.25s ease-out;
}

.panel-info-show {
  max-height: 350px;
  padding: 9px;
  border-bottom: 2px solid #CCCCCC;
}

.panel-content {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 9px;
  width: 360px;
  min-height: 40px;
  background-color: #3C3C3C;
  border: 1px solid #3C3C3C;
  border-top: 0px;
  border-bottom: 1px solid #CCCCCC;
  color: #CCCCCC;
}


.panel-content-info {
  max-height: 0;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  width: 360px;
  background-color: #3C3C3C;
  border: 1px solid #3C3C3C;
  border-top: 0px;
  color: #CCCCCC;
  overflow: hidden;
  transition: max-height    0.25s ease,
              padding       0.25s ease,
              border-bottom 0.25s ease;
}

.panel-content-info-show {
  max-height: 350px;
  padding: 9px;
  border-bottom: 1px solid #CCCCCC;
}

.placeholder {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 9px;
  width: 360px;
  min-height: 40px;
  background-color: #2C2C2C;
  border: 1px solid #2C2C2C;
  border-top: 0px;
  color: #CCCCCC;
  transition: background-color 0.1s ease-in-out;
}

.placeholder-drop-over {
  background-color: #3C3C3C;
}

.panel-button {
  margin-right: 15px;
  color: #CCCCCC !important;
  margin-top: -17px;
  float: right;
  outline: none;
  transition: color 0.1s ease-in-out;
}

.panel-button:hover {
  color: #EEEEEE !important;
  cursor: pointer;
}

.panel-first-button {
  margin-right: 8px;
  color: #CCCCCC !important;
  margin-top: -17px;
  float: right;
  outline: none;
  transition: color 0.1s ease-in-out;
}

.panel-first-button:hover {
  color: #EEEEEE !important;
  cursor: pointer;
}

.preferences {
  transform-origin: 8px 8px;
  transition: transform 0.3s ease-in-out;
}

.preferences:hover {
  transform: rotate(60deg);
}
</style>