<!-- Copyright (C) Claus Bendig -->
<template>
  <div>
    <bus 
      :hasBusPreferences="false"
      :hasModulePreferences="false"
      :hasModuleAdd="false"
      :canScan="iface.canScan"
      :interfaceName="iface.Name"
      :busName="iface.Bus"
      :hasPlaceholder="true"
      :modules="iface.Modules"
      :infos="infos"
      :connected="Connected"
      @onBusRemove="onBusRemove"
      @onBusPreferences="onBusPreferences"
      @onBusScan="onBusScan"
      @onBusInfo="onBusInfo"
      @onModuleDrop="onModuleDrop"
      @onModuleAdd="onModuleAdd"
      @onModuleInfo="onModuleInfo"
      @onModulePreferences="onModulePreferences"
      @onModuleRemove="onModuleRemove"
    >
      <div slot="busInfo">
        Address: {{ iface.Address }}
      </div>
      <div slot="busPreferencesBody">
      </div>
      <div slot="busPreferencesFooter">
      </div>
      <div slot="busAddBody">
      </div>
      <div slot="busAddFooter">
      </div>
      <div v-for="(m, index) in iface.Modules" :slot="getSlotName('info', index)" :key="index">
        <div v-for="(v, vindex) in m.Variables" :key="vindex">
          {{ v.Name }}: {{v.MemoryType}}{{ iface.Address }}.{{ m.Address }}.{{ v.Address }}
        </div>
      </div>
      <div v-for="(m, index) in iface.Modules" :slot="getSlotName('modal_body', index)" :key="index">
        <div>{{m.Name}}</div>  
      </div>
      <div v-for="(m, index) in iface.Modules" :slot="getSlotName('modal_footer', index)" :key="index">
        <va-button>{{m.Name}}</va-button>
      </div>
    </bus>
  </div>
</template>

<script>
import Vue from 'vue';

export default {
  props: {
    iface: {
      type: Object,
    },
    Connected: {
      type: Boolean,
    }
  },
  data() {
    return {
      infos: []
    };
  },
  methods: {
    onBusScan() {
      let _this = this;
      this.$snotify.async("Scanning Kiwi-Bus ...", () => new Promise((resolve, reject) => {
        _this.$CM.scan(_this.iface, (msg) => {
          console.log(msg);
          if (msg.MSGType == 0) {
            reject({
              body: 'Error occured.',
              config: {
                closeOnClick: true,
                timeout: 2000,
                showProgressBar: true,
              },
            });
          } else {
            if (msg.Scanned == true) {
              _this.iface.Modules.splice(0, _this.iface.Modules.length);
              for (let i = 0; i < msg.Modules.length; i++) {
                let m = msg.Modules[i].Description;
                m.Address = msg.Modules[i].Address;
                _this.iface.Modules.push(m);
              }
              resolve({
                body: 'Kiwi-Bus scanned',
                config: {
                closeOnClick: true,
                  timeout: 2000,
                  showProgressBar: true,
                },
              });
            } else {
              reject({
                body: 'Couldn\'t scan Kiwi-Bus.',
                config: {
                  closeOnClick: true,
                  timeout: 2000,
                  showProgressBar: true,
                },
              });
            }
          }
        });
      }));
    },
    onBusInfo() {
    },
    onBusPreferences() {
    },
    onBusRemove() {
      this.$emit('onBusRemove');
    },
    onModuleAdd() {
    },
    onModuleInfo(index) {
    },
    onModulePreferences(index) {
    },
    onModuleDrop(m) {
      this.iface.Modules.push(m);
      this.infos.push(false);
    },
    onModuleRemove(index) {
      this.iface.Modules.splice(index, 1)
      this.infos.splice(index, 1)
    },
    getSlotName(type, index) {
      return type + '_' + index;
    }
  }
}
</script>

<style scoped lang="scss">
</style>