<!-- Copyright (C) Claus Bendig -->
<template>
  <div>
    <bus 
      :hasBusPreferences="true"
      :hasModulePreferences="true"
      :hasModuleAdd="true"
      :canScan="iface.canScan"
      :interfaceName="iface.Name"
      :busName="iface.Bus"
      :hasPlaceholder="false"
      :modules="iface.Modules"
      :infos="infos"
      :connected="Connected"
      @onBusRemove="onBusRemove"
      @onBusPreferences="onBusPreferences"
      @onBusScan="onBusScan"
      @onBusInfo="onBusInfo"
      @onModuleDrop="onModuleDrop"
      @onModuleAdd="onModuleAdd"
      @onModuleInfo="onModuleInfo"
      @onModulePreferences="onModulePreferences"
      @onModuleRemove="onModuleRemove"
    >
      <div slot="busInfo">
        Address: {{ iface.Address }}
      </div>
      <div slot="busPreferencesBody">
      </div>
      <div slot="busPreferencesFooter">
      </div>
      <div slot="busAddBody">
      </div>
      <div slot="busAddFooter">
      </div>
      <div v-for="(m, index) in iface.Modules" :slot="getSlotName('info', index)" :key="index">
      </div>
      <div v-for="(m, index) in iface.Modules" :slot="getSlotName('modal_body', index)" :key="index">
      </div>
      <div v-for="(m, index) in iface.Modules" :slot="getSlotName('modal_footer', index)" :key="index">
      </div>
    </bus>
  </div>
</template>

<script>
import Vue from 'vue';

export default {
  props: {
    iface: {
      type: Object,
    },
    Connected: {
      type: Boolean,
    }
  },
  data() {
    return {
      infos: []
    };
  },
  methods: {
    onBusScan() {
    },
    onBusInfo() {
    },
    onBusPreferences() {
    },
    onBusRemove() {
      this.$emit('onBusRemove');
    },
    onModuleAdd() {
    },
    onModuleInfo(index) {
    },
    onModulePreferences(index) {
    },
    onModuleDrop(m) {
    },
    onModuleRemove(index) {
    },
    getSlotName(type, index) {
      return type + '_' + index;
    }
  }
}
</script>

<style scoped lang="scss">
</style>